::-webkit-scrollbar {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 40px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;

}


.card-row {
    .flex-card {
        width: 260px;
        border: 1px solid var(--main-color);
        margin: 20px 20px 0 0;

        border-radius: var(--common-border-radius);
        flex-wrap: wrap;

        .card-heading {
            background-color: var(--main-color);
            border-radius: 7px 7px 0px 0px;
            filter: opacity(0.8);

            .card-input {
                input {
                    border-radius: 0;
                    background-color: transparent;
                    border: none;
                    color: var(--primary-color);
                    max-height: 30px;
                }

                input::placeholder {
                    font-style: italic;
                    font-weight: 100;
                    color: var(--primary-color);
                }
            }
        }

        .card-body {
            ::ng-deep {
                p-dropdown {
                    width: auto !important;
                }

                .p-dropdown {
                    background: none;
                    border: none;
                    border-bottom: 1px solid var(--main-color);
                    max-height: 30px !important;
                    border-radius: 0;
                    margin: 0 !important;
                    width: 175px !important;

                    .p-dropdown-label.p-placeholder {
                        color: var(--main-color);
                    }
                }
            }

            .detail-input {
                #cardInput.p-inputtext {
                    background: none;
                    border: none;
                    border-bottom: 1px solid var(--main-color);
                    max-height: 30px !important;
                    border-radius: 0;
                    width: 175px !important;
                }

                .p-inputtext::placeholder {
                    color: var(--main-color);
                }
            }
        }
    }
}

.rightSection {
    .centerTable {
        ::ng-deep {
            .p-datatable .p-datatable-tbody>tr>td {
                border: none;
                padding: 1rem;
            }

            .p-datatable .p-datatable-tbody>tr {
                background: none !important;
            }
        }
    }
}

.nextScreen {
    .registration-common-row {
        .top-searchbar {
            .text-wrap {
                white-space: nowrap !important;
            }

            .innerBox.input {
                width: 100% !important;
            }
        }

        .common-list {
            // border-bottom: 1px solid #D9D9D9;

            .avatar {
                ::ng-deep {
                    .p-avatar {
                        width: 1.5rem;
                        height: 1.5rem;
                        font-size: 0.75rem;
                    }
                }

                &:last-child {
                    margin-left: -8px;
                }
            }

            .playerInfo {
                max-width: 150px;
            }

            .checkbox-chain {
                width: 95%;

                .flexBase {
                    width: 100% !important;

                }
            }
        }
    }
}

.labeltag {
    width: 100px;
}


.col-lg-8 {
    // overflow-x: scroll;
    overflow: auto;
    cursor: pointer;
}

.avatar:not(:first-child) {
    margin-left: -12px;
}

.bk-color {
    background-color: #e0e2dd;
}

.parent {
    ::ng-deep {
        .p-dialog-content {
            padding: 0;
        }
    }

    .selectedGateway {
        transition: 0.2s ease;
        filter: drop-shadow(2px 4px 6px black);
    }
}

.text-size {
    font-size: smaller;
    font-weight: bold;
}


.catCarousel {
    .common-carousel {
        width: 100%;
    }

    ::ng-deep {
        .owl-theme .owl-nav {
            position: absolute;
            top: 50%;
            width: 100%;

            [class^="owl-"] {
                transform: translate(0, -109%) !important;
                padding: 7px !important;
                width: 25px;
                height: 25px;

                i {
                    color: var(--main-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.7rem;
                }
            }

            .owl-prev {
                left: -4px;
                background: white;
                border-radius: 50px;
                opacity: 1;
                box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
            }

            .owl-next {
                right: -10px;
                background: white;
                border-radius: 50px;
                opacity: 1;
                box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
            }
        }
    }
}

.flex-d-c {
    display: flex;
    flex-direction: column;
}

.parent {
    ::ng-deep {
        p-dialog {
            .p-element {
                .p-dialog-header {
                    padding: 0 10px !important;
                }

                .p-dialog-content {
                    padding-top: 0 !important;
                }
            }
        }
    }
}

.paymentMethod {
    padding: 0 0 0 10px;

    .options {
        gap: 1rem;
        margin: 0.5rem 0;

        .radio {
            gap: .5rem;
        }
    }
}

.paymentMessage {
    height: 70px;
    font-size: 20px;
    // border: 1px solid black;
}

.col-md-6 {
    img {
        transition: scale .1s ease;

        &:hover {
            // visibility: hidden;
            // filter: drop-shadow(2px 4px 6px black);
            box-shadow: 1px 3px 5px #888888;
            transform: scale(1.1);
        }
    }
}

.upperSection {
    max-height: 47vh;
    overflow: hidden;
    overflow-y: auto;
}

.lowerSection {
    border-top: 1px solid var(--In--vs);
}

.showHistory {
    a {
        text-decoration: underline;

        &:hover {
            color: var(--main-color)
        }
    }
}