<div *ngIf="!_showOfficial">
  <div>
    <div class="topBar">
      <div class="headings">
        <div class="flex-sb mb-2">
          <h4 class="p-green"><b>List of Added Officials</b></h4>
          <div class="flex-vc p-links innerClass" (click)="importMembers()">
            <p class="p-combine"><b>Import Member</b></p>
            <i class="i-small ms-2 p-combine pi pi-download"></i>
          </div>
        </div>
        <div class="flex-sb mb-2">
          <p class="p-green p-small">
            View a list of all officials added to the event or import more
            members
          </p>
        </div>
      </div>
      <div class="addMember">
        <div class="parent" style="margin-top: 1rem">
          <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
              <div class="upperSection flex-vc">
                <div class="dot"></div>
                <div class="s f-medium">Add Member</div>
              </div>

            </ng-template>
            <div class="innerContent">
              <form [formGroup]="_officialForm">
                <div class="row flex-vc">
                  <div class="col-lg-4">
                    <div class="inputSection">
                      <div class="detail-input">
                        <label for="detailInput" class="mb-2">Name</label>
                        <input [formControlName]="'officialName'" type="text" pInputText placeholder="Enter Name">
                        <div class="error-txt-msg mb-2" *ngIf="_isSubmit &&
                          _officialForm.controls['officialName'].hasError('required')" style="color: red">
                          Required Field.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="inputSection">
                      <div class="detail-input ">
                        <label for="detailInput" class="mb-2">Email</label>
                        <input [formControlName]="'officialEmail'" type="text" pInputText placeholder="Enter Email">
                        <div class="error-txt-msg mb-2" *ngIf="_isSubmit &&
                          _officialForm.controls['officialEmail'].hasError('required')" style="color: red">
                          Required Field.
                        </div>
                        <div class="error-txt-msg mb-2" *ngIf="
                          _isSubmit &&
                          _officialForm.controls['officialEmail'].hasError('email')
                          " style="color: red; font-size: 0.7rem; font-weight:
                          bold">
                          Invalid Email
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 butCol">
                    <div class="addMember flex-ve h-100 ">
                      <button class="btn btn_green m-0 w-auto" (click)="AddOfficial()">Add Member</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </p-panel>
        </div>
      </div>
      <div class="centerElement">
        <div class="common-tabView mt-4">
          <p-tabView (onChange)="tabSelection($event)" [activeIndex]="_tabIndex">
            <p-tabPanel header="List of officials" class="p-0">
              <div>
                <div class="top-searchbar mt-3 mb-3">
                  <div class="flex-vc">
                    <div class="innerBox-input">
                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" [(ngModel)]="_searchByPlayerName" pInputText (keydown)="searchPlayer()"
                          (keypress)="searchPlayer()" (keyup)="searchPlayer()" placeholder="Search..." />
                      </span>
                    </div>
                  </div>
                </div>
                <div class="innerContent">
                  <div class="table-responsive">
                    <table class="officialTable table">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>

                          <th scope="col">Email</th>
                          <th scope="col">Verification</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of _officialList">
                          <td scope="row">
                            <b>{{ data.name }}</b>
                          </td>

                          <td>{{ data.email }}</td>
                          <td [style.color]="'var(--success-color)'">
                            Verified
                          </td>
                          <td class="remover p-links" (click)="removeOfficial(data)">
                            <b>Remove</b>
                          </td>
                        </tr>
                        <tr *ngIf="_officialList.length == 0">
                          <td colspan="8" class="text-center py-4">
                            No record found.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Recently Removed">
              <div>
                <div class="top-searchbar mt-3 mb-3">
                  <div class="flex-vc">
                    <div class="innerBox-input">
                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" [(ngModel)]="_searchByPlayerNameD" pInputText
                          (keydown)="searchRecentDelatedPlayer()" (keypress)="searchRecentDelatedPlayer()"
                          (keyup)="searchRecentDelatedPlayer()" placeholder="Search..." />
                      </span>
                    </div>
                  </div>
                </div>
                <div class="innerContent">
                  <table class="officialTable table table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Verification</th>
                        <th scope="col" class="flex-hc">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of _officialRecentDeletedList">
                        <th scope="row">
                          <b>{{ data.name }}</b>
                        </th>
                        <td>{{ data.email }}</td>
                        <td [style.color]="'var(--success-color)'">
                          Verified
                        </td>
                        <td class="flex-vc justify-content-center t">
                          <i class="p-links p-combine i-small pi pi-download" (click)="addEventOfficial(data)"></i>
                        </td>
                      </tr>
                      <tr *ngIf="_officialRecentDeletedList.length == 0">
                        <td colspan="8" class="text-center py-4">
                          No record found.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
    <p-dialog [resizable]="false" [style]="{ width: '70vw' }" header="Import
      Members" [(visible)]="_showDialog" [modal]="true" [draggable]="false" [baseZIndex]="10000" (onHide)="Close()">
      <stupa-import-member-dialog (getOfficial)="importMembers()" [_importOfficialListCopy]="_importOfficialListCopy"
        [_importOfficialList]="_importOfficialList"></stupa-import-member-dialog>
    </p-dialog>
  </div>
</div>
<p-toast position="bottom-right" key="bc"></p-toast>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>
<stupa-create-official (landPage)="landPage($event)" *ngIf="_showOfficial"></stupa-create-official>