.reportSection {
    border: 1px solid #F4F4F4;
    box-shadow: 0 0 12px #0000000a;
    border-radius: 6px;

    ::ng-deep {
        textarea {
            resize: none;
            border-radius: 3px;
        }

        .textarea textarea {
            max-height: 500px !important;
            height: 75px;
            width: 100%;
        }

        .textarea1 textarea {
            max-height: 500px !important;
            height: 220px;
            width: 100%;

        }
    }
}