<!-- <p>personal-details works asdf!</p> -->
<!-- skelton layout starts  -->
<!-- <div class="skeletonlayout" *ngIf="_skeleton" style="margin: 62px 20px">
    <div class="row">
      <div class="col-lg-4">
        <div *ngFor="let item of id">
          <p-skeleton
            shape="rectangle"
            width="100%"
            height="35px"
            styleClass="mt-2"
            animation="wave"
            borderRadius="0"
          ></p-skeleton>
        </div>
      </div>
      <div class="offset-1 col-lg-6 ">
   
            <p-skeleton
              shape="rectangle"
              width="100%"
              height="200px"
              animation="wave"
            ></p-skeleton>
     
            <div  *ngFor="let item of id">
              <p-skeleton
                shape="rectangle"
                width="100%"
                height="35px"
                styleClass="mt-2"
                animation="wave"
                borderRadius="0"
              ></p-skeleton>
            </div>
      </div>
    </div>
  </div> -->
  <!-- skelton layout ends  -->

<!-- <div *ngIf="!_skeleton"> -->
<div class="personal-details-container">
    <div class="container">
        <div class="FirstSection">
            <h1>Personal Details</h1>
            <button *ngIf="!_isEdit" class="profile_buttons" (click)="editUserDetails()">Edit</button>
            <button *ngIf="_isEdit" class="profile_buttons common_update" (click)="updateUserDetails()">Update</button>
        </div>

        <div class="secondSection mt-4">
            <div class="leftsection">
                <p>Profile Image</p>
                <p>This will be displayed as your profile</p>
            </div>
            <div class="rightsection">
                <input #imageUploader type="file" accept="image/jpg, image/jpeg">
                <img [src]="_uploadImage" alt="" class="img-fluid">

                <div class="overlayBut p-links" >
                    <input [disabled]="!_isEdit" type="file" id="option-1" (change)="onFileDropped($any($event.target).files)"
                        accept="image/x-png, image/jpg, image/jpeg" /> <i class="bi bi-file-earmark-arrow-up fs-5" style="color: var(--main-bg);"></i>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-6">
                    <div class="leftsection">
                        <p>Profile Image</p>
                        <p>This will be displayed as your profile</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="rightsection">
                        <input type="file" accept="image/x-png, image/jpg, image/jpeg">
                    </div>
                </div>
            </div> -->
        </div>
        <div class="thirdSection mt-4">
            <div class="leftsection">
                <p >Name</p>
                <p>This will be displayed as your profile</p>
            </div>
            <div class="rightsection">
                <input [disabled]="true" type="text" name="" [(ngModel)]="_userDetails.name" id=""
                    placeholder="Name" class="nameii">
            </div>

        </div>
        <div class="fourthSection mt-4">
            <div class="leftsection">
                <p>Email</p>
                <p>You can’t change your E-Mail!</p>
            </div>
            <div class="rightsection">
                <input [disabled]="true" type="email" name="" [(ngModel)]="_userDetails.email" id=""
                    placeholder="test@email.com" class="nameii">
            </div>

        </div>
        <div class="sixthSection mt-4">
            <div class="leftsection">
                <p>Organization</p>
            </div>
            <div class="rightsection">
                <input [disabled]="true" type="text" name="" id="" [(ngModel)]="_userDetails.organisation"
                    placeholder="Club" class="nameii">
            </div>

        </div>
        
        <div class="sixthSection mt-4">
            <div class="leftsection">
                <p>Country</p>
            </div>
            <div class="rightsection">
                <input [disabled]="true" type="text" name="" id="" [(ngModel)]="_userDetails.country"
                    placeholder="Country" class="nameii">
            </div>

        </div>
        <div class="sixthSection mt-4">
            <div class="leftsection">
                <p>State</p>
            </div>
            <div class="rightsection">
                <input [disabled]="true" type="text" name="" id="" [(ngModel)]="_userDetails.state"
                    placeholder="State" class="nameii">
            </div>

        </div>
        <div class="sixthSection mt-4" *ngFor="let item of _userDetails.details">
            <div class="leftsection" *ngIf="item.data_type!== 'file'">
                <p>{{item.title}}</p>
            </div>
            <!-- <div class="rightsection">
                <input [disabled]="!_isEdit" type="text" name="" id="" [(ngModel)]="item.data" placeholder="Club">
            </div> -->
            <div [ngSwitch]="true" class="rightsection">
                <div *ngSwitchCase="item.data_type==='text'">
                    <input [disabled]="!_isEdit" id="signUpField" type="text" [(ngModel)]="item.data" pInputText
                        placeholder={{item.title}}>

                </div>
                <div *ngSwitchCase="item.data_type=== 'number'">
                    <input (keydown)="numberValueSet($event)" id="signUpNumber" type="number" pattern="[0-9]*"
                        [disabled]="!_isEdit" [(ngModel)]="item.data" pInputText placeholder={{item.title}} />
                </div>
                <div *ngSwitchCase="item.data_type=== 'phone'">
                    <input id="phonenumber" type="number" (keydown)="numberValueSet($event)" [(ngModel)]="item.data"
                        [disabled]="!_isEdit" pInputText placeholder={{item.title}} />


                </div>
                <!-- <div *ngSwitchCase="item.data_type=== 'file'">
                    <span class="p-input-icon-right">
                        <div class="rel" style="position: relative; cursor:pointer ;">
                            <input id="inputFilecss" style="cursor:pointer;" id="signUpFile" type="file" title="hello"
                                [(ngModel)]="item.data" pInputText placeholder={{item.title}} />
                            <img class="p_absolute social_icons_w20" src="../../../assets/icons/upload-icon.png" alt="">
                        </div>
                    </span>

                </div> -->
                <div *ngSwitchCase="item.data_type=== 'email'">
                    <input id="signUpEmail" type="email" [(ngModel)]="item.data" pInputText [disabled]="!_isEdit"
                        placeholder={{item.title}} />
                </div>
                <div *ngSwitchCase="item.data_type=== 'date'">
                    <p-calendar [disabled]="!_isEdit" inputId="basic" appendTo="body" [maxDate]="_currentDate"
                        dateFormat="yy-mm-dd" placeholder={{item.data}} [(ngModel)]="item.data" [readonlyInput]="_isEdit">
                    </p-calendar>
                </div>
                <div *ngSwitchCase="item.data_type === 'dropdown' && item.title==='City'">
                    <p-dropdown [disabled]="!_isEdit"
                    [options]="_cityList"
                    optionLabel="data"
                    [filter]="true"
                    optionValue="data"
                    [autoDisplayFirst]="false"
                    placeholder={{item.data}}
                    [(ngModel)]="item.data"
                  >
                  </p-dropdown>
                </div>
                <div *ngSwitchCase="item.data_type === 'dropdown' && item.title!='City'">
                    <p-dropdown 
                  >
                  </p-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

<p-toast position="bottom-right" key="bc"></p-toast>

<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>