<div class="tabContainer">
    <div class="innerBox">
        <div class="mb-4" (click)="goBackLandPage()">
            <button class="backBtn">
                <div class="commonBackBtn p-green">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" fill="currentColor"
                        class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>
                </div>
            </button>
        </div>
        <div class="topBar">
            <div class="flex-sb">
                <div class="leftContent">
                    <h4 class="p-green"><b>Recently Deleted</b></h4>
                </div>

            </div>
        </div>
        <p-table *ngIf="false" #request [value]="_players" [rows]="10" [showCurrentPageReport]="true" [paginator]="true"
            [globalFilterFields]="['name','email','country']">
            <ng-template pTemplate="caption">
                <div id="main">
                    <div class="flex-vc">
                        <span class="p-input-icon-left">
                            <i class="p-green pi pi-search"></i>
                            <input id="headerInput" pInputText type="text" placeholder="Find User" />
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" style="width:20%">Name
                    </th>
                    <th pSortableColumn="email" style="width:20%">Email
                    </th>

                    <th pSortableColumn="country" style="width:20%">State
                    </th>
                    <th pSortableColumn="email" style="width:20%">Phone
                    </th>
                    <th pSortableColumn="role" style="width:20%">Club
                    </th>
                    <th pSortableColumn="role" style="width:20%">Points
                    </th>
                    <th pSortableColumn="role" style="width:20%">Payment
                    </th>

                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-users>
                <tr>
                    <td>{{ "Ritesh Kumar" }}</td>
                    <td>{{ users.email }}</td>
                    <td>{{ 'Brazil' }}</td>
                    <td>{{ users.title }}</td>
                    <td>{{ users.title }}</td>
                    <td>{{ users.title }}</td>
                    <td>{{ users.title }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No user found.</td>
                </tr>
            </ng-template>
        </p-table>
        <div class="tableContainer mt-5" *ngIf="_currentParticipantId == 1">
            <p-table class="common-table" #request [value]="_players" [rows]="10" [showCurrentPageReport]="true"
                [paginator]="false" [globalFilterFields]="['name', 'email', 'country']">
                <ng-template pTemplate="caption">
                    <div id="main">
                        <div class="flex-vc">
                            <span class="p-input-icon-left">
                                <i class="p-green pi pi-search"></i>
                                <input id="headerInput" [(ngModel)]="_searchByPlayerName" type="text" pInputText
                                    (keyup)="searchPlayer()" (keypress)="searchPlayer()" (keydown)="searchPlayer()"
                                    placeholder="Find User" />
                            </span>

                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name" style="width: 20%">Name</th>
                        <th pSortableColumn="email" style="width: 20%">Email</th>
                        <th pSortableColumn="email" style="width: 20%">License</th>

                        <th pSortableColumn="club" style="width: 20%">Club</th>
                        <th pSortableColumn="points" style="width: 20%">Points</th>
                        <th pSortableColumn="payments" style="width: 20%">Payment</th>
                        <th class="text-center" pSortableColumn="action" style="width: 20%">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-users>
                    <tr>
                        <td>{{ users.name }}</td>
                        <td>{{ users.email }}</td>
                        <td>{{ users.license }}</td>
                        <td>{{ users.club }}</td>
                        <td>{{ users.rating }}</td>
                        <!-- <td>{{users.points==null?0:users.points}}</td> -->
                        <td>{{ "Cash" }}</td>
                        <td><i class="p-links p-combine i-small pi pi-download fu"
                                (click)="removeEventRegisteredParticipants(users)"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center py-4" colspan="8">No Player Found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="tableContainer mt-5" *ngIf="_currentParticipantId == 2">
            <p-table class="common-table" #request [value]="_teamList" [rows]="10" [showCurrentPageReport]="true"
                [paginator]="false">
                <ng-template pTemplate="caption">
                    <div id="main">
                        <div class="flex-vc">
                            <span class="p-input-icon-left">
                                <i class="p-green pi pi-search"></i>
                                <input id="headerInput" [(ngModel)]="_searchByTeamName" type="text" pInputText
                                    (keyup)="searchTeam()" (keypress)="searchTeam()" (keydown)="searchTeam()"
                                    placeholder="Find Team" />
                            </span>

                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="participant_name" style="width: 20%">Team Name</th>
                        <!-- <th pSortableColumn="email" style="width: 20%">Email</th> -->

                        <th pSortableColumn="name" style="width: 20%">Club</th>
                        <th pSortableColumn="points" style="width: 20%">Points</th>
                        <th pSortableColumn="payments" style="width: 20%">Payment</th>
                        <th class="text-center" pSortableColumn="action" style="width: 20%">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-users>
                    <tr>
                        <td>{{ users.participant_name }}</td>
                        <!-- <td>{{ users.email }}</td> -->

                        <td>{{ users.club }}</td>
                        <td>{{users.rating==null?0:users.rating}}</td>
                        <td>{{ "Cash" }}</td>
                        <td><i class="p-links p-combine i-small pi pi-download fu"
                                (click)="removeEventRegisteredParticipants(users)"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center py-4" colspan="8">No Team Found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="tableContainer mt-5" *ngIf="_currentParticipantId == 3">
            <p-table class="common-table" #request [value]="_doubleList" [rows]="10" [showCurrentPageReport]="true"
                [paginator]="false" [globalFilterFields]="['name', 'email', 'country']">
                <ng-template pTemplate="caption">
                    <div id="main">
                        <div class="flex-vc">
                            <span class="p-input-icon-left">
                                <i class="p-green pi pi-search"></i>
                                <input id="headerInput" [(ngModel)]="_searchByTeamName" type="text" pInputText
                                    (keyup)="searchTeam()" (keypress)="searchTeam()" (keydown)="searchTeam()"
                                    placeholder="Find Pair" />
                            </span>

                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="participant_name" style="width: 20%">Name</th>

                        <th pSortableColumn="club" style="width: 20%">Club</th>
                        <th pSortableColumn="points" style="width: 20%">Points</th>
                        <th pSortableColumn="payments" style="width: 20%">Payment</th>
                        <th class="text-center" pSortableColumn="action" style="width: 20%">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-users>
                    <tr>
                        <td>{{ users.participant_name }}</td>

                        <td>{{ users.club }}</td>
                        <td>{{users.rating==null?0:users.rating}}</td>
                        <td>{{ "Cash" }}</td>
                        <td><i class="p-links p-combine i-small pi pi-download fu"
                                (click)="removeEventRegisteredParticipants(users)"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center py-4" colspan="8">No Pair Found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="tableContainer mt-5" *ngIf="_currentParticipantId == 4">
            <p-table class="common-table" #request [value]="_mixDoubleList" [rows]="10" [showCurrentPageReport]="true"
                [paginator]="false">
                <ng-template pTemplate="caption">
                    <div id="main">
                        <div class="flex-vc">
                            <span class="p-input-icon-left">
                                <i class="p-green pi pi-search"></i>
                                <input id="headerInput" [(ngModel)]="_searchByTeamName" type="text" pInputText
                                    (keyup)="searchTeam()" (keypress)="searchTeam()" (keydown)="searchTeam()"
                                    placeholder="Find Pair" />
                            </span>

                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="participant_name" style="width: 20%">Name</th>

                        <th pSortableColumn="name" style="width: 20%">Club</th>
                        <th pSortableColumn="points" style="width: 20%">Points</th>
                        <th pSortableColumn="payments" style="width: 20%">Payment</th>
                        <th class="text-center" pSortableColumn="action" style="width: 20%">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-users>
                    <tr>
                        <td>{{ users.participant_name }}</td>
                        <td>{{ users.club }}</td>
                        <td>{{users.rating==null?0:users.rating}}</td>
                        <td>{{ "Cash" }}</td>
                        <td><i class="p-links p-combine i-small pi pi-download fu"
                                (click)="removeEventRegisteredParticipants(users)"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center py-4" colspan="8">No Pair Found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast position="bottom-right" key="bc"></p-toast>


<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>