<div class="setting main">
    <div class="gameSetting">
        <div *ngIf="_fixtureFormat!='special'" class="_standard">
            <div class="game-heading">
                <h6 class="p-secondary">Standard Games</h6>
            </div>
            <div class="game-body mt-2">
                <div class="row row-gap-2">
                    <div class="col-lg-8">
                        <div class="gameInfo">
                            <p class="p-secondary-dark f12">In standard games, a match consists of an odd number of
                                games,
                                such as 1, 3, 5, 7, or 9. To win the match, a player/team must achieve the maximum
                                number of game wins. The player/team who wins more games than their opponent's is
                                declared the winner. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label
                            [ngClass]="_gameSetting ===  'standard'?'radioBox flex-sb flex-hc p-links _selected':' radioBox flex-sb flex-hc p-links'">
                            <p>Standard Games</p>
                            <p-radioButton value="standard" [(ngModel)]="_gameSetting" name="games"></p-radioButton>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="_special mt-3">
            <div class="game-heading">
                <h6 class="p-secondary">Special Games</h6>
            </div>
            <div class="game-body mt-2">
                <div class="row row-gap-2">
                    <div class="col-lg-8">
                        <div class="gameInfo">
                            <p class="p-secondary-dark f12">In special games, a match consists of any number of games,
                                ranging from 1 to 9. Regardless of wins or losses, both players/teams are required to
                                play all the games in the match. The winner of the match is determined by other criteria
                                or objectives specified within the game rules. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label
                            [ngClass]="_gameSetting === 'special'?'radioBox flex-sb flex-hc p-links _selected':' radioBox flex-sb flex-hc p-links'">
                            <p>Special Games</p>
                            <p-radioButton value="special" [(ngModel)]="_gameSetting" name="games"></p-radioButton>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="selectAny mt-4">
        <div class="game-heading">
            <h6 class="p-secondary">Select Any</h6>
        </div>
        <div class="row mt-2 row-gap-2">
            <div class="col-lg-6">
                <label
                    [ngClass]="_type === 'allRounds'?'radioBox flex-sb flex-hc p-links  _selected':' radioBox flex-sb flex-hc p-links'">
                    <p>Apply to all rounds</p>
                    <p-radioButton [(ngModel)]="_type" value="allRounds" name="type"></p-radioButton>
                </label>
            </div>
            <div class="col-lg-6">
                <label
                    [ngClass]="_type === 'roundWise'?'radioBox flex-sb flex-hc p-links  _selected':' radioBox flex-sb flex-hc p-links'">
                    <p>Round wise</p>
                    <p-radioButton [(ngModel)]="_type" value="roundWise" name="type"></p-radioButton>
                </label>
            </div>
        </div>
    </div>
    <div class="setList mt-4" data-aos="fade-in" *ngIf=" _type === 'allRounds'">
        <div class="setbox" *ngIf="_gameSetting === 'standard'">
            <div class="set-inner p-links" *ngFor="let item of _standardSetList; let i=index"
                (click)="selectSet(item,i,_gameSetting)">
                <div [ngClass]="item.isActive ? 'selectedSet set-inner-title':'set-inner-title'"
                    class="set-inner-title">
                    <p class="p-secondary-dark">{{item.set}}</p>
                </div>
            </div>
        </div>
        <div class="setbox" *ngIf="_gameSetting === 'special'">
            <div class="set-inner p-links" *ngFor="let item of _specialSetList,; let i=index"
                (click)="selectSet(item,i,_gameSetting)">
                <div [ngClass]="item.isActive ?'selectedSet set-inner-title':'set-inner-title'" class="set-inner-title">
                    <p class="p-secondary-dark">{{item.set}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- *ngIf="_fixtureFormat =='Group-PlayOff'" -->
    <div class="roundWiseSet mt-3" data-aos="fade-in" *ngIf=" _type === 'roundWise'">
        <div class="innerContent">
            <div class="row">
                <div *ngFor="let item of grpList" class="col-md-4 roundBox">
                    <div class="setTable-heading text-center">
                        <h6 class="p-secondary">{{item.group_name}}</h6>
                    </div>
                    <div class="setTable-body">
                        <div *ngFor="let item2 of item.rules" class="row w-100 m-auto">
                            <div class="col-8 ">
                                <div class="innerPad flex-vc roundName text-center flex-hc">
                                    <p class="p-secondary-dark">{{item2.round_description}}</p>

                                </div>
                            </div>
                            <div *ngIf="_gameSetting === 'special'" class="col-4">
                                <div class="innerPad flex-vc roundSets flex-hc">
                                    <div class="badge-dropdown">
                                        <p-dropdown appendTo="body" [options]="_specialSetsList" optionLabel="set"
                                            placeholder={{item2.rule_set}} optionValue="set"
                                            [(ngModel)]="item2.rule_set"
                                            (onChange)="rulePoints(item.rules,item2,item)"></p-dropdown>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="_gameSetting === 'standard'" class="col-4">
                                <div class="innerPad flex-vc roundSets flex-hc">
                                    <div class="badge-dropdown">
                                        <p-dropdown appendTo="body" [options]="_standardSetsList" optionLabel="set"
                                            placeholder={{item2.rule_set}} optionValue="set"
                                            [(ngModel)]="item2.rule_set"
                                            (onChange)="rulePoints(item.rules,item2,item)"></p-dropdown>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="empty">
                            <div class="row w-100 h-100 m-auto">
                                <div class="col-8"></div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="done flex-e mt-2    ">
        <button class="btn btn_green w-auto m-0" (click)="updateEventCategoryRoundSettings()">Done</button>
    </div>
    <p-toast position="bottom-right" key="bc"></p-toast>