.toast-box {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99999999999999999;
    border-radius: 15px;
    color: white !important;
    padding: 0.6rem;
    min-height: 5.8rem;
    min-width: 20rem;

    .toast-content {
        padding: 0 0.2rem;
    }

    .closeBut {
        position: absolute;
        right: 0.8rem;
        top: 0.5rem;
    }

    .toast-inner-circle {
        position: relative;
        width: 40px;
        height: 40px;

        .msg-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        svg {
            width: 100%;
            height: 100%;

            path {
                fill: rgb(0 0 0 / 39%);
            }
        }
    }

    &._success {
        background-color: #2D6A4F;

    }

    &._fail {
        background-color: #DB3056;

    }

    &._info {
        background-color: #315397;

    }

    &._warn {
        background-color: #F88F01;

    }
}