<!-- <h1>world rank works</h1> -->
<div class="add_world_rank_component">
    <div class="bodySection">
      <!-- heading starts -->
      <!-- <div class="heading">
        <h2>Ranking</h2>
      </div> -->
      <div class="common-tabView" >
        <p-tabView (onChange)="currentTab($event)" [activeIndex]="_tabIndex">
          <p-tabPanel header="Male">
             
          </p-tabPanel>
          <p-tabPanel header="Female">
             
          </p-tabPanel>
      </p-tabView>
      </div>
      <!-- heading ends -->
  
      <!-- search bar sectoin starts  -->
      <div class="searchBarSection">
        <div class="row">
          <div class="col-12">
            <div class="top-searchbar mt-3 mb-3">
              <div class="flex-vc">
                <div class="innerBox-input">
                  <span class="p-input-icon-left">
                    <i class="p-green pi pi-search"></i>
                    <input pInputText [(ngModel)]="search" type="text" placeholder="Find Player" (keyup)="searchPlayers()"
                  (keypress)="searchPlayers()" (keydown)="searchPlayers()"/>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-2 flex-vc">
            <button (click)="AddRank()">Add World Rank</button>
          </div> -->
        </div>
      </div>
      <!-- search bar sectoin ends  -->
  
      <!-- World Ranking table starts -->
      <p-table class="common-table text-center" [value]="Players_array" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr style="font-size: 14px;">
            <th>Current rank</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Club</th>
            <th>World rank</th>
            <th>Points</th>
            <!-- <th>Action</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr >
            <td style="color:var(--main-color); font-weight: bold;">{{item.ranking}}</td>
            <td style="color:var(--main-color);">{{item.name}}</td>
            <td style="color:var(--main-color)">{{item.dob}}</td>
            <td style="color:var(--main-color);font-weight: bold;">{{item.club}}</td>
            <td style="color:var(--main-color); font-weight: bold;">{{item.world_rank}}</td>
            <td style="color:var(--combinating-color);font-weight: bold;">{{item.points}} <i class="pi pi-exclamation-circle p-links" (click)="showRanks(true,item)"></i></td>
            <!-- <td>{{item.name}}</td> -->
            <!-- <td style="color:var(--main-color);" class="p-links" (click)="editContent(item)">Edit <span> <i class="pi pi-pencil i-small p-green "
                  ></i></span>
            </td> -->
          </tr>
        </ng-template>
       
      </p-table>
      <div class="table-paginator mt-3">
        <p-paginator [rows]="10" [first]="first" [totalRecords]="_totalPlayers"
          (onPageChange)="paginate($event)"></p-paginator>
      </div>
      <!-- World Ranking table ends -->
    </div>
  </div>
  <!-- rank save dialog start -->
  <div class="MatchS-popup">
    <p-dialog [(visible)]="saveRankDialog" [modal]="true" [style]="{ width: '33vw' }" [draggable]="false"
      [resizable]="false">
      <div  class="flex-vc Mleft_right">
        <p class="flex-grow1">{{currentSelectedData.name}}</p>
        <p class="flex-grow1">{{currentSelectedData.dob}}</p>
        <p class="flex-grow1">{{currentSelectedData.club}}</p>
        <p class="flex-grow1">{{currentSelectedData.points}}</p>
      </div>
      <div class="flex-vc input mt-4">
        <input type="number" pInputText [(ngModel)]="value" placeholder="Add Rank" />
        <button (click)="add_world_rank()" class="common_green_btn flex-grow1">Save</button>
      </div>
    </p-dialog>
  </div>
  <!-- rank save dialog ends -->
  
  
  <!-- dialog code -->
  <div class="parent">
    <p-dialog header="Header" [(visible)]="openDialog" [modal]="true" [style]="{ width: '55vw' }" [draggable]="false"
      [resizable]="false">
      <div class="Section">
        <div class="svg flex-e" (click)="removeDialog()">
          <svg fill="#000000" width="800px" height="800px" viewBox="0 0 24 24" id="cross" data-name="Flat Color"
            xmlns="http://www.w3.org/2000/svg" class="icon flat-color">
            <path id="primary"
              d="M13.41,12l6.3-6.29a1,1,0,1,0-1.42-1.42L12,10.59,5.71,4.29A1,1,0,0,0,4.29,5.71L10.59,12l-6.3,6.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l6.29,6.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"
              style="fill: rgb(0, 0, 0)"></path>
          </svg>
        </div>
        <div class="row">
          <div class="col-7">
            <div class="top-searchbar mt-3 mb-3">
              <div class="flex-vc">
                <div class="innerBox-input">
                  <span class="p-input-icon-left">
                    <i class="p-green pi pi-search"></i>
                    <input pInputText type="text" placeholder="Find User" />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 flex-vc">
            <input pInputText pKeyFilter="int" placeholder="Add Rank" />
          </div>
          <div class="col-2 flex-vc">
            <button>Save</button>
          </div>
        </div>
      </div>
    </p-dialog>
  </div>
  <!-- dialog code ends  -->

  <p-dialog [resizable]="false" #pDialog [(visible)]="overlayVisible" [style]="{ width: '55vw' }" [draggable]="false"
  [modal]="true" [showHeader]="false">
  <div class="innerContent">
    <div class="flex-e">
      <i class="pi pi-times-circle p-links" (click)="showRanks(false,'')" style="margin-bottom: 1rem;"></i>
    </div>
    <p-table class="common-table text-center" [value]="_ratingHistory">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Match </th>
          <th>Time</th>
          <th>Increment</th>
          <th>Decrement</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"  let-player let-columns="columns">
        <tr>
          <td>{{ player.match_id }}</td>
          <td>{{ player.time | date:'HH:mm'}}</td>
          <td>{{ player.increment }}</td>
          <td>{{ player.decrement }}</td>
        </tr>
      </ng-template>
      
    </p-table>
  </div>
</p-dialog>