.broadcast-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin: 0px 200px 0px 200px;

  .backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid black;
    border-radius: 50px;
    height: 30px;
    width: 30px;
  }

  .mb-3 {
    margin-top: 1rem !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
  }

  /* Style the entire tab view */
  ::ng-deep {
    .p-tabview {
      .p-tabview-nav li {
        display: flex;
        flex-basis: 50%;

        .p-tabview-nav-link:not(.p-disabled):focus {
          box-shadow: none !important;
        }

        .p-tabview-nav-link {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          padding: 15px;
          border-radius: 1px;
          background: var(--bg-color);
        }
      }

      .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        color: white;
        background: var(--main-bg);
      }
    }
  }
}

@media screen and (width >=319px) and (width <=425px) {
  .broadcast-container {
    margin: 0 !important;

    ::ng-deep {
      p-tabview {
        .p-tabview {
          .p-tabview-nav-container {
            .p-tabview-nav-content {
              ul {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (width >=426px) and (width <=768px) {
  .broadcast-container {
    margin: 0 !important;

    ::ng-deep {
      p-tabview {
        .p-tabview {
          .p-tabview-nav-container {
            .p-tabview-nav-content {
              ul {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (width >=769px) {}