<div class="broadcast-container">
    <div class="mb-3">
        <button style="border: none" class="backBtn" routerLink="/home/organize" routerLinkActive="active">
            <div class="commonBackBtn p-green">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" fill="currentColor"
                    class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg>
            </div>
        </button>
        Back
    </div>
    <p-tabView [(activeIndex)]="index" (onChange)="getTabIndex($event)">
        <p-tabPanel header="Tournament Details">
            <p>
                <stupa-tournament-details *ngIf="index == 0"
                    (matchIndex)="getliveMatchIndex($event)"></stupa-tournament-details>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Create Live Match">
            <p>
                <app-create-match *ngIf="index == 1" (tournamentIndex)="getTournamentIndex($event)"></app-create-match>
            </p>
        </p-tabPanel>
    </p-tabView>

    <!-- </form> -->

</div>

<p-toast position="bottom-right" key="bc"></p-toast>






















<!-- <div class="common-svg">
    <stupa-common-svg-msg [_buttonTitle]="_buttonTitle" [_pageMainTitle]="_pageMainTitle"
        (eventClicked)="eventClicked()" [_pageSubTitle]="_pageSubTitle"></stupa-common-svg-msg>
</div> -->