<div class="nextScreen">
  <div class="registration-common-row my-2">
    <div class="top-searchbar">
      <div class="flex-vc gap-3">
        <div class="innerBox-input">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" [(ngModel)]="_searchTeams" (keyup)="findTeams()" (keypress)="findTeams()"
              (keydown)="findTeams()" pInputText placeholder="Find Team" />
          </span>
        </div>
        <div class="showHistory">
          <p class="text-nowrap p-links" routerLink="/profile-menu/order-history" routerLinkActive="active">
            <a>View History</a>
          </p>
        </div>
      </div>
    </div>
    <div class="upperSection mt-3">
      <!-- skelton layout starts  -->
      <!-- <div class="skeletonlayout" *ngIf="_skeleton" style="margin-top: 1rem">
          <div class="heading" style="margin-bottom: 1rem">
            <div class="row" style="margin-top: 2rem;">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="d-flex align-items-center" style="gap: 1rem">
                      <p-skeleton shape="circle" width="40px" height="40px" styleClass="mr-2"
                        animation="wave"></p-skeleton>
                      <div class="flex-column d-flex" style="gap: 5px">
                        <p-skeleton shape="rectangle" width="100px" height="16px" styleClass="mr-2"
                          animation="wave"></p-skeleton>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <p-skeleton shape="rectangle" width="100%" height="20px" styleClass="mr-2"
                      animation="wave"></p-skeleton>
                  </div>
                  <div class="col-lg-1">
                    <p-skeleton shape="rectangle" width="100%" height="20px" styleClass="mr-2"
                      animation="wave"></p-skeleton>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 2rem;">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="d-flex align-items-center" style="gap: 1rem">
                      <p-skeleton shape="circle" width="40px" height="40px" styleClass="mr-2"
                        animation="wave"></p-skeleton>
                      <div class="flex-column d-flex" style="gap: 5px">
                        <p-skeleton shape="rectangle" width="100px" height="16px" styleClass="mr-2"
                          animation="wave"></p-skeleton>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <p-skeleton shape="rectangle" width="100%" height="20px" styleClass="mr-2"
                      animation="wave"></p-skeleton>
                  </div>
                  <div class="col-lg-1">
                    <p-skeleton shape="rectangle" width="100%" height="20px" styleClass="mr-2"
                      animation="wave"></p-skeleton>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 2rem;">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="d-flex align-items-center" style="gap: 1rem">
                      <p-skeleton shape="circle" width="40px" height="40px" styleClass="mr-2"
                        animation="wave"></p-skeleton>
                      <div class="flex-column d-flex" style="gap: 5px">
                        <p-skeleton shape="rectangle" width="100px" height="16px" styleClass="mr-2"
                          animation="wave"></p-skeleton>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <p-skeleton shape="rectangle" width="100%" height="20px" styleClass="mr-2"
                      animation="wave"></p-skeleton>
                  </div>
                  <div class="col-lg-1">
                    <p-skeleton shape="rectangle" width="100%" height="20px" styleClass="mr-2"
                      animation="wave"></p-skeleton>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 2rem;">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="d-flex align-items-center" style="gap: 1rem">
                      <p-skeleton shape="circle" width="40px" height="40px" styleClass="mr-2"
                        animation="wave"></p-skeleton>
                      <div class="flex-column d-flex" style="gap: 5px">
                        <p-skeleton shape="rectangle" width="100px" height="16px" styleClass="mr-2"
                          animation="wave"></p-skeleton>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <p-skeleton shape="rectangle" width="100%" height="20px" styleClass="mr-2"
                      animation="wave"></p-skeleton>
                  </div>
                  <div class="col-lg-1">
                    <p-skeleton shape="rectangle" width="100%" height="20px" styleClass="mr-2"
                      animation="wave"></p-skeleton>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 2rem;">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="d-flex align-items-center" style="gap: 1rem">
                      <p-skeleton shape="circle" width="40px" height="40px" styleClass="mr-2"
                        animation="wave"></p-skeleton>
                      <div class="flex-column d-flex" style="gap: 5px">
                        <p-skeleton shape="rectangle" width="100px" height="16px" styleClass="mr-2"
                          animation="wave"></p-skeleton>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <p-skeleton shape="rectangle" width="100%" height="20px" styleClass="mr-2"
                      animation="wave"></p-skeleton>
                  </div>
                  <div class="col-lg-1">
                    <p-skeleton shape="rectangle" width="100%" height="20px" styleClass="mr-2"
                      animation="wave"></p-skeleton>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div> -->
      <!-- skelton layout ends  -->
      <div class="main" *ngFor="let team of _players; let i = index">
        <div class="common-list mt-4">
          <div class="row">
            <div class="col-lg-2">
              <div class="flex-sb">
                <div class="flex-vc mb-3 h-100">
                  <p-avatarGroup label="P">
                    <p-avatar class="filled-avatar" *ngFor="let team1 of team.playerList.slice(0, 3)" styleClass="mr-2"
                      shape="circle" label="{{ team1.name[0] }}"></p-avatar>
                    <p-avatar class="filled-avatar" *ngIf="team.playerList.length - 3 > 0" styleClass="mr-2"
                      shape="circle" label="+{{ team.playerList.length - 3 }}"></p-avatar>
                  </p-avatarGroup>
                  <div class="playerInfo ms-3">
                    <p class="p-green text-overflow">
                      <b>{{ team.player_name }}</b>
                    </p>
                  </div>
                </div>
                <div class="amount p-combine" *ngIf="innerWidth < 768">
                  <!-- <p> <b>&dollar;{{ team.eventAmount }}</b></p> -->
                  <p> <b><strong>&#107;&#114;</strong>{{ team.eventAmount }}</b></p>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-10 my-2  catCarousel">
              <div class="common-carousel">
                <owl-carousel-o [options]="_eventSlider">
                  <ng-container *ngFor="
                    let item of team.categories_list;
                    let catIndex = index">
                    <ng-template carouselSlide [width]="180">
                      <div
                        [ngClass]="item.isSelected ? 'p-green innerSection fw-bold':'p-secondary innerSection fw-bold'">
                        <div class="flex-vc flex-hc">
                          <div class="flex-sb flexBase">
                            <div class="flex-vc field-checkbox">
                              <input id="checkInput" (click)="currentEvent($event, i, catIndex)" type="checkbox"
                                class="htmlCheckbox me-2" [checked]="item.checked" />
                              <label class="">{{ item.categoryName }}</label>
                            </div>
                          </div>
                        </div>
                        <div style="margin-left: 53px;">
                          <b>
                            <p class="p-small">&#107;&#114;{{ item.price }}</p>
                          </b>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
            <div class="col-lg-1" *ngIf="innerWidth >= 768">
              <div class="end amount h-100 flex-vc">
                <p class="p-green">
                  <!-- <b>&dollar;{{ team.eventAmount }}</b> -->
                  <b><strong>&#107;&#114;</strong>{{ team.eventAmount }}</b>
                  <!-- <b>&#82;&#36;{{ team.eventAmount }}</b> -->
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="flex-vc mb-3">
              <p-avatarGroup label="P">
                <p-avatar *ngFor="let team1 of team.playerList.slice(0,3)" styleClass="mr-2" shape="circle"
                  label={{team1.name[0]}}></p-avatar>
                <p-avatar *ngIf="team.playerList.length-3 > 0" styleClass="mr-2" shape="circle"
                  label=+{{team.playerList.length-3}}></p-avatar>
              </p-avatarGroup>
              <div class="playerInfo ms-3">
                <p class="p-green text-overflow">
                  <b>{{ team.player_name }}</b>
                </p>
              </div>
            </div> -->

          <!-- <div class="flex-sb flex-vc">
              <div class="checkbox-chain mx-3">
                <div class="flex-vc flex-hc">
                  <div class="flex-sb flexBase flex-wrap">
                    <div class="flex-vc field-checkbox" *ngFor="
                        let item of team.categories_list;
                        let catIndex = index
                      ">
                      <input id="checkInput" (click)="currentEvent($event, i, catIndex)" type="checkbox"
                        class="htmlCheckbox me-2" [checked]="item.checked" />
                      <label class="">{{
                        item.categoryName
                        }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="end amount">
                <p class="p-green">
                  <b>&dollar;{{ team.eventAmount }}</b>
                </p>
              </div>
            </div> -->
        </div>
      </div>
      <div class="text-center py-4" *ngIf="_playersCopy.length === 0">
        <p>No Team Found</p>
      </div>

    </div>
    <div class="lowerSection mt-2">
      <div class="flex-sb gap-3 py-4 px-0">
        <div class="sideHeading">
          <h5 class="p-secondary"><b>Total Payment</b></h5>
        </div>
        <div class="flex-vc flex-hc gap-2">
          <h6 class="p-green"><b>No. of Teams</b></h6>
          <h6 class="p-combine"><b>{{ length.length }}</b></h6>
        </div>
        <div class="flex-vc flex-hc gap-2">
          <h6 class="p-green"><b>Total Amount</b></h6>
          <h6 class="p-combine"><b><strong>&#107;&#114;</strong> {{ _totalAmount }}</b></h6>
          <!-- <p>&#82;&#36; {{ _totalAmount }}</p> -->
        </div>
        <div class=" paymentBox gap-5">
          <div class="paynow" *ngIf="_playersCopy.length > 0">
            <div class="flex-s">
              <button *ngIf="_totalAmount != 0" class="btn btn_green m-0 w-auto p-links" (click)="showPaymentgatway()">
                <b>Pay Now</b>
              </button>
              <button *ngIf="_totalAmount === 0" class="btn btn_green m-0 w-auto " (click)="showPaymentgatway()">
                <b>Register Now</b>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-3" *ngIf="_playersCopy.length > 0">
        <div class="flex-h-sb">
          <div class="topHeading flex-h">
            <h4 class="p-secondary">Total Payment</h4>
            <br>
            <h6 class="p-green">No. of Teams: {{length.length}}</h6>
          </div>
          <div class="totalBill">
            <div class="EqlLine">
              <p-divider></p-divider>
              <div class="flex-sb">
                <h6 class="p-green">Total Bill</h6>
                <h6 class="p-combine">&dollar;{{ _totalAmount }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  </div>
  <!-- <div class="paynow" *ngIf="_playersCopy.length > 0">
      <div class="flex-e">
        <h4 *ngIf="_totalAmount != 0" class="p-combine p-links" (click)="showPaymentgatway()"><b>Pay Now</b></h4>
        <h4 *ngIf="_totalAmount === 0" class="p-combine p-links" (click)="showPaymentgatway()"><b>Register</b></h4>
      </div>
    </div> -->

</div>
<p-toast position="bottom-right" key="bc"></p-toast>
<div class="parent">
  <p-dialog [resizable]="false" [(visible)]="_showPaymentGateways" [modal]="true" (onHide)="hidePaymentgatway()"
    [style]="{ width: '23vw',height:'auto' }" [draggable]="false" [header]="'Payment'" [resizable]="false">
    <div class="paymentMethod">
      <!-- <p>Payment Method</p> -->
      <div class="options flex-vc">
        <div class="flex-vc radio">
          <input (change)="radiochange($event)" type="radio" value="online" name="paymentMethod" id="online"
            checked="checked" />
          <label for="online" id="onlinelabel">Online</label>
        </div>
        <div class="flex-vc radio">
          <input (change)="radiochange($event)" type="radio" value="offline" name="paymentMethod" id="offline" />
          <label for="offline" id="offlinelabel">Offline</label>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row  row-gap-2 " *ngIf="_onlinePaymentDone">
        <div class="col-md-6 text-center" *ngFor="let item of _paymentGatewaysList;let i=index">
          <!-- <p-avatar (click)="selectPaymentGateway(item)" [image]="item.logo" [disabled]="item.isActive"
            [icon]="item.logo == undefined || item.logo == ''? 'pi pi-user' : ''"
            [ngClass]="item.isActive?'md-2 p-links':'md-2 isDisable'" size="large"></p-avatar>
          <p [ngClass]="item.isActive?'md-2 p-links':'md-2 isDisable'">{{item.name}}</p> -->
          <img [src]="item.logo" [ngClass]="item.isActive ? 'img-fluid p-links selectedGateway':'img-fluid p-links'"
            (click)="selectPaymentGateway(i)" alt="" style="height:97px;">
        </div>
      </div>
      <div class="paymentMessage flex-vc flex-hc" data-aos="fade-right" *ngIf="_offlinePaymentDone">
        <h6>Proceed for offline payment..</h6>
      </div>
      <div class="row  bk-color flex-vc flex-hc py-2 mt-3">
        <div class="col-md-9">
          <h6 class="p-combine">&dollar;{{ _totalAmount }}</h6>
          <p class="text-size">Total Items : {{ length.length}}</p>
        </div>
        <div class="col-md-3 text-center">
          <button class="btn btn_green m-0" (click)="payNow()">Pay</button>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>