.body {
  display: flex;
  // height: calc(100vh - 50px);
}

.stupa-my-profile-sidebar {
  min-width: 300px;
  background-color: var(--profileSidebar);
}

.stupa-personal-details {
  // height: 100vh;
  width: 100%;
  margin-top: 1rem;
  background-color: var(--box-bg);
}


@media screen and (width >= 319px) and (width <= 425px){
  .body{
   flex-direction: column;
   margin-top: 3rem;
  }
}