<div class="common-dialog">
    <div class="innerContent">
        <div class="main" *ngFor="let item of _showDetailsonIcon.players;let i = index">
            <div class="common-list mt-4">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="flex-vc">
                            <p-avatar label={{profileLetterService(item.participant_name)}} styleClass="mr-2"
                                shape="circle"></p-avatar>
                            <div class="playerInfo ms-3">
                                <p class="p-green text-overflow"><b>{{item.participant_name}}</b></p>
                                <p class="p-green text-overflow">{{item.email
                                    }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 flex-vc ">
                        <owl-carousel-o [options]="_eventSlider">
                            <ng-container *ngFor="let category of item.categories;let catIndex = index">

                                <ng-template carouselSlide [width]="180">
                                    <label for="checkInput">{{category}}</label>

                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                        <!-- <div class="checkbox-chain mx-3" *ngFor="let category of item.categories;let catIndex = index">
                            <label for="checkInput">{{category}}</label> -->
                        <!-- <div class="flex-vc flex-hc">
                            <div class="flex-sb flexBase ">
                                <div class="flex-vc field-checkbox ">
                                    <input id="checkInput" type="checkbox" class="htmlCheckbox me-2"
                                        [checked]="true">
                                    <label for="checkInput" class="text-overflow">{{category}}</label>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="end amount">
                            <p class="p-green"><b>${{category.total}}</b></p>
                        </div> -->
                        <!-- </div> -->
                    </div>
                    <div class="col-lg-1 flex-hc flex-vc">
                        <p class="p-green">
                            <b>&dollar;{{item.total}}</b>
                        </p>
                    </div>
                </div>

                <!-- old code here -->


            </div>
            <p-divider></p-divider>
        </div>
    </div>
</div>

<!-- <div class=" flex-vc">
                    <div class="flex-vc">
                        <p-avatar label="DL" styleClass="mr-2" shape="circle"></p-avatar>
                        <div class="playerInfo ms-3">
                            <p class="p-green text-overflow"><b>{{item.participant_name}}</b></p>
                            <p class="p-green text-overflow">{{item.email
                            }}</p>
                        </div>
                    </div>
                    <div class="checkbox-chain mx-3" *ngFor="let category of item.categories;let catIndex = index">
                        <label for="checkInput">{{category}}</label>
                        
                       
                    </div>

                    <p class="p-green"><b>${{item.total}}</b></p>
                </div> -->