<div class="tie">
    <div class="flex-e">
        <button class="btn btn-common" (click)="showTie()">Create Tie</button>
    </div>
    <div class="card-list row">
        <div class=" col-lg-4 mt-3" *ngFor="let item of tieList[0]">
            <div class="utt-card card">
                <div class="card-heading flex-sb w-100 px-3">
                    <h6 class="text-center">
                        {{item.name}}
                    </h6>
                    <h6>
                        {{item.tie_participants[0].games_won + '-' + item.tie_participants[1].games_won}}
                    </h6>
                </div>
                <div class="card-body">
                    <div class="py-2" *ngIf="item.matches.length> 0">
                        <h6>Matches</h6>
                    </div>
                    <div class="player" *ngFor="let player of item.matches;let i=index">
                        <div class="">
                            <div class="flex-vc gap-2">
                                <div class="flex-vc gap-2 flex-grow-1">
                                    <p class="pOverflow">{{player.match_participants[0].name}}</p>
                                    <p>vs</p>
                                    <p class="pOverflow">{{player.match_participants[1].name}}</p>
                                </div>
                                <div class="gameScore px-2">
                                    {{player.match_participants[0].games_won + '-' +
                                    player.match_participants[1].games_won}}
                                </div>
                            </div>
                            <!-- <p class="player-sno">{{i+1}}.</p> -->
                            <!-- <p>{{player.name}}</p> -->
                        </div>
                    </div>
                    <div class="flex-e">
                        <div class="py-2">
                            <button class="btn btn-common" (click)="showAddMatches(item)">Add Matches</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <p-dialog header="Header" [(visible)]="_createTie" [style]="{width: 'auto'}">
   
</p-dialog> -->
<div class="dialogModal " *ngIf="_createTie">
    <dialog open class="_createTieDialog">
        <div class="closeDialog mb-2">
            <div class="flex-e">
                <div class="p-links" (click)="closeDialog('createTie')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="innerContent">
            <div class="teamSelection">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="heading">
                            <h5>Team A</h5>
                        </div>
                        <!-- <p-dropdown [options]="squadList" [autoDisplayFirst]="true" optionLabel="name"></p-dropdown> -->
                        <select id="teamA" #teamA [(ngModel)]="selectedTeam1" class="mt-2" name="teamA"
                            (ngModelChange)="getSelectedTeam($event,'teamA',teamA)">
                            <option value="{{i}}" *ngFor=" let item of squadList;let i = index">{{item.name}}</option>

                        </select>
                    </div>
                    <div class="col-lg-6">
                        <div class="heading">
                            <h5>Team B</h5>
                        </div>
                        <!-- <p-dropdown [options]="squadList" [autoDisplayFirst]="true" optionLabel="name"></p-dropdown> -->
                        <select id="teamB" #teamB [(ngModel)]="selectedTeam2"
                            (ngModelChange)="getSelectedTeam($event,'teamB',teamA)" class="mt-2" name="teamB">
                            <option value="{{i}}" *ngFor=" let item of squadList;let i = index">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <div class="heading">
                            <p>Select Date</p>
                        </div>
                        <!-- <p-dropdown [options]="squadList" [autoDisplayFirst]="true" optionLabel="name"></p-dropdown> -->
                        <input class="dateTime mt-2" type="datetime-local" placeholder="Date" #dateTime id="dateTime"
                            (change)="setDateTime(dateTime)">

                    </div>
                    <div class="col-lg-6">
                        <div class="heading">
                            <p>Group Type</p>
                        </div>
                        <!-- <p-dropdown [options]="squadList" [autoDisplayFirst]="true" optionLabel="name"></p-dropdown> -->
                        <select id="teamB" [(ngModel)]="selectedGrpType" class="mt-2" name="teamB" id="teamB">
                            <option value="{{item.name}}" *ngFor=" let item of grp_type;let i = index">{{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="flex-e mt-3">
                    <button class="btn btn-common" (click)="createTie()">Create Tie</button>
                </div>
            </div>
        </div>
    </dialog>
</div>
<div class="dialogModal" *ngIf="addMatches">
    <dialog open>
        <div class="closeDialog mb-2">
            <div class="flex-e">
                <div class="p-links" (click)="closeDialog('addMember')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="innerContent">
            <div class="heading">

            </div>
            <div class="createMatchBody">
                <form [formGroup]="_createMatchForm">
                    <div class="row flex-hc flex-vc row-gap-2">
                        <div class="col-lg-4">
                            <input type="number" placeholder="Table no." formControlName="table">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="Umpire Name" formControlName="umpire">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="Match Name" formControlName="match_name">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="Category Name" formControlName="category_name">
                        </div>
                        <div class="col-lg-4">
                            <input type="number" placeholder="Day" formControlName="day">
                        </div>
                        <div class="col-lg-4">
                            <input type="datetime-local" placeholder="Date" formControlName="datetime">
                        </div>
                        <div class="col-12 my-1" *ngFor="let tt of _fieldList">
                            <div class="row flex-vc flex-hc" *ngIf="tt.isSingle">
                                <div class="col-lg-5">
                                    <label for="playerA">Team A</label>
                                    <select id="playerA" [(ngModel)]="tt.player_teamA" class="mt-2"
                                        (ngModelChange)="getSelectedPlayer($event)"
                                        [ngModelOptions]="{standalone: true}">
                                        <option [value]="item.name +'*'+item.user_id"
                                            *ngFor=" let item of teamAList[0].users;let i = index">
                                            {{item.name}}
                                        </option>

                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <p class="text-center">vs</p>
                                </div>
                                <div class="col-lg-5">
                                    <label for="playerB">Team B</label>

                                    <select id="playerB" [(ngModel)]="tt.player_teamB" class="mt-2"
                                        (ngModelChange)="getSelectedPlayer($event)"
                                        [ngModelOptions]="{standalone: true}">
                                        <option [value]="item.name +'*'+item.user_id"
                                            *ngFor=" let item of teamBList[0].users;let i = index">
                                            {{item.name}}
                                        </option>

                                    </select>
                                </div>
                            </div>
                            <div class="forDoubles" *ngIf="!tt.isSingle">
                                <div class="row flex-vc flex-hc">
                                    <div class="col-lg-5">
                                        <div class="row">
                                            <div class="col-6">
                                                <select [(ngModel)]="tt.dropValuePlayerAOne" class="mt-2"
                                                    (ngModelChange)="getSelectedPlayer($event)"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option [value]="item.name +'*'+item.user_id"
                                                        *ngFor=" let item of teamAList[0].users;let i = index">
                                                        {{item.name}}
                                                    </option>

                                                </select>

                                            </div>
                                            <div class="col-6">
                                                <select [(ngModel)]="tt.dropValuePlayerBOne" class="mt-2"
                                                    (ngModelChange)="getSelectedPlayer($event)"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option [value]="item.name +'*'+item.user_id"
                                                        *ngFor=" let item of teamAList[0].users;let i = index">
                                                        {{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="text-center">vs</p>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="row">
                                            <div class="col-6">
                                                <select [(ngModel)]="tt.dropValuePlayerATwo" class="mt-2"
                                                    (ngModelChange)="getSelectedPlayer($event)"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option [value]="item.name +'*'+item.user_id"
                                                        *ngFor=" let item of teamBList[0].users;let i = index">
                                                        {{item.name}}
                                                    </option>

                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <select [(ngModel)]="tt.dropValuePlayerBTwo" class="mt-2"
                                                    (ngModelChange)="getSelectedPlayer($event)"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option [value]="item.name +'*'+item.user_id"
                                                        *ngFor=" let item of teamBList[0].users;let i = index">
                                                        {{item.name}}
                                                    </option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="action-buttons mt-4">
                        <div class="flex-vc gap-2 flex-hc">
                            <button class="btn btn-common" (click)="addField(true)"
                                [disabled]="_fieldList.length == 1">Add Single</button>
                            <button class="btn btn-common" (click)="addField(false)"
                                [disabled]="_fieldList.length == 1">Add Double</button>
                            <button class="btn btn-common" (click)="createMatch()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </dialog>
</div>