<!-- <p>member-ships works!</p> -->
<div class="personal-details-container">
    <div *ngIf="!_exploreMem" class="container">
        <div class="buy-membership" *ngIf="!_upgrade">
            <div class="section-top flex-hc">
                <div class="content">
                    <div class="imgContainer">
                        <img class="img-fluid" src="../../../assets/icons/logo.png" alt="">
                    </div>
                    <div class="switchContainer">
                        <div class="flex-vc">
                            <p>Monthly</p>
                            <div class="switch setButton mx-1">
                                <p-inputSwitch [(ngModel)]="_isMonthly" class="flex-vc flex-hc">
                                </p-inputSwitch>
                            </div>
                            <p>Yearly</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-bottom">
                <div class="cardsContainer">
                    <div class="cards flex-hc" *ngIf="!_isMonthly">
                        <div class="membership-card" *ngFor="let item of _monthlyList">
                            <p class="heading-card mt-3">{{item.title}}</p>
                            <h2 class="mb-3 mt-2">&dollar;{{item.data.base_amount}}</h2>
                            <div class="buyButton flex-hc">
                                <button class="btn btn_green mb-4 w-auto" (click)="payNow(item)">Buy Now</button>
                            </div>
                            <div class="features" *ngIf="true">
                                <div class="row m-2" *ngFor="let Item of item.features">
                                    <div class="col-2 checkIcon">
                                        <i class="pi pi-check"></i>
                                    </div>
                                    <div class="col-10 flex-hc">
                                        <p>{{Item}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards flex-hc" *ngIf="_isMonthly">
                        <div class="membership-card" *ngFor="let item of _yearlyList">
                            <p class="heading-card mt-3">{{item.title}}</p>
                            <h2 class="mb-3 mt-2">&dollar;{{item.data.base_amount}}</h2>
                            <div class="buyButton flex-hc">
                                <button class="btn btn_green mb-4 w-auto" (click)="checkUserMembershipStatus(item)">Buy
                                    Now</button>
                            </div>
                            <div class="features" *ngIf="true">
                                <div class="row m-2" *ngFor="let Item of item.features">
                                    <div class="col-2 checkIcon">
                                        <i class="pi pi-check"></i>
                                    </div>
                                    <div class="col-10 flex-hc">
                                        <p>{{Item}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="FirstSection" *ngIf="_upgrade">
            <p>Memberships</p>
        </div>

        <div *ngIf="_upgrade" class="lowersection">
            <div class="cards">
                <p>Current Plan</p>
                <p>{{_memberShipListP?.user?.title}}</p>
                <p class="items" *ngFor="let feature of _memberShipListP?.user?.features">{{feature}}</p>
            </div>
            <div class="right_section" *ngIf="_memberShipListP != null">
                <button (click)="upgrade()">Upgrade Plan</button>
            </div>
        </div>
    </div>

    <div *ngIf="_exploreMem" class="lowersection">
        <div>
            <stupa-common-svg-msg
                [_pageSubTitle]="'You have not purchased any CBTM membership. Do not limit yourself, buy the membership and participate in the events.'"
                [_pageMainTitle]="'No Associated Membership'" (eventClicked)="upgrade()"
                [_buttonTitle]="'Buy-Membership'"></stupa-common-svg-msg>
            <!-- <button class="btn btn_green w-auto m-0" (click)="getMemberShip() ">Explore memberships</button> -->
        </div>
    </div>
</div>
<!-- <p-dialog [resizable]="false" [(visible)]="_showDialog" [modal]="true"  [draggable]="false"
    [style]="{width: '60vw'}" [baseZIndex]="10000" (onHide)="closePopUp()">
    
</p-dialog> -->
<!-- <stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader> -->
<p-toast position="bottom-right" key="bc"></p-toast>
<div class="parent">
    <p-dialog [resizable]="false" [(visible)]="_showPaymentGateways" [modal]="true" (onHide)="hidePaymentgatway()"
        [style]="{ width: '23vw',height:'auto' }" [draggable]="false" [header]="'Payment'" [resizable]="false">
        <div class="paymentMethod">
            <!-- <p>Payment Method</p> -->
            <div class="options flex-vc">
              <div class="flex-vc radio">
                <input  (change)="radiochange($event)" type="radio" value="online" name="paymentMethod" id="online"  checked="checked"/>
                <label for="online" id="onlinelabel">Online</label>
              </div>
              <div class="flex-vc radio">
                <input  (change)="radiochange($event)" type="radio" value="offline" name="paymentMethod" id="offline"/>
                <label for="offline" id="offlinelabel" >Offline</label>
              </div>
            </div>
          </div>
        <div class="container">
            <div class="row  row-gap-2 " *ngIf="_onlinePaymentDone">
                <div class="col-md-6 text-center" *ngFor="let item of _paymentGatewaysList;let i=index">
                    <!-- <p-avatar (click)="selectPaymentGateway(item)" [image]="item.logo" [disabled]="item.isActive"
              [icon]="item.logo == undefined || item.logo == ''? 'pi pi-user' : ''"
              [ngClass]="item.isActive?'md-2 p-links':'md-2 isDisable'" size="large"></p-avatar>
            <p [ngClass]="item.isActive?'md-2 p-links':'md-2 isDisable'">{{item.name}}</p> -->
                    <img [src]="item.logo"
                        [ngClass]="item.isActive ? 'img-fluid p-links selectedGateway':'img-fluid p-links'"
                        (click)="selectPaymentGateway(i)" alt="" style="height:97px;">
                </div>
            </div>
            <div class="paymentMessage flex-vc flex-hc" data-aos="fade-right"  *ngIf="_offlinePaymentDone">
                <h6>Proceed for offline payment..</h6>
              </div>
            <div class="row  bk-color flex-vc flex-hc py-2 mt-3">
                <div class="col-md-9">
                    <h6 class="p-combine">&dollar; {{ _paybleAmount }}</h6>
                </div>
                <div class="col-md-3 text-center">
                    <button class="btn btn_green m-0" (click)="buyMemberShip()">Pay</button>
                </div>
            </div>
        </div>
    </p-dialog>
</div>