// skelton css starts
.skeletonlayout {
  margin: 0 20px;
  .flex-vc{
    flex-wrap: wrap;
    gap: 1rem;
  }
}

// skeleton css end

.topBar {
  .row {
    .col-lg-2 {
      .innerContent {
        .centerElement {
          margin: 0.6rem 0;
        }
      }
    }

    .ree {
      position: relative;

      .top-searchbar {
        position: absolute;
        width: 97%;
        top: 0;
        left: 0;
        transform: translate(0, 129%);
      }
    }
  }
}

.top-searchbar .innerBox-input .p-inputtext {
  background: #f8f8f8;
  box-shadow: none;
}

// skelton css starts
.skeletonlayout {
  .heading {
    ::ng-deep {
      p-skeleton {
        .p-skeleton {
          // z-index: 99999;
          margin-top: 1rem;
        }
      }
    }
  }

  .cards {
    .mt-2 {
      .col-lg-6 {
        &:nth-child(2) {
          ::ng-deep {
            p-skeleton {
              float: right;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.thumbnail {
  img {
    border-radius: 10px;
  }

  .img-cover {
    border-radius: 10px;
  }
}

// skeleton css end


.wrapper3 {
  .col-lg-3 {
    margin-top: 0.5rem;
    transition: all 0.3s ease;
  }

  .flexContainer {
    .bgImg {
      .upcomingBgImg {
        border-radius: var(--common-border-radius);
      }

      .innerColor {
        border-radius: var(--common-border-radius);
      }
    }
  }
}

.wrapper3 {
  color: white;
  margin: 6.7rem;

  .flexContainer {
    .col-lg-4 {
      margin: 4vh 0;
    }

    .bgImg {
      border-radius: var(--common-border-radius);
      position: relative;
      height: 180px;

      .uppercontent {
        max-height: 90px;

        h4 {
          overflow: hidden;
          text-overflow: ellipsis;

          b {
            font-size: 15px;
          }
        }
      }

      .upcomingBgImg {
        vertical-align: middle;
        position: absolute;
        z-index: -1;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .innerColor {
        background-color: rgba(0, 0, 0, 0.504);
        border-radius: var(--common-border-radius);
        height: 100%;
      }
    }
  }
}

.date {
  color: var(--success-color);
}

.innerColor {
  border-radius: 10px;
  backdrop-filter: brightness(0.5);
  background-color: rgba(0, 0, 0, 0.504);
  border-radius: var(--common-border-radius);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  .uppercontent {
    p {
      // font-size: 15px;
      font-size: 80%;
      line-height: 16px;
    }
  }

  .centercontent {
    p {
      font-size: 80%;
    }
  }

  .third-flex {
    .date {
      font-size: 11px;
    }
  }
}

.view img {
  width: 10px;
}

.matchInfo {
  height: 100%;
  position: relative;

  .place {
    height: 3rem;
  }

  .bottomInfo {
    position: absolute !important;
    bottom: 0;
    z-index: 88;
  }
}

.owl-card {
  // margin-left: 6.7rem;
  flex-direction: row;

  .thumbnail {
    position: relative;
    height: 177px;


    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .img-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //background: rgba(0, 0, 0, 0.43);
    }

    .liveIcon {
      position: absolute;
      left: 4%;
      top: 4%;
    }
  }
}

.liveMatchModule .section.section-recentVid {
  background-color: var(--box-bg);
}

.fullScreenVideo {
  ::ng-deep {
    .p-dialog-content {
      padding: 0 !important;
    }
  }

  .videoPlayer {
    position: relative;
    height: 70vh;

    .videoM3 {
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .closeBut {
    position: absolute;
    z-index: 999999;
    right: 1rem;
    top: 1rem;
  }
}

.btn-videoBut {
  background-color: #ffffff;
  border: 1px solid #bcbcbc;
  color: black;
  border-radius: 50px;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
}