<!-- skelton layout starts  -->
<!-- <div class="skeletonlayout" *ngIf="_skeleton && event !== null" style="margin: 0px 0px">
  <div class="row">
    <div class="col-lg-12">
      <p-skeleton
        shape="rectangle"
        width="30%"
        height="20px"
        animation="wave"
        styleClass="mt-2"
      ></p-skeleton>
      <p-skeleton
        shape="rectangle"
        width="20%"
        height="20px"
        animation="wave"
        styleClass="mt-2"
      ></p-skeleton>
    </div>
  </div>
  <div class="row" style="margin-top: 1rem">
    <div class="col-lg-6">
      <p-skeleton
        shape="rectangle"
        width="60%"
        height="80px"
        animation="wave"
        styleClass="mt-2"
      ></p-skeleton>
    </div>
    <div class="col-lg-6">
      <p-skeleton
        shape="rectangle"
        width="100%"
        height="25px"
        animation="wave"
        styleClass="mt-2"
      ></p-skeleton>
    </div>
  </div>
  <div class="row" style="margin-top: 1rem">
    <div class="col-lg-6">
      <p-skeleton
        shape="rectangle"
        width="100%"
        height="150px"
        animation="wave"
        styleClass="mt-2"
      ></p-skeleton>
    </div>
    <div class="col-lg-6">
      <div class="row sideRow" *ngFor="let item of id">
        <div class="col-lg-12">
          <p-skeleton
            shape="rectangle"
            width="100%"
            height="30px"
            animation="wave"
            styleClass="mt-2"
          ></p-skeleton>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 1rem">
    <div class="col-lg-4">
      <p-skeleton
        shape="rectangle"
        width="100%"
        height="30px"
        animation="wave"
        styleClass="mt-2"
      ></p-skeleton>
    </div>
  </div>
</div> -->
<!-- skelton layout ends  -->

<div *ngIf="event !=null">
  <form [formGroup]="_ruleSettingForm" action="" *ngIf="event != null">
    <div *ngIf="_eventFlag" class="container">
      <div class="first__DIV">
        <div class="flex-header">
          <div class="left-text">
            <h5><b>Rules settings</b></h5>
          </div>
          <div class="flex-vc gap-2 p-links">
            <p (click)="reset()" class="p-combine">Reset</p>
            <i class="pi pi-refresh p-combine p-small"></i>
          </div>
        </div>
        <div class="singleH my-2">
          <p class="p-green">Regulations and guidelines that govern the gameplay, & scoring</p>
        </div>
      </div>

      <div class="second__DIV my-2">
        <div class="rule-heading mt-3">
          <h6 class="p-secondary"><b>Standard Point</b></h6>
        </div>
        <div class="row row-gap-2">
          <div class="col-lg-7">
            <div class="innerContent pe-5">

              <div class="rule-content mt-2">
                <p class="p-secondary-dark">A game shall be won by the player or pair first scoring 11 points unless
                  both players or pairs score
                  10 points, when the game shall be won by the first player or pair subsequently gaining a lead of 2
                  points.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="box">
              <input type="radio" id="option-8" [formControlName]="'pointSystem'" value="1" />
              <label for="option-8" class="option-8 p-links">
                <div class="text p-links">Standard Point System</div>
                <div class="dot"></div>
              </label>
            </div>
          </div>
        </div>
        <div class="rule-heading mt-4">
          <h6 class="p-secondary"><b>Golden Point</b></h6>
        </div>
        <div class="row row-gap-3">
          <div class="col-lg-7">
            <div class="innerContent pe-5">

              <div class="rule-content mt-2">
                <p class="p-secondary-dark">Each Game shall have Players competing with each other to score 11 points
                  first, meaning in the event
                  that scores are level at 10-all then the 11th point will be a Golden Point and shall decide the
                  winner.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="box">
              <input type="radio" id="option-2" [formControlName]="'pointSystem'" value="2" />
              <label for="option-2" class="option-2 p-links">
                <div class="text p-links">Golden Point System</div>
                <div class="dot"></div>
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="fourth__DIV">
        <div class="row">
          <div class="col-lg-7">
            <div class="left">
              <p>Or Select from a pre defined choosen number</p>
            </div>
          </div>
          <div class="col-lg-5 f">
            <div class="right">
              <div class="items">
                <div
                  class="overflow-hidden"
                  *ngFor="let item of _ruleItems; let i = index"
                >
                  <input class="radioButton" type="radio" />

                  <button
                    [ngClass]="item.isActive ? 'itemFocus2' : ''"
                    class="item first p-links"
                    (click)="currentRule(item, i)"
                  >
                    {{ item.name }}
                    <br />
                  </button>
                </div>
              </div>

              <div class="nothing"></div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="format_section mt-4">

        <h5>Team match format</h5>
        <div class="half_Davis_Section cup_section">
          <!-- <input type="radio" name="same" id=""> -->
          <p-radioButton [formControlName]="'teamMatches'" [value]=3></p-radioButton>
          <div class="content_Section">
            <div class="flex-vc">
              <p>Half Davis Cup</p>
              <div (mouseover)="halfDevis.toggle($event)" (mouseleave)="halfDevis.hide()">
                <svg class="p-links" width="15" height="19" viewBox="0 0 19 19" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M19 9.5C19 11.3789 18.4428 13.2157 17.399 14.7779C16.3551 16.3402 14.8714 17.5578 13.1355 18.2769C11.3996 18.9959 9.48947 19.184 7.64665 18.8175C5.80383 18.4509 4.11109 17.5461 2.78249 16.2175C1.45389 14.8889 0.549104 13.1962 0.182544 11.3534C-0.184015 9.51054 0.00411622 7.60041 0.723149 5.86451C1.44218 4.12861 2.65982 2.64491 4.22209 1.60104C5.78435 0.557165 7.62108 0 9.5 0C12.0187 0.00272419 14.4335 1.00449 16.2145 2.78549C17.9955 4.5665 18.9973 6.98128 19 9.5ZM10.2917 3.95833H8.70834V11.875H10.2917V3.95833ZM10.2917 13.4583H8.70834V15.0417H10.2917V13.4583Z"
                    fill="#1E2C53" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="full_Davis_Section cup_section">
          <!-- <input type="radio" name="same" id=""> -->
          <p-radioButton [formControlName]="'teamMatches'" [value]=5></p-radioButton>
          <div class="content_Section">
            <div class="flex-vc">
              <p>Full Davis Cup</p>
              <div (mouseover)="fullDevis.toggle($event)" (mouseleave)="fullDevis.hide()">
                <svg class="p-links" width="15" height="19" viewBox="0 0 19 19" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M19 9.5C19 11.3789 18.4428 13.2157 17.399 14.7779C16.3551 16.3402 14.8714 17.5578 13.1355 18.2769C11.3996 18.9959 9.48947 19.184 7.64665 18.8175C5.80383 18.4509 4.11109 17.5461 2.78249 16.2175C1.45389 14.8889 0.549104 13.1962 0.182544 11.3534C-0.184015 9.51054 0.00411622 7.60041 0.723149 5.86451C1.44218 4.12861 2.65982 2.64491 4.22209 1.60104C5.78435 0.557165 7.62108 0 9.5 0C12.0187 0.00272419 14.4335 1.00449 16.2145 2.78549C17.9955 4.5665 18.9973 6.98128 19 9.5ZM10.2917 3.95833H8.70834V11.875H10.2917V3.95833ZM10.2917 13.4583H8.70834V15.0417H10.2917V13.4583Z"
                    fill="#1E2C53" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="team_match_Section cup_section">
          <p-radioButton [formControlName]="'teamMatches'" [value]=9></p-radioButton>
          <div class="content_Section">
            <div class="flex-vc">
              <p>3xTeam Matches</p>
              <div (mouseover)="teamMatch.toggle($event)" (mouseleave)="teamMatch.hide()">
                <svg class="p-links" width="15" height="19" viewBox="0 0 19 19" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M19 9.5C19 11.3789 18.4428 13.2157 17.399 14.7779C16.3551 16.3402 14.8714 17.5578 13.1355 18.2769C11.3996 18.9959 9.48947 19.184 7.64665 18.8175C5.80383 18.4509 4.11109 17.5461 2.78249 16.2175C1.45389 14.8889 0.549104 13.1962 0.182544 11.3534C-0.184015 9.51054 0.00411622 7.60041 0.723149 5.86451C1.44218 4.12861 2.65982 2.64491 4.22209 1.60104C5.78435 0.557165 7.62108 0 9.5 0C12.0187 0.00272419 14.4335 1.00449 16.2145 2.78549C17.9955 4.5665 18.9973 6.98128 19 9.5ZM10.2917 3.95833H8.70834V11.875H10.2917V3.95833ZM10.2917 13.4583H8.70834V15.0417H10.2917V13.4583Z"
                    fill="#1E2C53" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fifth__DIV">
        <div class="flex-footer my-4">
          <div class="left-text">
            <p *ngIf="_showSuccessMsg">
              Your details have been successfully updated.
            </p>
          </div>
          <div class="flex-e">
            <button class="btn btn_green" (click)="updateRules()">Update</button>
          </div>
          <!-- <div  class="right-button">
                    <button (click)="updateCategory()">Update</button>
                </div> -->
        </div>
      </div>
    </div>
    <!-- <div *ngIf="!_eventFlag">
      <div class="first__DIV">
        <div class="flex-header">
          <div class="left-text">
            <h5>Rules settings</h5>
          </div>
          <div class="right-text p-links">
            <p (click)="resetCategory()">Reset</p>
            <img src="../../../../assets/icons/round-arrow.png" class="w1111" alt="" />
          </div>
          <!-- <div class="right-text p-links">
                    <p (click)="reset()">Reset</p>
                    <img src="../../../../assets/icons/round-arrow.png" width="11" height="11" alt="">
                </div> 
        </div>
        <div class="singleH my-2">
          <p>You can update Rules Settings. Default settings are marked.</p>
        </div>
      </div>
      <div class="singleP mt-3">
        <p>Selection Type</p>
      </div>

      <div class="second__DIV my-2">
        <div class="row">
          <div class="col-lg-7">
            <div class="left-heading">
              <p>
                Choose selection type for the
                <span class="light"> Event </span> or Specific<span class="light">
                  Category / Class
                </span>
              </p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="dropdown">
              <p-dropdown optionLabel="name" #dropdown [options]="_cities" placeholder="Category & Class"
                (onChange)="selectRuleType($event)">
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="singleP mb-0">
        <p>Select rule form</p>
      </div>

      <div class="third__DIV my-3">
        <div class="row">
          <div class="g">
            <div class="singleP mb-0"></div>
            <p class="singleP mb-0">
              You can select rule specifically for each category or class
            </p>
          </div>
        </div>
      </div>
      <div class="fourth__DIV">
        <p>Category</p>
        <div class="bottomSection mt-5">
          <div class="common-carousel">
            <owl-carousel-o [options]="_eventSlider">
              <ng-container *ngFor="let item of _rulesCategory; let i = index">
                <ng-template carouselSlide>
                  <div class="relativeCard mt-3">
                    <div class="flex-sb _borderedCard" style="height: 9rem">
                      <div class="text p-2">
                        <p class="p-secondary-dark">
                          <b>{{ item.category_description }}</b>
                        </p>

                        <p class="p-green mt-3">
                          {{ item.participant_type_id + "," + item.gender_id }}
                        </p>
                      </div>

                      <div *ngIf="item.addCategoryList && _rulesCard" class="rulesCard">
                        <!-- <div class="dropdown">
                                            <button id="btn" (click)="closeCard(i)" class="container">
                                                <img src="../../../../assets/icons/cancle.png" class="img-fluid" alt="">
                                            </button>
                                        </div> 

                        <input type="radio" id="reassignPoint-1" [formControlName]="'reassignPoints'"
                          value="Standard Point" />
                        <input type="radio" id="reassignPoint-2" [formControlName]="'reassignPoints'"
                          value="Golden Point" />

                        <label for="reassignPoint-1" class="pointSet p-links" [style.background]="
                            _ruleSettingForm.controls['reassignPoints']
                              .value === 'Standard Point'
                              ? '#ffffff17'
                              : 'transparent'
                          ">
                          <div class="text text-nowrap">
                            Standard Point System
                          </div>
                        </label>
                        <!-- <hr> 
                        <label for="reassignPoint-2" class="pointSet p-links" [style.background]="
                            _ruleSettingForm.controls['reassignPoints']
                              .value === 'Golden Point'
                              ? '#ffffff17'
                              : 'transparent'
                          ">
                          <div class="text">Golden Point System</div>
                        </label>
                        <div class="pointSet">
                          <div class="rulesCardItems">
                            <div class="overflow-hidden" *ngFor="let item of _ruleItems; let i = index">
                              <input class="radioButton" type="radio" />
                              <button [ngClass]="
                                  item.isActive ? 'itemFocus' : 'normalItem'
                                " (click)="currentCategoryRule(item, i)">
                                {{ item.name }}
                                <br />
                                <!-- <div class="vertical"></div> 
                              </button>
                            </div>
                          </div>
                          <div class="nothing"></div>
                        </div>
                      </div>
                      <!-- <div *ngIf="!_rulesCard && !item.addCategoryList">
                                    </div> 
                    </div>

                    <div class="addRules mt-2">
                      <div class="addRules" class="flex-sb">
                        <button ngClass="btn btn_green m-0" *ngIf="
                            !item.addCategoryList && !item.updatedCardValue
                          ">
                          <div class="flex-sb flex-vc w-100">
                            <p>
                              {{ item.rule_point }}, Set of {{ item.rule_set }}
                            </p>
                            <div class="vertical"></div>
                            <div class="">
                              <p (click)="reassignCard(i)">Reassign</p>
                            </div>
                          </div>
                        </button>
                        <button ngClass="btn btn_green m-0" *ngIf="item.addCategoryList && !item.updatedCardValue">
                          <div class="flex-sb flex-vc w-100">
                            <p>
                              {{ item.rule_point }}, Set of {{ item.rule_set }}
                            </p>
                            <div class="vertical"></div>
                            <div class="">
                              <p (click)="updateCard(i, item)">Update</p>
                            </div>
                          </div>
                        </button>

                        <button ngClass="btn btn_green m-0" *ngIf="item.updatedCardValue">
                          <div class="flex-sb flex-vc w-100">
                            <p>
                              {{ item.rule_point }}, Set of
                              {{
                              item.rule_set === undefined ? 5 : item.rule_set
                              }}
                            </p>
                            <div class="vertical"></div>
                            <div class="">
                              <p (click)="reassignCard(i)">Reassign</p>
                            </div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>

      <div class="fifth__DIV">
        <div class="flex-footer my-4">
          <div class="left-text">
            <p *ngIf="_showSuccessMsg">
              Your details have been successfully updated.
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </form>
</div>
<p-overlayPanel #halfDevis>
  <ng-template pTemplate="content">
    <p><b>Match Format</b></p>
    <p>A1 – B2</p>
    <p> A2 – B1</p>
    <p> Double match</p>
  </ng-template>
</p-overlayPanel>
<p-overlayPanel #fullDevis>
  <ng-template pTemplate="content">
    <p><b>Match Format</b></p>
    <p>A1 – B2</p>
    <p> A2 – B1</p>
    <p> Double match</p>
    <p>A1 – B1</p>
    <p>A2 – B2</p>
  </ng-template>
</p-overlayPanel>
<p-overlayPanel #teamMatch>
  <ng-template pTemplate="content">
    <p><b>Match Format</b></p>
    <p>A - X</p>
    <p>B - Y</p>
    <p>C - Z</p>
    <p>B - X</p>
    <p>A - Z</p>
    <p>C - Y</p>
    <p>B - Z</p>
    <p>C - X</p>
    <p>A - Y</p>
  </ng-template>
</p-overlayPanel>

<p-toast position="bottom-right" key="bc"></p-toast>
<stupa-common-svg-msg *ngIf="event === null" (eventClicked)="eventClicked()"></stupa-common-svg-msg>
<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>