.mainCont {
  ::ng-deep {
    .p-selectbutton.p-buttonset {
      background: #eaeaea;
      display: flex;
      border-radius: var(--common-border-radius);
      justify-content: center;
      align-items: center;
    }

    .p-buttonset {
      .p-button {
        padding: 0.5rem 3rem !important;
        font-size: 12px;
        border: none;
        border-radius: var(--common-border-radius) !important;
      }

      .p-button:focus {
        box-shadow: none;
      }
    }

    .p-selectbutton .p-button.p-highlight {
      background-color: white !important;
      color: black;
      font-weight: bold;
      padding: 0.3rem 3rem !important;
      border: none;
      border-radius: 0;
      margin: 3px;
    }

    .p-selectbutton .p-button:not(.p-highlight) {
      .p-button-label {
        font-weight: 500 !important;
      }
    }

    .p-selectbutton .p-button {
      background-color: #eaeaea;


    }
  }

  .upperRow {
    color: var(--text-color);
    font-weight: bold;
  }

  .score {
    .names {

      p:first-child,
      p:last-child {
        width: 130px !important;
      }
    }
  }

  .row {
    .boss2 {
      ::ng-deep {
        .p-inputtext {
          border: none;
          padding: 0;
        }
      }
    }
  }
}

.boss {
  height: 91%;

}

.savebtn {
  padding-bottom: 2px;
  border: 1px solid var(--secondary-color);
  text-align: center;
  border-radius: 7px;
  background: var(--main-color);
  color: var(--primary-color);
  letter-spacing: 1px;
}

.names {
  gap: 1rem;
}

// skeleton css
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  tr {
    th {
      // background-color: #f8f8f8;
      padding: 10px;

      &:nth-child(1) {
        width: 33%;
      }
    }

    td {
      padding: 10px;
      border-bottom: 1px solid #dee2e6;
    }
  }
}

// skeleton css
.respScore {
  ::ng-deep {
    .p-divider-vertical {
      margin: auto !important;
    }
  }
}