<!-- <pdf-viewer [src]="doc" [render-text]="true" style="display: block;">
</pdf-viewer> -->

<!-- <div class="feild-heading">
    <h6>
        Mandatory Fields
    </h6>
</div> -->
<div class="mandatoryFields my-3">
    <div>
        <div class="relativePath" *ngFor="let item of data">
            <!-- {{data|json}} -->
            <p>{{item.title}}</p>
            <input *ngIf="item.data_type!=='file'" type="text" readonly pInputText [(ngModel)]="item.data">
            <!-- <span class="p-ml-2">{{value1}}</span> -->


            <div *ngIf="item.data_type=='file'" class="aadharSection">
               
                <!-- <input type="text" readonly pInputText [(ngModel)]="item.data">
                <div class="viewDialog">
                    <a (click)="openDialog()">View</a>
                </div> -->

                <div class="box flex-vc ">
                    <div class="text">{{item.data}}</div>
                    <div class="viewArea flex-ve"><a (click)="openDialog(item.data)" target="_blank">View</a></div>
                </div>
                <p-dialog [resizable]="false" [(visible)]="showDialog" [modal]="true" [draggable]="false"
                    [style]="{width: '70vw'}" [baseZIndex]="10000" (onHide)="closePopUp()">
                    <img [src]="item.data" alt="verificationDoc" />
                </p-dialog>
                <span class="p-ml-2">{{value1}}</span>
            </div>
            <!-- <pdf-viewer [src]="doc" [render-text]="true" style="display: block;">
            </pdf-viewer> -->
        </div>
    </div>

</div>
<div *ngIf="false" class="feild-heading">
    <h6>
        Optional Fields
    </h6>
    <p>Zip Code</p>
    <input type="text" pInputText [(ngModel)]="value1">
    <span class="p-ml-2">{{value1}}</span>
</div>