.share-heading {
    color: black;

    h4 {
        margin: 0 !important;
    }
}

.closeBut {
    button {
        cursor: pointer !important;

    }

    button:hover {
        background: rgba(10, 10, 10, 0.575) !important;
    }
}

.lowerpart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    ::ng-deep {
        .sb-group {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            max-width: 444px;
        }
    }
}