<div class="container-xxl" #fix>
    <!-- <div class="gradientBox flex-sb flex-m mt-2">
        <div class="share-heading">
            <h4>
                Share
            </h4>
        </div>
        <div class="closeBut">
            <button pButton pRipple type="button" icon="fas fa-times"
                class="p-button-rounded p-button-danger p-button-text" (click)="closeDialog()"></button>
        </div> 
    </div> -->
    <div class="lowerpart ngonIt-matchFixture">
        <share-buttons theme="circles-dark"
            [include]="['copy', 'facebook', 'email', 'messenger',  'linkedin',  'twitter','whatsapp']"
            [showIcon]="true" [showText]="true" url="{{url}}"
            description="{{fullDescription}}" twitterAccount="rodrigokamada" class="pb-4">
        </share-buttons>

        <!-- 
        <share-buttons theme="circles-dark"
        [include]="['copy', 'facebook', 'email', 'messenger','whatsapp']"
        [showIcon]="true" [showText]="false" url="{{baseUrl}}/{{url}}"
        description="{{fullDescription}}" twitterAccount="rodrigokamada" class="pb-4 pt-4">
    </share-buttons> -->

        <!-- <share-buttons theme="circles-dark" [include]="['copy', 'facebook', 'email', 'messenger','whatsapp']"
            [showIcon]="true" [showText]="false" url="{{url}}" description="{{fullDescription}}"
            twitterAccount="rodrigokamada" class="pb-4 pt-4">
        </share-buttons> -->
        <!-- <share-buttons theme="circles-dark"
            [include]="['copy', 'facebook', 'email', 'messenger','whatsapp']"
            [showIcon]="true" [showText]="false" url="https://test.stupaevents.com/#/live-matches/liveVideos/{{url}}"
            description="{{fullDescription}}" twitterAccount="rodrigokamada" class="pb-4 pt-4">
        </share-buttons> -->
    </div>
</div>