$border-radius: 7px;

@mixin flexing($justify) {
  display: flex;
  justify-content: $justify;
  align-item: center;
}
@mixin magrinPlusBold($margin, $fweight) {
  margin-top: $margin;
  font-weight: $fweight;
}
.personal-details-container {
  .container {
    padding: 2rem;
    .FirstSection {
      @include flexing(space-between);
      p {
        font-size: 1.5rem;
        color: var(--secondary-color);
        font-weight: bold;
      }
      button {
        padding: 0.2rem 0.9rem;
        border-radius: $border-radius;
        width: 8vw;
        height: 5vh;
        align-self: center;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 7px;
        background: #1b403a;
      }
      button:disabled {
        background-color: lightgray;
      }
    }
    .aligncards {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      margin-top: 2rem;
      .row .col-lg-3 {
        .cards {
          min-width: calc(100% - 70%);
          border: 1px solid black;
          min-height: 24vh;
          padding: 1.3rem;
          border-radius: $border-radius;
          .card_upperSection {
            // @include flexing(start);
            //   display: flex;
            //   align-items: center;
            //   justify-content: start;
            //   display: flex;
            gap: 1rem;
            @include flexing(flex-start);
            align-items: center;
            .profilename {
              font-weight: bold;
            }
          }
          .card_LowerSection {
            .card_LowerSection:first-child {
              margin-top: 1rem;
            }
            .item {
              @include magrinPlusBold(0.3rem, bold);
            }
          }
        }
      }
    }
  }
}

// skeleton css starts
.skeletonlayout {
  .row {
    .col-lg-3 {
      border: 1px solid #d3d3d3;
      padding: 10px;
      border-radius: 7px;
      &:not(:nth-child(1)) {
        margin-left: 1rem;
      }
    }
  }
}
// skeleton css ends

@media screen and (width >= 319px) and (width <= 425px) {
  .personal-details-container {
    .container {
      .FirstSection {
        p {
          font-size: 1.1rem;
        }
        button {
          width: 96px;
        }

        // background-color: red;
      }
      .aligncards {
        .cards {
          // height: 100px !important;
          min-height: 0;
          padding: 4px 0 0 13px;
          width: 100%;
          // width: calc(100vw - 30%);
          .card_upperSection {
            ::ng-deep {
              p-avatar {
                .p-avatar {
                  width: 2rem;
                  height: 2rem;
                  .pi-user {
                    font-size: 1.1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (width >= 426px) and (width <= 768px) {
  .personal-details-container {
    .container {
      .FirstSection {
        p {
          font-size: 1.1rem;
        }
        button {
          width: 96px;
        }

        // background-color: red;
      }
    }
  }
}
