.container-xxl {

  ::ng-deep {
    p-panel {
      .p-panel {
        .p-panel-header {
          padding: 10px;
          border-radius: 0;

          .p-panel-header-icon:enabled:hover {
            background-color: white;
          }

          .upperSection {
            gap: 3px;

            .dot {
              width: 8px;
              height: 8px;
              background: red;
              border-radius: 50%;
            }

            .textb {
              font-weight: bold;
            }
          }

          .p-panel-icons {
            background: white;
            border-radius: none !important;
          }
        }

        .p-panel-content {
          padding: 0;

          .liveViewerSection {
            padding: 0;
          }
        }
      }
    }
  }

  .heading {
    font-size: 13px !important;
    color: var(--secondary-color) !important;
    margin: 1rem 0;
  }

  .topBar {
    font-size: 90% !important;
  }

  .radioBox {
    padding: 5px 0;

    ::ng-deep {
      p-radiobutton {
        scale: 0.6;
      }

      .p-radiobutton .p-radiobutton-box.p-highlight {
        background: var(--main-color);
        border-color: var(--main-color);
      }
    }

    .field-radiobutton {
      label {
        margin-left: 0.3rem;
      }
    }
  }
}

.dNone {
  display: none;
}

.ViewerResultContainer {
  cursor: pointer;
  padding: 10px;
  overflow: hidden;

  .row {
    .col-lg-4 {
      margin-top: 10px;

    }

    .matchCard {
      border: 1px solid var(--stroke);
      border-radius: 4px;
      background-color: var(--box-bg);

      .innerCard {
        padding: 10px;

        .UpperDetails {
          .matchDetailLeft {
            p {
              &:nth-child(1) {
                color: var(--main-color);
                font-weight: bold;
              }

              &:nth-child(2) {
                color: var(--secondary-color);
              }
            }
          }

          .matchDetailRight {
            svg {
              animation: myfirst linear 0.7s infinite alternate;
            }

            @keyframes myfirst {
              0% {
                transform: scale(0.9);
              }

              100% {
                transform: scale(1.1);
              }
            }
          }
        }

        .LowerDetails {
          margin-top: 1rem;

          .lowerCard {
            ::ng-deep {
              p-divider {
                .p-divider {
                  margin: 10px 0;
                }
              }
            }

            .row {
              align-items: center;

              &:not(:nth-child(1)) {
                margin-top: 10px;
                // border-top: .3px dashed #d6d6d6;
                // padding: 10px 0 0;
              }

              .playerName {
                margin-left: 12px;
              }

              .cards_show_here {
                gap: 3px;
                margin-left: 5px;
              }

              .FullScore {
                gap: 7px;
                justify-content: end;

                .setScore {
                  font-weight: bold;
                  color: orange;
                  font-size: 17px;
                }

                .MatchScore {
                  gap: 7px;

                  ul {
                    width: 15px;
                    // border: 1px solid;
                    position: relative;
                    font-weight: bold;
                    margin-bottom: 0 !important;
                    padding-left: 0 !important;
                    gap: 7px;
                    align-items: center;
                    justify-content: center;

                    &:not(:last-child):after {
                      position: absolute;
                      content: "";
                      width: 1px;
                      height: 10px;
                      /* top: 0; */
                      background-color: var(--secondary-color);
                      right: -4px;
                    }

                    li {
                      list-style: none;
                      position: relative;

                      &:not(:last-child):after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 12px;
                        background-color: var(--secondary-color);
                        right: -3.7px;
                        top: 2px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.avatar {
  ::ng-deep {
    p-avatar {
      .p-avatar {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

// popup css
.ViewerResultPopup {
  ::ng-deep {
    p-dialog {
      .p-element {
        .p-dialog-header {
          padding: 0;
          display: none;

          .p-dialog-header-icons {
            margin: 5px 5px 0 0;
          }
        }
      }

      .p-dialog-content {
        padding: 0;
        padding-top: 0 !important;
        overflow: hidden;
      }

      // .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
      //   margin: 0;
      // }
    }
  }

  .ViewerUpperSection {
    .row {
      margin: 0;

      .col-lg-5 {
        height: 50px;

        // border-radius: 7px 0 0 0;
        &:first-child {
          color: white;
          background-color: var(--main-color);
        }

        &:last-child {
          color: white;
          background-color: var(--combinating-color);
        }

        .Team {
          gap: 5px;
        }
      }

      .col-lg-2 {
        .Score {
          gap: 10px;

          .Team {
            p {
              font-size: 20px;
            }
          }

          .VS {
            font-size: 12px;
            margin-top: 4px;
          }
        }
      }
    }
  }

  .viewerLower {
    overflow: auto;
    height: 80vh;

    .row {
      margin: 0;

      .col-lg-5 {
        padding: 10px;
        background-color: #fbfafa;
        border-radius: 4px;

        .playersection {
          gap: 6px;

          .avatars {
            p-avatargroup {
              .p-avatar-group {
                margin-bottom: 0 !important;
              }
            }
          }

          .oneunit {
            .TeamName {
              font-weight: bold;
            }

            .Score {
              .row {
                .col-lg-12 {
                  padding: 0;
                  align-items: center;

                  .setScore {
                    p {
                      font-weight: bold;
                      color: var(--combinating-color);
                      font-size: 114%;
                    }
                  }

                  ul {
                    position: relative;

                    &:not(:last-child)::after {
                      position: absolute;
                      content: "";
                      width: 1px;
                      height: 14px;
                      background-color: #d6d6d6;
                      top: 4px;
                      right: -3px;
                    }

                    li {
                      &:first-child {
                        margin-left: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .col-lg-2 {
        gap: 6px;

        p {
          font-size: 17px;
          font-weight: bold;
          color: var(--combinating-color);
        }
      }
    }
  }
}

.hi {
  padding: 15px 10px;

  &:not(:first-child) {
    padding: 5px 10px 10px;
    // background-color: yellow;
  }

  // padding:20px 10px;
}

.liveViewerSection {
  width: 100%;
  // height: 400px;
  // height: 250px;
  background: var(--live-bg);
  padding: 24px;
  overflow: auto;
  color: var(--text-color);

  .upperSection {
    gap: 3px;
    margin-bottom: 6px;
    margin-left: 17px;

    .dot {
      width: 8px;
      height: 8px;
      background: red;
      border-radius: 50%;
    }

    .textb {
      font-weight: bold;
    }
  }
}

.dotGap {
  width: 15px !important;
}

@media screen and (width >=319px) and (width <=425px) {
  .skeletonlayout {
    .row {
      .col-lg-3 {
        &:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media screen and (width >=426px) and (width <=767px) {
  .skeletonlayout {
    .row {
      .col-lg-3 {
        &:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media screen and (width >=768px) and (width <=1023px) {
  .skeletonlayout {
    .col-lg-3 {
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}