$breakPoints: (
  "phone": 360px,
  "tablet": 768px,
  "desktop": 1366px,
  "LGdesktop": 1920px,
  ) !default;

@mixin responsive($breakpoint) {
  @if $breakpoint ==phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint ==tab-port {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint ==tab-land {
    @media only screen and (max-width: 1400px) {
      @content;
    }
  }

  @if $breakpoint ==big-desk {
    @media only screen and (min-width: 1800px) {
      @content;
    }
  }
}

// mixins here

@mixin width($type, $min, $max) {
  width: #{$type }($min, $max
);
}

@mixin SimpleWidth($value) {
  width: $value;
}

@mixin margin($position, $size) {
  margin-#{$position}: $size;
}

@mixin Both_margin($size1, $size2) {
  margin: $size1 $size2;
}

@mixin Both_padding($size1, $size2) {
  padding: $size1 $size2;
}

@mixin padding($position, $size) {
  padding-#{$position}: $size;
}

@mixin f($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

$font-weight: (
  "regular": 100,
  "medium": 500,
  "bold": 900,
);

@mixin fontStyles($value) {
  font-size: $value;
}

.new_card {
  @include margin(top, 1rem);
  border-radius: 7px;
  width: min(300px, 50%);
  // max-width: calc(100% - 75%);
  min-height: 10rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  // border: 1px solid black;
  position: relative;
  overflow: hidden;

  .mtop {
    position: absolute;
    // width: 100%;
    @include SimpleWidth(100%);
    left: 0.7rem;

    .parenti {
      ::ng-deep {
        p-avatar {
          .p-component {
            // @include Both_margin(, )
            @include margin(top, 27%);
            @include margin(left, 35%);
          }
        }
      }
    }

    .f {
      @include f(center, inherit);
      flex-direction: column;

      .upperName {
        @include margin(top, 4%);

        p {
          @include fontStyles(16px);
          // font-size: 16px;
        }
      }

      .lowerScore {
        gap: 6px;
        @include f(flex-start, center);

        // gap: 8px;
        ul {
          @include padding(left, 0 !important);
          // padding-left: 0 !important;
          @include margin(bottom, 1rem !important);

          // margin-bottom: 1rem !important;
          li {
            list-style: none;
          }
        }
      }
    }

    .score {
      p {
        @include margin(top, 10px);
        // margin-top: 10px;
        @include fontStyles(1.3rem);
        // font-size: 1.3rem;
        @include padding(left, 7px !important);
        // padding-left: 7px !important;
        // font-weight: bold;
        font-weight: map-get($font-weight, bold);
      }
    }
  }

  .mtop:not(:last-child) {
    @include margin(top, 7%);

    .d {
      @include Both_padding(0, 1rem);
      // padding: 0 1rem;
      top: 66%;
      // top: 100%;
      position: absolute;
      // width: 100%;
      @include SimpleWidth(92%);

      // width: 92%;
      ::ng-deep {
        p-divider {
          flex-grow: 1;
        }
      }

      p {
        background: var(--secondary-color);
        color: var(--primary-color);
        @include Both_padding(2px, 4px);
        // padding: 2px 4px;
        // @include padding(, )
        border-radius: 7px;
      }
    }
  }

  .mtop:last-child {
    @include margin(top, 32%);

    .d {
      visibility: hidden;
    }
  }

  .d {
    @include Both_padding(0, 1rem);
    // padding: 0 1rem;
    top: 75%;
    position: absolute;
    // width: 100%;
    @include SimpleWidth(100%);

    ::ng-deep {
      p-divider {
        flex-grow: 1;

        .p-divider-horizontal:before {
          left: 32%;
          width: 65%;
        }
      }
    }

    p {
      background: var(--secondary-color);
      color: var(--primary-color);
      @include Both_padding(2px, 4px);
      // padding: 2px 4px;
      border-radius: 7px;
    }
  }

  .d:first-child {
    top: 44%;
  }

  .live_text {
    position: absolute;
    border: 1px solid var(--secondary-color);
    // padding: 2px 6px;
    @include Both_padding(2px, 6px);
    @include fontStyles(10px);
    // font-size: 10px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background: var(--On-Live-bg);
    color: var(--primary-color);
    right: 0;
    top: 0;
    @include f(normal, center);
    // justify-content: 0;
    // display: flex;
    gap: 6px;
    // align-items: center;

    .outer__circle {
      width: 8px;
      height: 8px;
      background: var(--danger-color);
      border-radius: 50%;
      box-shadow: 0px 2px 5px var(--danger-color);

      .text {
        @include padding(left, 4px);
        // padding-left: 4px;
      }
    }
  }

  .mtop2 {
    @include margin(top, 1.5rem);
    position: absolute;
    // width: 100%;
    @include SimpleWidth(100%);
    left: 0.7rem;

    .parenti {
      ::ng-deep {
        p-avatar {
          .p-component {
            @include margin(top, 27%);
            @include margin(left, 35%);
            // margin-top: 27%;
            // margin-left: 35%;
          }
        }
      }
    }

    .f {
      @include f(center, center);
      flex-direction: column;

      .upperName {
        @include margin(top, 4%);
        // margin-top: 4%;

        // padding-left: 8% !important;
        p {
          @include fontStyles(1.1rem);
          // font-size: 1.1rem;
        }
      }

      .lowerScore {
        @include padding(left, 7% !important);
        // padding-left: 7% !important;

        ul {
          @include f(center, center);
          gap: 8px;
          @include padding(left, 5px !important);
          // padding-left: 5px !important;

          li {
            list-style: none;
          }
        }
      }
    }

    .score {
      p {
        @include margin(top, 30%);
        // margin-top: 30%;
        @include fontStyles(1.3rem);
        // font-size: 1.3rem;
        @include padding(left, 7px);
        // padding-left: 7px !important;
      }
    }
  }
}

.teamScreen {
  position: absolute;
  top: -5rem;
  left: -12vw;
  min-width: 200%;
  min-width: 73vw;
  max-width: 100%;
  // max-height: 100vh;
  background: var(--main-color-light);
  border-radius: 7px;
  top: -12rem !important;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;

  .cross {
    display: flex;
    margin-top: 1rem;
    justify-content: end;
    margin-right: 1.5rem;
    cursor: pointer;

    img {
      width: 1rem;
      height: 1rem;
    }
  }

  .upper {
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    margin-top: 18px;
    gap: 1rem;
    height: 50px;

    .left_section {
      flex: 2;
      // background: #ffffff4d;
      background: rgba(217, 217, 217, 0.35);
      text-align: end;
      padding-right: 5rem;
      position: relative;
      overflow: hidden;
    }

    .left_section::after {
      position: absolute;
      content: "";
      width: 45px;
      height: 87px;
      right: -8px;
      top: 2px;
      background: var(--main-color-light);
      transform: rotate(45deg);
    }

    .center {
      display: flex;
      z-index: 1;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      font-size: 40px;

      .vs {
        // background: #ffffff4d;
        background: var(--In--vs);
        color: var(--main-color-light);
        font-size: 16px;
        padding: 2px 7px;
        border-radius: 4px;
        margin-top: 6px;
        // text-shadow: 1px 1px 1px #1b403a;
      }
    }

    .right_section {
      flex: 2;
      // background: #ffffff4d;
      background: rgba(217, 217, 217, 0.35);
      text-align: start;
      padding-left: 5rem;
      position: relative;
      overflow: hidden;
    }

    .right_section::after {
      position: absolute;
      content: "";
      width: 47px;
      // background: red;
      background: var(--main-color-light);
      transform: rotate(-45deg);
      width: 54px;
      left: -16px;
      top: 5px;
      height: 86px;
    }
  }

  .lower {
    // margin: 2rem 2rem;

    .left_section {
      padding: 5px;

      .row {
        // margin-bottom: 1rem;
        font-size: 1rem;

        .inner_left_section {
          background: rgba(217, 217, 217, 0.35);

          .flexiing {
            gap: 3px;

            ul {
              margin: 0 !important;
              padding: 0 !important;
              gap: 3px;

              ::ng-deep {
                p-divider {
                  .p-divider-vertical {
                    padding: 0;
                    margin: 0;
                  }

                  .p-divider.p-divider-vertical:before {
                    border-left: 1px solid black;
                  }
                }
              }

              li {
                list-style-type: none;
                color: var(--primary-color);
              }

              &:last-child {
                p-divider {
                  display: none;
                }
              }
            }
          }

          .row {
            padding: 7px;
          }
        }
      }
    }

    .score {
      display: flex;
      justify-content: center;
      gap: 26px;

      .left_section_score,
      .vs,
      .right_section_score {
        align-self: center;
      }

      .left_section_score,
      .right_section_score {
        font-size: 20px;
        color: white;
        font-weight: bold;
      }

      .vs {
        // background: #ffffff4d;
        background: var(--In--vs);

        color: var(--main-color);
        font-size: 16px;
        padding: 0px 5px;
        border-radius: 4px;
        // text-shadow: 1px 1px 1px var(--main-color);
      }
    }

    .right_section {
      .row {
        font-size: 1rem;
        background: rgba(217, 217, 217, 0.35);
        padding: 0.3rem;

        // border: 1px solid black;
        .flexiing {
          gap: 3px;

          ul {
            margin: 0 !important;
            padding: 0 !important;
            gap: 3px;

            ::ng-deep {
              p-divider {
                .p-divider-vertical {
                  padding: 0;
                  margin: 0;
                }

                .p-divider.p-divider-vertical:before {
                  border-left: 1px solid black;
                }
              }
            }

            li {
              list-style-type: none;
              color: #dddddd;
            }

            &:last-child {
              p-divider {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.flexing {
  @include f(center, center);
}

.inputMr {
  margin-right: 1.9rem;
}

// final card done here
.centering {
  @include f(flex-start, center);
  flex-wrap: wrap;
  // column-gap: 6.4%;
  // gap: 1rem;
  // column-gap: 8%;
  padding: 0 10px;
  @include width(max, 100%, 400px);

  // width: max(100%, 400px);
  .newCard {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 7px;
    // @include width(min, 140%, 400px);
    margin-right: 1rem;
    @include Both_padding(5px, 10px);
    position: relative;
    // cursor: pointer;
    background-color: var(--box-bg);

    .live_text {
      position: absolute;
      border: 1px solid var(--secondary-colo);
      @include Both_padding(2px, 6px);
      // padding: 2px 6px;
      @include fontStyles(10px);
      // font-size: 10px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 7px;
      background: var(--On-Live-bg);
      color: var(--primary-color);
      right: 0;
      top: 0;
      display: flex;
      gap: 6px;
      align-items: center;

      // justify-content: center;
      .outer__circle {
        width: 6px;
        height: 6px;
        background: var(--danger-color);
        border-radius: 50%;
        // box-shadow: 0px 2px 5px red;

        .text {
          @include padding(left, 4px);
          // padding-left: 4px;
        }
      }
    }

    .Card-upper-date {
      .date {
        letter-spacing: 1px;
        font-size: 10px;
      }

      .matchType {
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 1px;
        color: var(--combinating-color);
      }
    }

    .card_section {
      .card_upper_section {
        // margin-top: 13px;
        margin-top: 6px;

        .avatar {
          display: flex;
          align-items: center;

          ::ng-deep {
            p-avatar {
              .p-avatar {
                width: 25px;
                height: 25px;
              }
            }
          }
        }

        .center {
          .center_upper {
            display: flex;
            // justify-content: center;
            // align-items: center;
            // height: 100%;
            // font-size: 13px;
            font-size: 80%;
            font-weight: bold;
            color: var(--main-color);
            // .oveflowing{
            //   width: 100px;
            //   overflow: hidden;
            //   white-space: nowrap;
            //   text-overflow: ellipsis;
            // }
          }

          .lower_upper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 3px;

            ul {
              // font-size: 12px;
              font-size: 80%;

              @include f(flex-start, center);

              margin-bottom: 0 !important;
              padding-left: 0 !important;

              ::ng-deep {
                p-divider {
                  height: 9px;
                  overflow: hidden;

                  .p-divider.p-divider-vertical {
                    margin: 0 3px !important;
                    // margin: 0 0.1px !important;
                  }

                  .p-divider.p-divider-vertical:before {
                    border-color: var(--secondary-color);
                    opacity: 0.4;
                  }
                }
              }

              li {
                list-style-type: none;
              }

              &:last-child {
                p-divider {
                  display: none;
                }
              }
            }
          }
        }

        .score {
          margin-left: -5px;
          // font-size: 19px;
          font-size: 140%;
          align-self: center;
          font-weight: bold;
        }
      }

      .g {
        ::ng-deep {
          p-divider {
            width: 89%;

            .p-divider-horizontal:before {
              left: 19%;
              width: 75%;
            }

            .p-divider.p-divider-horizontal {
              margin: 5px 0;
            }
          }
        }

        p {
          padding: 1px 3px;
          // background: lightgray;
          background: var(--bg-vs);
          color: var(--In--vs);
          border-radius: 4px;
          font-size: 10px;
        }
      }

      .card_lower_section {
        .avatar {
          display: flex;
          align-items: center;

          ::ng-deep {
            p-avatar {
              .p-avatar {
                width: 25px;
                height: 25px;
              }

              .p-avatar-icon {
                font-size: .7rem !important;
              }
            }
          }
        }

        .center {
          .center_upper {
            display: flex;
            // justify-content: center;
            // align-items: center;
            // height: 100%;
            // font-size: 13px;
            font-size: 80%;
            font-weight: bold;
            color: var(--main-color);
          }

          .lower_upper {
            @include f(flex-start, center);
            gap: 3px;

            ul {
              font-size: 80%;

              @include f(flex-start, center);
              // gap: 3px;
              // gap: 3px;
              margin-bottom: 0 !important;
              padding-left: 0 !important;

              ::ng-deep {
                p-divider {
                  height: 9px;
                  overflow: hidden;

                  .p-divider-vertical {
                    margin: 0 3px !important;
                    // margin: 0 0.1px !important;
                  }

                  .p-divider-vertical:before {
                    border-color: var(--secondary-color);
                    opacity: 0.4;
                  }
                }
              }

              li {
                list-style-type: none;
              }

              &:last-child {
                p-divider {
                  display: none;
                }
              }
            }
          }
        }

        .score {
          margin-left: -5px;
          // font-size: 19px;
          font-size: 140%;
          align-self: center;
          font-weight: bold;
        }
      }
    }
  }
}

// @media screen and (max-width: 1024px) {
//   .centering {

//     // display: none;
//     .newCard {
//       width: min(95%, 400px);
//     }
//   }
// }

// @media only screen and (min-width: 1600px) {
//   .centering {
//     // width: max(98%, 400px);
//     // column-gap: 9%;
//     padding: 0 10rem;
//   }
// }

// @media only screen and (min-width: 1000px) and (max-width: 1200px) {
//   .centering {
//     column-gap: 5%;
//   }
// }

// @media only screen and (min-width: 1201px) and (max-width: 1400px) {
//   .centering {
//     width: max(110%, 400px);
//     padding: 2px 6px;

//     .newCard {
//       width: min(106%, 400px);
//       padding: 5px 3px;
//     }
//   }
// }

.score-panel {
  background-color: var(--box-bg);

  .innerContent {
    padding: 1rem;
    position: relative;
    width: 33.3%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 7px;

    .playerRow:not(:first-child) {
      margin-top: 1rem !important;
    }
  }

  .divider {
    position: absolute;
    left: 0;
    width: 100%;
    top: 51%;
    transform: translate(0, -50%);
    padding: 1rem;

    .vs {
      padding: 0.1rem 0.3rem;
      font-size: 10px;
      background-color: #f2f2f2;
      color: #d9d9d9;
      border-radius: 4px;
      margin-left: 1rem;
    }

    ::ng-deep {
      p-divider {
        height: 20px;
        display: flex;
        justify-self: center;
        align-items: center;
        overflow: hidden;
      }

      .p-divider-right {
        margin: 0 !important;
      }
    }
  }
}

.outerLayer {
  width: 239px;
  margin-right: 1rem;
}

// new team screen

.parrent {
  padding: 50px;
}

.avatar {
  ::ng-deep {
    p-avatar {
      .p-avatar {
        width: 25px;
        height: 25px;
      }

      .p-avatar-icon {
        font-size: .7rem !important;
      }
    }
  }
}

// skelton css starts
.skeletonlayout {
  .partic {
    display: flex;
    gap: 20px;
  }

  .heading {
    ::ng-deep {
      p-skeleton {
        .p-skeleton {
          // z-index: 99999;
          margin-top: 1rem;
        }
      }
    }
  }

  .cards {
    .mt-2 {
      .col-lg-6 {
        &:nth-child(2) {
          ::ng-deep {
            p-skeleton {
              float: right;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.id {
  display: flex;
  gap: 5px;

  div {
    display: flex;
    gap: 5px;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  tr {
    th {
      background-color: #f8f8f8;
      padding: 10px;
    }

    td {
      padding: 10px;
      border-bottom: 1px solid #dee2e6;
    }
  }
}

.fix {
  display: flex;
  gap: 5px;
}

// skeleton css end

.mr-1 {
  margin-right: 1rem;
}

@media print {
  .centering {
    .col-lg-3 {
      width: 33% !important;
    }
  }
}