$sidebar_width: 25%;
$font_bold: bold;
$shadow_color: #929292;
$without_hover_bgcolor: #f7f7f7;
$with_hover_color: white;
$without_hover_color: #4d4d4d;
$margin_bottom_value: 1rem;
$white-container: #f5f5f5;

@mixin flexing($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

.profile_container {
  //   max-width: $sidebar_width;

  .sidebar {
    .sidebar_top_container {
      margin: 1rem;
      //   border: 1px solid black;
      box-shadow: 1px 2px 4px $shadow_color;

      .card {
        border: none;
      }

      .flex {
        @include flexing(1rem);
        padding-bottom: 1rem;
      }

      .right_content {
        font-weight: bolder;
        letter-spacing: 0.7px;
        font-size: 12px;
      }
    }

    .sidebar_lower_container {
      button {
        // width: 100%;
        border: none;
        width: calc(100% - 5%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 1.4rem;
        background: $without_hover_bgcolor;
        color: $without_hover_color;
        font-weight: bold;
        letter-spacing: 0.7px;
        font-size: 15px;
        margin-bottom: $margin_bottom_value;

        img {
          visibility: hidden;
        }

        // &:hover,
        // &:focus {
        //   border-left: 5px solid gray;
        //   box-sizing: border-box;
        //   background-color: var(--main-color);
        //   color: $with_hover_color;

        //   img {
        //     visibility: visible;
        //   }
        // }
      }
    }
  }
}

.active {
  background-color: yellow;
}

.normalTab {
  border: none;
  width: calc(100% - 5%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.4rem;
  background: $without_hover_bgcolor;
  color: $without_hover_color;
  font-weight: bold;
  letter-spacing: 0.7px;
  font-size: 15px;
  margin-bottom: $margin_bottom_value;
}

.selectedTab {
  border-left: 5px solid gray;
  box-sizing: border-box;
  background-color: var(--main-bg) !important;
  // background-color: var(--main-color) !important;
  color: $with_hover_color !important;

  img {
    visibility: visible;
  }
}

.angleRight {
  color: $white-container;
}

.paddding {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.right_content {
  .name {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.forgmail {
  width: 195px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  ::ng-deep {
    p-avatar {

      .p-avatar {
        img {
          object-fit: cover;
        }
      }

    }
  }
}

.logo {
  img {
    // width: 86%;
    width: 70%;
    margin: 0 6px;
    padding: 3px;
  }
}