.centerElement {
    .common-table {
        .tdSpaceMt {
            margin-top: 4px;

            &:first-child {
                margin-top: 4px !important;
            }
        }

        .tdSpaceMb {
            margin-bottom: 4px;
        }

        ::ng-deep {
            .p-datatable .p-datatable-thead>tr>th {
                background: none;
                color: #7A7A7A;
            }

            .p-datatable .p-datatable-tbody>tr>td {
                border-top: 1px solid #DEDEDE;
                border-radius: 4px;
                height: 35px;

                &:last-child {
                    border: none;
                    padding: 0 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:first-child {
                    border-left: 1px solid #DEDEDE;
                }

                &:nth-last-child(2) {
                    border-right: 1px solid #DEDEDE;
                }
            }
        }
    }
}

.emptyRow {
    position: relative;
    height: 350px;

    .empty {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

@media print {
    .score-block {
        margin: 0;
    }

    .col-lg-2 {
        width: 15% !important;
    }

    .col-lg-3 {
        width: 23% !important;
    }

    .col-lg-1 {
        width: 8% !important;
    }

    ::ng-deep {

        p-dialog {

            .score-block {
                display: flex !important;
            }

        }
    }
}

.ml {
    margin-left: 424px;
}

.teamSec {
    width: min-content;

    .scoreInput {
        input {

            width: 100px;
        }
    }
}

.names {
    .pName {
        width: 45%;
        height: 22px;

        p {
            width: 100%;
        }

        &._underline {
            border-bottom: 1px solid var(--secondary-color);
        }
    }
}

.score-print-container {
    .card {
        .card-body {
            border: 1px solid var(--stroke);
        }
    }

    input {
        text-align: center;
    }
}

//   [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 1px'}}"


.steps {
    width: 280px;

    ::ng-deep {
        .p-steps {
            font-family: 'Figtree', sans-serif !important;

            .p-steps-item .p-menuitem-link .p-steps-number {
                color: var(--main-color);
                border: 1px solid var(--main-color);
            }

            .p-steps-item.p-steps-current {
                .p-steps-number {
                    color: var(--primary-color) !important;
                    background: var(--main-bg) !important;
                }
            }

            .p-steps-number {
                min-width: 1.5rem;
                height: 1.5rem;
                font-size: 12px;
            }

            .p-steps-title {
                font-size: 12px;
                color: var(--main-color);
                margin-top: 0;
            }

            .p-steps-item:before {
                top: 65%;
            }

            .p-steps-item:last-child::before {
                width: 50%;
                right: 50%;
            }

            .p-steps-item:first-child::before {
                width: 50%;
                left: 50%;
            }
        }
    }
}

.scoreBut {
    border: 1px solid var(--stroke) !important;
    margin-left: 0.2rem;
}