<form [formGroup]="_eventDetailForm" action="">
  <div class="bannerSection mt-3">
    <div class="bannerFlex" *ngIf="_selectedBanner === ''">
      <div class="bannerBox _dashed">
        <input type="file" (change)="fileDetail($any($event.target).files)" class="fileUploader"
          accept="image/x-png, image/jpg, image/jpeg" />

        <div class="overlap">
          <div class="flex-hc mb-3">
            <div class="info">
              <!-- <p class="p-secondary-dark">
                                Drag<b class="p-green">Drop</b>
                            </p> -->
              <div class="choose">
                <p class="p-secondary-dark">
                  <!-- {{ "eventDetails.preselected" | translate }} -->
                </p>
              </div>
              <p class="p-secondary">
                <b></b>
              </p>
            </div>
            <div class="imgContainer">
              <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="31.5981" cy="32.3867" r="31.5" fill="white" />
                <path
                  d="M30.5629 44.0704V35.1972H21.6897V32.2394H30.5629V23.3662H33.5207V32.2394H42.3939V35.1972H33.5207V44.0704H30.5629Z"
                  fill="#4E4E4E" />
              </svg>
            </div>
          </div>
          <div class="box">
            <p>Drag & Drop your image here. or <span>Browse</span></p>
            <p>Or choose a preselected one</p>
            <p>Format : Jpeg, png size : 50KB-800KB</p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-small error-txt-msg mb-2" *ngIf="_isSubmitEvent && _selectedBanner === '' " style="color: red">
      <span style="color: red">*</span>Required
  </div>
    <div class="bannerBox" *ngIf="_selectedBanner != ''">
      <div class="relativeBody">
        <input type="image" class="imgCover img-fluid" [src]="_selectedBanner" alt="" />

        <!-- <img class="imgCover img-fluid" [src]="_selectedBanner" alt=""> -->
        <div class="innerColor">
          <p>This will be the sample image of your event banner</p>
          <!-- <div class="reupload p-links flex-e"> -->
          <!-- <div class="flex-vc reuploadBox">
                                      <p (change)="fileDetail($any($event.target).files)">{{'eventDetails.reupload' |translate}}</p>
                                      <i class="pi pi-upload ms-2"></i>
                                  </div> -->

          <div class="reuploadBoxie">
            <input style="cursor: pointer" type="file" id="option-1" (change)="fileDetail($any($event.target).files)"
              accept="image/x-png, image/jpg, image/jpeg" />
            <label for="option-1">
              <div class="uploadbtn">Reupload</div>
              <!-- <img src="https://img.icons8.com/material-outlined/48/000000/upload-to-cloud.png"/> -->
              <img src="../../../../assets/icons/admin_dropdown_icons/reuploadtoevent.png" class="w1717" alt="" />
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="inputSection">
      <div class="row mt-3 grow">
        <div class="col-lg-4">
          <input id="frgtEmail" pInputText placeholder="Enter Tournament Name" [formControlName]="'eventName'" />
          <div class="p-small error-txt-msg mb-2" *ngIf="_isSubmitEvent && this._eventDetailForm.controls['eventName'].hasError('required')" style="color: red">
            <span style="color: red">*</span>Required
        </div>
        </div>
        <div class="col-lg-4">
          <p-calendar #startDate1 inputId="basic" dateFormat="dd/mm/yy" placeholder="Select Start Date" [minDate]="_currentDate"
            [formControlName]="'eventStartDate'">
          </p-calendar>
          <div class="p-small error-txt-msg mb-2" *ngIf="_isSubmitEvent && this._eventDetailForm.controls['eventStartDate'].hasError('required')" style="color: red">
            <span style="color: red">*</span>Required
        </div>
        </div>
        <div class="col-lg-4">
          <p-calendar #startDate1 inputId="basic" dateFormat="dd/mm/yy" placeholder="Select End Date" [minDate]="_currentDate" 
            [formControlName]="'eventEndDate'">
          </p-calendar>
          <div class="p-small error-txt-msg mb-2" *ngIf="_isSubmitEvent && this._eventDetailForm.controls['eventEndDate'].hasError('required')" style="color: red">
            <span style="color: red">*</span>Required
        </div>
        </div>
      </div>
      <div class="row mt-3 drow">
        <div class="col-lg-4">
          <p-dropdown [formControlName]="'eventCountry'" [options]="_countryList" optionLabel="name"
            optionValue="country_id" [filter]="true" placeholder="Select Country">
          </p-dropdown>
          <div class="p-small error-txt-msg mb-2" *ngIf="_isSubmitEvent && this._eventDetailForm.controls['eventCountry'].hasError('required')" style="color: red">
            <span style="color: red">*</span>Required
        </div>
        </div>
        <div class="col-lg-4 mt-2">
          <input id="frgtEmail" pInputText placeholder="Address" [formControlName]="'address'" />
          <div class="p-small error-txt-msg mb-2" *ngIf="_isSubmitEvent && this._eventDetailForm.controls['address'].hasError('required')" style="color: red">
            <span style="color: red">*</span>Required
        </div>
        </div>
        <div class="col-md-4">
          <p-dropdown class="custom-dropdown" placeholder="Publish/Unpublish" [options]="_isPublish"
            [formControlName]="'isPublish'" optionLabel="name" optionValue="name" [autoDisplayFirst]="true">
          </p-dropdown>
          <div class="p-small error-txt-msg mb-2" *ngIf="_isSubmitEvent && this._eventDetailForm.controls['isPublish'].hasError('required')" style="color: red">
            <span style="color: red">*</span>Required
        </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-12">
        <textarea rows="5" cols="30" pInputTextarea  placeholder="Description" [formControlName]="'description'"></textarea>
    </div>
        <!-- <input class="description" pInputText placeholder="Description" [formControlName]="'description'" />
          </div> -->
      </div>

    <div class="row mt-3 brow">
      <div class="col-lg-2">
        <button *ngIf="!_updateEventFlag" (click)="createTournament()" class="btn btn_green mt-4">
          Create
        </button>
        <button *ngIf="_updateEventFlag" (click)="updateTournament()" class="btn btn_green mt-4">
          Update
        </button>
      </div>
      <div *ngIf="_updateEventFlag" class="col-lg-2">
        <button (click)="deleteTournament()" class="btn btn-danger w-100 mt-4">Delete</button>
      </div>
    </div>
  </div>
</form>
<p-toast position="bottom-right" key="bc"></p-toast>