.container-xxl {
  .matchRow {
    padding: 5px 0;
    border-bottom: 1px solid #e8e8e8;
  }

  .matchRow.dialog {
    font-size: 13px;
  }

  .dialogHeader {
    .p-dialog-header {
      color: var(--main-coalor);
    }
  }

  .innerContent.noPlayerCont {
    height: 100% !important;

    .emptyFlex {
      display: flex;
      flex-direction: column;
    }
  }

  .fullViewBut {
    background-color: var(--main-bg);
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
  }

  .heading {
    font-size: 13px !important;
    color: var(--secondary-color) !important;
    margin: 0 0 1rem 0 !important;
  }

  .topBar,
  .bottomBar {
    .greyBox {
      background-color: #fbfbfb;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 0.5rem;
      position: relative;

      .innerContent {
        font-size: 90% !important;
        height: 166px;
        overflow: hidden;
        overflow-y: auto;

        .detail-input {
          input[type="number"] {
            font-size: initial !important;
            font-weight: 200;
          }

          label {
            color: var(--secondary-color);
          }

          input {
            border-bottom: 1px solid var(--secondary-color) !important;
            border: none;
            border-radius: 0 !important;
            background-color: transparent;
            // font-size: 18px;
            color: var(--main-color);
            font-weight: bold;
            padding-left: 0;
          }

          ::ng-deep {
            .p-multiselect {
              border: none;
              border-bottom: 1px solid #5555;
              border-radius: 0;
            }

            .p-dropdown {
              border-bottom: 1px solid var(--secondary-color) !important;
              border: none;
              border-radius: 0 !important;
              background-color: transparent;
              font-size: 18px;
              margin: 0 !important;

              .p-dropdown-label {
                padding-left: 0;
                color: var(--main-color);
              }

              .p-dropdown-label.p-placeholder {
                color: #6c757d !important;
                font-size: 12px !important;
              }
            }
          }
        }
      }

      .noPlayer {
        position: absolute;
        top: 61%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #bfbfbf;
      }
    }
  }

  .right-eventHandler {
    ::ng-deep {
      .p-speeddial {
        top: 0;
        right: 0;
      }

      .p-speeddial-button.p-button-icon-only {
        width: 2rem;
        height: 2rem;

        .p-button-icon {
          font-size: 1rem;
        }
      }
    }

    .iconBox:not(:last-child) {
      margin-right: 0.2rem;
    }

    .iconBox {
      padding: 8px 6px;
      border-radius: 3px;
      border: 1px solid var(--secondary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg.merge {
        rotate: 180deg;
        width: 12px !important;
      }
    }
  }

  .groups {
    .accordianHeader {
      width: 100%;
    }

    .accordianContent {
      .p-inputtext {
        max-height: 32px;
        color: black;
        margin: 5px 0;
      }

      .tableFlex {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-top: 5px;

        .gFlex {
          font-size: 12px;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border: 1px solid var(--stroke);
          border-radius: 3px;
          overflow: auto;

          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--text-color);
            width: 80px;
          }

          @media only screen and (max-width: 500px) {
            p {
              width: auto !important;
            }
          }
        }

        .gFlex2 {
          display: flex;
          gap: 5px;
        }
      }

      .p-inputtext::placeholder {
        color: black;
      }
    }

    ::ng-deep {
      .p-button-icon {
        font-size: 12px !important;
      }

      .p-dropdown {
        max-height: 35px !important;
      }
    }

    .iconBox {
      border: 1px solid var(--secondary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 8px 6px;
      border-radius: 3px;

      svg.merge {
        rotate: 90deg;
        width: 12px !important;
      }
    }

    .header-add {
      padding: 8px 6px;
      border-radius: 3px;
    }

    .p-button:focus {
      box-shadow: none;
    }

    .p-button.p-button-icon-only.p-button-rounded {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.2rem;
    }
  }

  .bottomBar {
    ::ng-deep {
      .p-accordion .p-accordion-header .p-accordion-header-link {
        padding: 1rem 1.25rem !important;
      }
    }

    .greyBox {
      height: 50vh !important;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  ::ng-deep {
    .common-table {
      .p-datatable-table {
        font-size: 90% !important;
      }

      .p-datatable-thead>tr>th {
        border: none;
        padding: 0.5rem;
      }

      .p-datatable-tbody>tr>td {
        padding: 0.5rem;
        font-size: 90%;
        white-space: nowrap;
      }
    }
  }
}

.gridRemove {
  color: #ff783e;
}

.bk-color {
  background-color: red;
}

.battans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}

.groupBox {
  max-height: 64vh !important;
}

// full screen button

.fullViewBut {
  border-radius: 50px !important;
  padding: 0.5rem 1rem !important;
}

.grpMatchTable {
  ::ng-deep {
    .common-table .p-datatable-tbody>tr>td {
      padding: 0.3rem !important;
    }
  }
}

// @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65, 0, .076, 1)) {
//   transition: $property $duration $ease;
// }
// .wrap-button {
//   button {
//     scale: 0.7;
//     position: relative;
//     display: inline-block;
//     cursor: pointer;
//     outline: none;
//     border: 0;
//     vertical-align: middle;
//     text-decoration: none;
//     background: transparent;
//     padding: 0;
//     font-size: inherit;
//     font-family: inherit;

//     &.full-view {
//       width: 12rem;
//       height: auto;

//       .circle {
//         @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
//         position: relative;
//         display: block;
//         margin: 0;
//         width: 3rem;
//         height: 3rem;
//         background: var(--main-color);
//         border-radius: 1.625rem;

//         .fullScreenIcon {
//           left: 17.5px
//         }

//         .icon {
//           @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
//           position: absolute;
//           top: 0;
//           bottom: 0;
//           margin: auto;
//           background: var(--primary-color);

//           &.arrow {
//             @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
//             left: 0.625rem;
//             width: 1.125rem;
//             height: 0.125rem;
//             background: none;

//             &::before {
//               position: absolute;
//               content: '';
//               top: -0.25rem;
//               right: 0.0625rem;
//               width: 0.625rem;
//               height: 0.625rem;
//               border-top: 0.125rem solid #fff;
//               border-right: 0.125rem solid #fff;
//               transform: rotate(45deg);
//             }
//           }
//         }
//       }

//       .button-text {
//         @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         padding: 0.75rem 0;
//         margin: 0 0 0 1.85rem;
//         color: var(--main-color);
//         font-weight: 700;
//         line-height: 1.6;
//         text-align: center;
//         text-transform: uppercase;
//       }
//     }

//     &:hover {
//       .circle {
//         width: 100%;

//         .icon {
//           &.arrow {
//             background: var(--primary-color);
//             transform: translate(1rem, 0);
//           }
//         }
//       }

//       .button-text {
//         color: var(--primary-color);
//       }
//     }
//   }

//   @supports (display: grid) {
//     body {
//       display: grid;
//       grid-template-columns: repeat(4, 1fr);
//       grid-gap: 0.625rem;
//       grid-template-areas: ". main main ." ". main main .";
//     }

//   }
// }

.commonDialogSpacing {
  ::ng-deep {
    .p-dialog-content {
      border-radius: 6px !important;
      max-height: 88vh;
      overflow: hidden;
      overflow-y: auto;

      .innerContent {
        .common-table {
          input[type="checkbox"] {
            margin-left: 1rem;
          }

          .p-datatable-thead>tr>th {
            text-align: start !important;
          }

          .p-datatable-tbody>tr>td {
            text-align: start !important;
          }
        }
      }
    }

    .p-dialog-header {
      padding: 0 !important;

      .p-dialog-header-icons {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container-xxl {
    .bottomBar {
      .greyBox {
        overflow: auto !important;

        .top-actions {
          overflow: auto;

          .battans {
            button {
              margin-left: 8rem;
            }
          }
        }
      }
    }
  }
}