<div class="container-xxl">
    <div class="footer-management">
        <div class="footer-tabView my-3">
            <div class="common-tabView">
                <p-tabView [scrollable]=false [activeIndex]="_tabIndex" (onChange)="getTabIndexx($event)">
                    <p-tabPanel header="{{'tms.eventDetails'|translate}}">
                        <div class="tabContainer">
                            <div class="arrowTop" *ngIf="_window > 400" (click)="srollTop()">
                                <div class="scrollTop">
                                    <div class="box">
                                        <div class="flexTop">
                                            <i class="pi pi-arrow-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="innerBox">
                                <app-event-details  [_tabIndex]="_tabIndex" (tabToIndex)="getTabIndex($event)"></app-event-details>
                            </div>
                        </div>
                    </p-tabPanel>
                    <!-- <p-tabPanel header="Add Category/Class">
                        <div class="tabContainer">
                            <div class="">
                                <div *ngIf="_tabIndex == 1" class="innerBox">
                                   <stupa-add-category [_tabIndex]="_tabIndex"
                                   (tabIndex)="eventClicked()"></stupa-add-category>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel> -->
                    <p-tabPanel header="Add Officials">
                        <div class="tabContainer">
                            <div class="">
                                <div *ngIf="_tabIndex == 1" class="innerBox">
                                    <app-add-official [_tabIndex]="_tabIndex"
                                        (tabIndex)="eventClicked()"></app-add-official>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <!-- <p-tabPanel header="Allot-Rank-Pointers">
                        <div class="tabContainer">
                            <div *ngIf="_tabIndex == 2" class="innerBox">
                                <stupa-allot-rank-pointers [_tabIndex]="_tabIndex"
                                    (tabIndex)="eventClicked()"></stupa-allot-rank-pointers>
                            </div>
                        </div>
                    </p-tabPanel> -->
                    <p-tabPanel header="{{'tms.payment'|translate}}">
                        <div class="tabContainer">
                            <div class="innerBox">
                                <app-payment-method *ngIf="_tabIndex == 2" [_tabIndex]="_tabIndex"
                                    (tabIndex)="eventClicked()"></app-payment-method>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{'tms.registrationForm'|translate}}">
                        <div class="tabContainer">
                            <div class="innerBox">
                                <app-registration-form *ngIf="_tabIndex == 3" [_tabIndex]="_tabIndex" 
                                    (tabIndex)="eventClicked()"></app-registration-form>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{'tms.rulesSettings'|translate}}">
                        <div class="tabContainer">
                            <div class="innerBox" *ngIf="_tabIndex == 4">
                                <app-rule-setting [_tabIndex]="_tabIndex"
                                    (tabIndex)="eventClicked()"></app-rule-setting>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{'tms.liveStream'|translate}}" >
                        <div class="tabContainer ">
                            <div class="innerBox " *ngIf="_tabIndex == 5">
                                <app-live-stream [_tabIndex]="_tabIndex" (tabIndex)="eventClicked()"></app-live-stream>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Day Planner">
                        <div class="tabContainer">
                            <!-- *ngIf="_tabIndex == 8|| _tabIndex > 0 -->
                            <div class="innerBox" *ngIf="_tabIndex == 6">
                                <stupa-day-planner [_tabIndex]="_tabIndex"
                                    (tabIndex)="eventClicked()"></stupa-day-planner>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="{{'tms.prospectusGuidelines'|translate}}">
                        <div class="tabContainer">
                            <div class="innerBox" *ngIf="_tabIndex == 7">
                                <app-pros-guidelines [_tabIndex]="_tabIndex"
                                    (tabIndex)="eventClicked()"></app-pros-guidelines>
                            </div>
                        </div>
                    </p-tabPanel>
                    <!-- <p-tabPanel header="{{'sidebar.dashboard'|translate}}">
                        <div class="tabContainer">
                            <div class="innerBox">
                                <app-dashboard></app-dashboard>
                            </div>
                        </div>
                    </p-tabPanel> -->

                </p-tabView>
            </div>
        </div>
    </div>
</div>