$mediaQueries: (
  mobile: 750px,
  tab: 991px,
);

@mixin query($screen) {

  @each $key,
  $value in $mediaQueries {
    @if ($screen ==$key) {
      @media only screen and (max-width: $value) {
        @content;
      }
    }
  }
}

.topHeading {
  .reset {
    p {
      color: var(--combinating-color);
    }
  }

  .bannerUnpublish {
    position: relative;

    .dropdownUnpublish {
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translate(-50%, -50%);
      padding: 6px;
      background: white;
    }
  }
}

.centerElement {
  ::ng-deep {
    .p-multiselect {
      margin: 0 !important;
    }
  }

  .dateSection {
    ::ng-deep {
      .p-calendar input {
        color: var(--main-color);
        font-weight: 800;
        cursor: pointer;
      }

      .p-calendar input::placeholder {
        font-size: 15px;
        font-weight: 300 !important;
      }
    }

    .dateFlex {
      border-bottom: 1px solid var(--secondary-color);

      .endDate {
        ::ng-deep {
          .p-calendar {
            input {
              text-align: end;
              padding-right: 0 !important;
            }
          }
        }
      }

      .flex1 {
        flex-basis: 100%;

        label {
          color: var(--secondary-color);
        }

        .statDate-flexLine {
          .text {
            flex-basis: 10vw;
          }

          span.divider {
            position: relative;
            flex-basis: 100%;
            height: 1px;
            background-color: var(--secondary-color);
          }
        }
      }

      .flex-line {
        flex-basis: 75px;
        position: relative;
        display: flex;
        justify-content: center;

        .divider {
          display: block;
          width: 1px;
          background: var(--secondary-color);
          height: 190px;
        }
      }
    }


  }


  .bannerSection {
    .bannerFlex {
      height: 180px;
    }

    .flexBox1 {
      flex-basis: 100%;
      height: 100%;

      .choose {
        margin: 17% 0;
      }
    }

    .flex-line {
      flex-basis: 75px;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-top: 47px;

      .divider {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        transform: translate(-50%, -50%);
        background: var(--secondary-color);
        height: 67%;
      }
    }

    .bannerBox {
      height: 100%;
      border-radius: var(--common-border-radius);
      position: relative;
      overflow: hidden;
      overflow-y: auto;

      .fileUploader {
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        position: relative;
      }

      .overlap {
        position: absolute;
        top: 0;
        padding: 1rem;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .relativeBody {
        position: relative;
        color: white;
        height: 180px;

        input[type="image"] {
          border-radius: 7px;
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        .innerColor {
          border-radius: 7px;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          right: 0;
          padding: 1.5rem;
          background-color: rgba(75, 75, 75, 0.555);

          .reuploadBoxie {
            input[type="file"] {
              display: none;
            }

            label {
              display: flex;
              align-items: center;
              gap: 0.6rem;
              padding: 0.2rem 0.6rem;
              background: var(--secondary-color);
              width: max-content;
              border-radius: 7px;
              position: absolute;
              bottom: 2vh;
              right: 2vw;
              cursor: pointer;
              color: var(--primary-color);

              img {
                align-self: flex-start;
              }
            }
          }

          .uploadbtn {
            letter-spacing: 1px;
            font-weight: bold;
          }

          // .reupload {
          //     position: absolute;
          //     right: 1vw;
          //     bottom: 2vh;
          //     z-index: 2;
          //     .reuploadBox {
          //         padding: 5px 8px;
          //         background: #ffffff9a;
          //         color: var(--primary-color);
          //         border-radius: var(--common-border-radius);
          //         width: 28%;
          //         i {
          //             font-size: 10px;
          //         }
          //         input {
          //             opacity: 0;
          //         }
          //         label {
          //             color: var(--main-color-light);
          //             margin-top: 0px;
          //             margin-left: -66px;
          //             z-index: 2;
          //             position: absolute;
          //         }
          //     }
          // }
        }
      }

      .setCheck {
        position: relative;

        .checkImage {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .imgContainer {
        width: 80px;
      }
    }

    ._dashed {
      border: 1px dashed var(--secondary-color) !important;
      padding: 1rem;
    }

    ._solid {
      background-color: var(--box-bg);
      padding: 1rem;
      border: 1px solid var(--secondary-color) !important;
    }

    @include query(tab) {
      .bannerFlex {
        width: 100% !important;
        height: auto !important;
        flex-direction: column;

        .flexBox1 {
          width: 100%;

          .bannerBox {
            height: 180px;
          }
        }
      }

      .flex-line {
        width: 100%;
        height: 100%;
        margin-top: 0;

        .divider {
          width: 100% !important;
          height: 1px !important;
        }
      }
    }
  }
}

.bottomSection {
  ::ng-deep {
    .owl-carousel.owl-drag .owl-item {
      width: 265px !important;
    }
  }

  .relativeCard {
    border-radius: var(--common-border-radius);
    // border: 1px solid var(--main-color);
    width: 100%;
    border: 1px solid #82d7c9;

    .clickEvents {
      border-radius: var(--common-border-radius);
      border: 1px solid var(--main-color);
      padding: 10px 15px;

      .imgContainer {
        max-width: 12px;
      }
    }
  }

  ::ng-deep {
    .owl-theme .owl-nav [class^="owl-"] {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      background-color: transparent;

      i {
        color: var(--combinating-color);
      }
    }

    .owl-prev {
      position: absolute;
      left: -35px;
    }

    .owl-next {
      position: absolute;
      right: -35px;
    }
  }
}

.review_portal {
  padding: 1rem;

  .continue {
    i {
      color: var(--combinating-color);
      font-size: 12px;
    }
  }

  .flexContainer {
    display: flex;

    .info {
      flex-basis: 100%;
    }

    .image_portal {
      flex-basis: 40%;
    }
  }
}

// new success msg created starts
.newbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// new success msg created ends


.innerContent {
  .l {
    margin: 6vh 0;
  }
}

.nowrap {
  flex-wrap: nowrap;
}

// p-calendar

// startDate
@media only screen and (max-width: 800px) {
  .startDate {
    ::ng-deep {
      p-calendar {
        .p-datepicker {
          left: -26px !important;
        }
      }
    }
  }

  .regi {
    ::ng-deep {
      p-calendar {
        .p-datepicker {
          left: -162px !important;
          right: -22px;
          right: 0;
        }
      }
    }
  }

  .endi {
    position: relative;

    ::ng-deep {
      p-calendar {

        .p-datepicker {
          position: absolute;
          right: 0;
          left: -163px !important;
        }
      }
    }
  }

  //     position: absolute;
  // right: 0;
  // top: 28px;

}

.venueDetails {
  .venueList {
    display: flex;
    gap: 20px;

    .venueBox {
      .detail-input {
        width: 100%;
      }

      display: flex;
    }
  }
}



@media only screen and (max-width:750px) {
  .venueList {
    flex-direction: column;
  }


  .statDate-flexLine {
    gap: 10px;

    p {
      white-space: nowrap;
    }
  }

  .dateFlex {
    flex-direction: column;
    border-bottom: none !important;

    .flex-line {
      width: 100%;
      flex-basis: auto !important;
      margin: 1rem 0;

      .divider {
        height: 1px !important;
        width: 100% !important;
      }
    }
  }
}

.detail-input {

  &.calendarIcon {
    ::ng-deep {
      .p-calendar {
        input {
          border-right: 1px solid transparent !important;
        }

        button {
          background: transparent;
          color: var(--secondary-color);
          border-color: var(--stroke) !important;
          border-left: none;
        }
      }
    }
  }


  label {
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: 0.3rem;
  }

  input {
    margin: 0 !important;
    border: 1px solid var(--stroke) !important;
  }

  ::ng-deep {
    .p-calendar {
      height: 38px;

      .p-inputtext {
        border: 1px solid var(--stroke) !important;
      }
    }

    .p-multiselect {
      border: 1px solid var(--stroke) !important;
      margin: 0 !important;
    }

    .p-dropdown {
      border: 1px solid var(--stroke) !important;
      margin: 0 !important;

    }
  }
}

.attention {
  font-size: 12px;
}

.addMore {
  .addMoreBut {
    border: 1px solid var(--stroke) !important;
    background: var(--bg-color);


    &:hover {
      background-color: var(--main-bg);
    }
  }
}

.detail-content {
  ::ng-deep {

    .p-accordion {
      .p-accordion-content {
        border: none;
        background-color: var(--bg-color);
      }

      .p-accordion-header {

        &.p-highlight {

          .p-accordion-header-text,
          .p-accordion-toggle-icon {
            color: var(--text-color) !important;
          }
        }
      }

      .p-accordion-header-link {
        background: none !important;
        border: none !important;
        position: relative;

        &:focus {
          box-shadow: none;
        }

        .p-accordion-header-text {
          font-size: 18px;
          font-weight: bold;
        }

        .p-accordion-toggle-icon {
          position: absolute;
          right: 1rem;
        }
      }
    }
  }

  .statusBg {
    color: #00000070;
    border-radius: var(--common-border-radius);
    font-style: italic;
    font-size: 15px;
    padding: 0.7rem;
  }
}

.parent {
  ::ng-deep {
    p-dialog {
      .p-dialog-header {
        padding: 0;
        display: flex;
        justify-content: end;
        position: relative;

        .p-dialog-title {
          display: none;
        }
      }

      .p-dialog-header-icons {
        margin: 5px 10px;
      }

      .p-dialog-content {
        padding-top: 0 !important;

        svg {
          position: absolute;
          top: -2.4rem;
          right: 3.7rem;
        }

        .mt-5 {
          margin-top: 7rem !important;
          font-weight: bold;
          font-size: 18px !important;
          // color: var(--text-color);
        }

        .userDiscription {
          color: var(--text-color);
        }

        // p {
        //   &:first-child {
        //     font-weight: bold;
        //     font-size: 18px !important;
        //     margin-top: 6rem !important;
        //   }
        // }
      }
    }
  }

  .button {
    margin-top: 1rem;

    button {
      background-color: var(--main-bg);
      color: var(--primary-color);
      padding: 6px 40px;
      border: none;
      border-radius: 6px;
    }
  }
}

.gifContainer {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;

  img {
    position: absolute;
    width: 100%;
    object-fit: contain;
    scale: 1.5;
  }
}

.parent2 {
  ::ng-deep {
    p-dialog {
      .p-dialog-header {
        padding: 0;
        display: flex;
        justify-content: end;
        position: relative;

        .p-dialog-title {
          display: none;
        }
      }

      .p-dialog-header-icons {
        margin: 5px 10px;
      }

      .p-dialog-content {
        padding-top: 0 !important;
        color: var(--text-color);

        svg {
          position: absolute;
          top: -2.4rem;
          right: 3.7rem;
        }

        .mt-5 {
          margin-top: 0rem !important;
          font-weight: bold;
          font-size: 18px !important;
          text-align: center;
          padding: 0 27px;
        }

        .needp {
          text-align: center;
        }

        .button {
          p {
            text-align: center;

            a {
              // text-decoration: none;
              // color: var(--main-color);
              color: #315397;
            }
          }
        }

        // p {
        //   &:first-child {
        //     font-weight: bold;
        //     font-size: 18px !important;
        //     margin-top: 6rem !important;
        //   }
        // }
      }
    }
  }

  .button {
    margin-top: 1rem;

    button {
      background-color: var(--main-color);
      color: var(--primary-color);
      padding: 6px 40px;
      border: none;
      border-radius: 6px;
    }
  }
}

.ahashakeheartache {
  animation: kf_shake 0.4s 1 linear;
  -webkit-animation: kf_shake 0.4s 1 linear;
  -moz-animation: kf_shake 0.4s 1 linear;
  -o-animation: kf_shake 0.4s 1 linear;
}

@keyframes kf_shake {
  0% {
    transform: translate(30px);
  }

  20% {
    transform: translate(-30px);
  }

  40% {
    transform: translate(15px);
  }

  60% {
    transform: translate(-15px);
  }

  80% {
    transform: translate(8px);
  }

  100% {
    transform: translate(0px);
  }
}

@-webkit-keyframes kf_shake {
  0% {
    -webkit-transform: translate(30px);
  }

  20% {
    -webkit-transform: translate(-30px);
  }

  40% {
    -webkit-transform: translate(15px);
  }

  60% {
    -webkit-transform: translate(-15px);
  }

  80% {
    -webkit-transform: translate(8px);
  }

  100% {
    -webkit-transform: translate(0px);
  }
}

@-moz-keyframes kf_shake {
  0% {
    -moz-transform: translate(30px);
  }

  20% {
    -moz-transform: translate(-30px);
  }

  40% {
    -moz-transform: translate(15px);
  }

  60% {
    -moz-transform: translate(-15px);
  }

  80% {
    -moz-transform: translate(8px);
  }

  100% {
    -moz-transform: translate(0px);
  }
}

@-o-keyframes kf_shake {
  0% {
    -o-transform: translate(30px);
  }

  20% {
    -o-transform: translate(-30px);
  }

  40% {
    -o-transform: translate(15px);
  }

  60% {
    -o-transform: translate(-15px);
  }

  80% {
    -o-transform: translate(8px);
  }

  100% {
    -o-origin-transform: translate(0px);
  }
}