<div *ngIf="event_id!=null" class="">
  <div class="centerElement">
    <form [formGroup]="_eventForm" action="">
      <div class="row mt-3">
        <div class="col-lg-4">
          <div class="detail-input">
            <label for="detailInput">Category Name</label>
            <p-dropdown [formControlName]="'categoryName'" optionLabel="category_description"
              optionValue="category_description" [filter]="true" [options]="_masterCategoriesList"
              placeholder="Enter Your Category Name"></p-dropdown>
            <div class="error-txt-msg mb-2" *ngIf="_isSubmitCategorytDetail &&
              this._eventForm.controls['categoryName'].hasError('required')" style="color: red">
              <span style="color: red">*</span>{{ "signupmanagement.req" |
              translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="detail-input">
            <label for="detailInput">Participant Type</label>
            <p-dropdown [formControlName]="'participantType'" optionLabel="name" optionValue="id" [filter]="true"
              [options]="_eventParticipantType" placeholder="Select Participant
              Type"></p-dropdown>
            <div class="error-txt-msg mb-2" *ngIf="_isSubmitCategorytDetail &&
              this._eventForm.controls['participantType'].hasError('required')" style="color: red">
              <span style="color: red">*</span>{{ "signupmanagement.req" |
              translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="detail-input">
            <label for="detailInput">Gender</label>
            <p-dropdown [formControlName]="'gender'" optionLabel="name" optionValue="id" [filter]="true"
              [options]="_gender" placeholder="Select Gender"></p-dropdown>
            <div class="error-txt-msg mb-2" *ngIf="_isSubmitCategorytDetail &&
              this._eventForm.controls['gender'].hasError('required')" style="color: red">
              <span style="color: red">*</span>{{ "signupmanagement.req" |
              translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-4">
          <div class="detail-input">
            <label for="detailInput">Born After</label>
            <p-calendar #startDate1 inputId="basic" dateFormat="dd/mm/yy" [maxDate]="_currentDate"
              placeholder="{{ 'eventDetails.selectDate' | translate }}" [formControlName]="'bornAfter'"></p-calendar>
            <div class="error-txt-msg mb-2" *ngIf="_isSubmitCategorytDetail &&
              this._eventForm.controls['bornAfter'].hasError('required')" style="color: red">
              <span style="color: red">*</span>{{ "signupmanagement.req" |
              translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="detail-input">
            <label for="detailInput">Ranking</label>
            <input type="text" [formControlName]="'rank'" pInputText placeholder="Enter Rank" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="detail-input">
            <label for="detailInput">Maximum Number</label>
            <input type="text" [formControlName]="'maxNoOfRegistrations'" pInputText
              placeholder="Enter max number of registration" />
          </div>
        </div>
      </div>
    </form>
  
  <br>
  <button *ngIf="!_updateFlag" class="btn btn_green w-auto flex-e" (click)="addcategory()">Save</button>
  <div class="update row">
  <button *ngIf="_updateFlag" class="updateBtn w-auto flex-e " (click)="updateCategory()">Update</button>
  
  <button *ngIf="_updateFlag" class="btn btn_green w-auto flex-e" (click)="cancelCategory()">Cancel</button>
</div>
</div>
  <br>
  <br>
  <div class="parent">
    <p-table class="common-table text-center" #request [rows]="7" [value]="_categoriesList" [paginator]="true"
      [globalFilterFields]="['name', 'email']">
      <ng-template pTemplate="header">
        <tr style="font-size: 11px;">
          <th pSortableColumn="name" style="width: 15%">Category Name</th>
          <th pSortableColumn="email" style="width: 14%">Participant Type</th>
          <th pSortableColumn="email" style="width: 10%">Gender</th>

          <th pSortableColumn="state" style="width: 10%">Born After</th>
          <th pSortableColumn="club" style="width: 10%">Rank</th>
          <th pSortableColumn="playerType" style="width: 15%">Max No of
            Registrations</th>


          <th pSortableColumn="details" style="width: 10%">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-users>
        <tr>
          <td>{{ users.category_description}}</td>
          <td class="p-combine">{{ users.participant_description }}</td>
          <td class="p-combine">{{users.category.gender_id === 1 ? 'Male' : users.category.gender_id === 2 ? 'Female' : 'Mix'}}</td>
          <td>{{ users.dob_cap | date : "dd/MM/YYYY" }}</td>
          <td>{{ users.rank }}</td>
          <td>{{ users.max_no }}</td>
          <td>
            <div class="flex-vc gap-3">
              <div (click)="updateCategoryInfo(users)" class="action edit
                p-links p-green">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square" viewBox="0 0
                  16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459
                    3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75
                    2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25
                    0 0 0 .316.316l2.414-.805a.5.5 0 0 0
                    .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5
                      15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0
                      1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0
                      0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
              </div>
              <div (click)="deleteCategory(users.category_id)" class="action
                    delete p-links">
                <i class="pi pi-trash p-green"></i>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No user found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-toast position="bottom-right" key="bc"></p-toast>
<stupa-common-svg-msg *ngIf="event_id===null" (eventClicked)="eventClicked()"></stupa-common-svg-msg>