.commonScore {
  .common-table {
    .tdSpaceMt {
      margin-top: 4px;

      &:first-child {
        margin-top: 4px !important;
      }
    }

    .tdSpaceMb {
      margin-bottom: 4px;
    }

    ::ng-deep {
      .p-datatable .p-datatable-thead>tr>th {
        background: none;
        white-space: nowrap;
        font-weight: 500;
      }

      .p-datatable .p-datatable-tbody>tr>td {
        border-top: 1px solid #DEDEDE;
        border-radius: 4px;
        height: 35px;
        color: var(--text-color);

        // &:last-child {
        //   border: none !important;
        //   padding: 0 12px;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        // }

        &:first-child {
          border-left: 1px solid #DEDEDE;
        }

        &:last-child {
          border-right: 1px solid #DEDEDE;
        }
      }
    }

  }

  ::ng-deep {
    .p-selectbutton.p-buttonset {
      background: #eaeaea;
      display: flex;
      border-radius: var(--common-border-radius);
      justify-content: center;
      align-items: center;
    }

    .p-buttonset {
      .p-button {
        padding: 0.5rem 3rem !important;
        font-size: 12px;
        border: none;
        border-radius: var(--common-border-radius) !important;
      }

      .p-button:focus {
        box-shadow: none;
      }
    }

    .p-selectbutton .p-button.p-highlight {
      background-color: white !important;
      color: black;
      font-weight: bold;
      padding: 0.3rem 3rem !important;
      border: none;
      border-radius: 0;
      margin: 3px;
    }

    .p-selectbutton .p-button:not(.p-highlight) {
      .p-button-label {
        font-weight: 500 !important;
      }
    }

    .p-selectbutton .p-button {
      background-color: #eaeaea;
    }
  }

  .upperRow {
    color: var(--text-color);
    font-weight: bold;
  }

  .score {
    .centerElement {
      margin-top: 1.5rem;
    }

    .flex-wrapper {
      margin-top: 1rem;
    }

    .names {

      p:first-child,
      p:last-child {
        width: 130px !important;
      }
    }
  }

  .row {
    .input-mask-cont {
      ::ng-deep {
        .p-inputtext {
          border: none;
          padding: 0;
        }
      }
    }
  }
}

.umpireDropdown {
  ::ng-deep {
    .p-dropdown {
      margin: 0 !important;
    }
  }
}

// skeleton css
.respScore {
  ::ng-deep {
    .p-divider-vertical {
      margin: auto !important;
    }
  }
}

.mainCont {
  ::ng-deep {
    .p-selectbutton.p-buttonset {
      background: var(--bg-color);
      filter: contrast(0.9);
      display: flex;
      border-radius: var(--common-border-radius);
      justify-content: center;
      align-items: center;
    }

    .p-buttonset {
      .p-button {
        padding: 0.5rem 3rem !important;
        font-size: 12px;
        border: none;
        border-radius: var(--common-border-radius) !important;
      }

      .p-button:focus {
        box-shadow: none;
      }
    }

    .p-selectbutton .p-button.p-highlight {
      background-color: var(--main-color) !important;
      color: black;
      font-weight: bold;
      padding: 0.3rem 3rem !important;
      border: none;
      border-radius: 0;
      margin: 3px;
    }

    .p-selectbutton .p-button:not(.p-highlight) {
      .p-button-label {
        font-weight: 500 !important;
      }
    }

    .p-selectbutton .p-button {
      background: var(--bg-color);

    }
  }

  .upperRow {
    color: var(--text-color);
    font-weight: bold;
  }

  .score {
    .names {

      p:first-child,
      p:last-child {
        width: 130px !important;
      }
    }
  }
}

.boss {
  height: 91%;

}

.input-mask-cont {
  ::ng-deep {
    .p-inputtext {
      border: none;
      padding: 0;
      width: 48px;
    }
  }
}

.names {
  gap: 1rem;
}

// skeleton css

.flex-wrapper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 90vw;
  width: 100%;

  .setCount {
    width: 48px;
  }
}

// skeleton css
.respScore {
  ::ng-deep {
    .p-divider-vertical {
      margin: auto !important;
    }
  }
}

@media only screen and (max-width:992px) {
  .flex-wrapper {
    flex-wrap: wrap !important;
  }

  .score {
    display: flex;

    .centerElement {
      margin: 0 !important;

    }

    .flex-wrapper {
      margin: 0 !important;
    }
  }
}