<div class="container" *ngIf="_currentParticipantId !== 2">
    <div class="commonScore">
        <div class="mb-5">
            <p-table styleClass="p-datatable-sm" [value]="scoreFullDetails" class="common-table">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Date</th>
                        <th>Table</th>
                        <th>Time</th>
                        <th>Participant Type</th>
                        <!-- <th>Format</th> -->
                        <th>Round</th>
                        <!-- <th>Groups</th> -->
                        <th>Players</th>
                        <th>Umpire</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-player let-columns="columns">
                    <tr>
                        <td>{{player.start_time==null?'--': player.start_time | date:'yyyy-MM-dd' }}</td>
                        <td class="p-combine">{{player.table==null?'--':player.table}}</td>
                        <td>{{player.start_time==null?'--': player.start_time | date:'HH:mm' }}</td>
                        <td>{{getParticipantType()}}</td>
                        <!-- <td>Mens</td> -->
                        <td>{{player.round_name}}</td>
                        <!-- <td>G1</td> -->
                        <td class="p-combine">{{player.participantA_name}} VS {{player.participantB_name}} </td>
                        <td>
                            {{player.umpire_name}}
                            <!-- <div class="umpireDropdown">
                            <p-dropdown placeholder="Name of Umpire" appendTo="body" [options]="_umpires"
                                optionLabel="name"></p-dropdown>
                        </div> -->
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="score mt-5" [style.minWidth]="scoreFullDetails[0]?.sets.length > 8 ?'70vw':''">
            <div class="row flex-wrapper upperRow flex-vc">
                <div class="col-lg-4">Matches</div>
                <div *ngFor="let d of scoreFullDetails[0]?.sets; let i = index" class="col-lg-auto">
                    <div class="setCount">
                        Set-{{ i + 1 }}
                    </div>
                </div>
                <div class="col-lg-auto">Action</div>
            </div>
            <div class="centerElement">
                <div class="row flex-wrapper mt-3 flex-vc" *ngFor="let item of scoreFullDetails;let i=index;">
                    <div class="col-lg-4">
                        <div class="row flex-vc">
                            <div class="col-4 names flex-vc">
                                <p class="text-overflow">
                                    <b style="color: var(--text-color);"> {{ item.participantA_name }}</b>
                                </p>
                            </div>
                            <div class="col-2">
                                <b class="mx-2" style="color: var(--text-color);">vs</b>
                            </div>
                            <div class="col-4">
                                <p class="text-overflow">
                                    <b style="color: var(--text-color);">{{ item.participantB_name }}</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-auto" *ngFor="let cols of item.sets">
                        <div class="input-mask-cont">
                            <p-inputMask [ngModelOptions]="{ standalone: true }" [(ngModel)]="cols.value" mask="99-99"
                                placeholder="00-00"></p-inputMask>
                        </div>
                    </div>
                    <div class="col-lg-auto">
                        <button (click)="updateScore()" class="btn btn_green-bordered flex-vc flex-vh m-0 w-auto">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainCont" *ngIf="_currentParticipantId == 2">
    <div class="flex-hc mb-3">
        <p-selectButton [options]="_tabOption" [(ngModel)]="_selectedTab" optionLabel="label"
            [ngModelOptions]="{ standalone: true }" ngDefaultControl optionValue="value"
            [disabled]="!_isEditForScoreUpdate"></p-selectButton>
    </div>
    <div class="players" *ngIf="_selectedTab === 'on'">
        <stupa-arrange-dialog [_teamMatchFullDetails]="scoreFullDetails"
            [_teamAPlayers]="scoreFullDetails[0]?.event_participant_details"
            [_teamBPlayers]="scoreFullDetails[1]?.event_participant_details"
            [_teamA_participant_id]="scoreFullDetails[0]?.event_participant_details[0]?.participant_id"
            [_teamB_participant_id]="scoreFullDetails[1]?.event_participant_details[0]?.participant_id"
            [_parent_match_id]="_parent_match_id" (isTeamMatchCreated)="isTeamMatchCreated($event)"
            [_createdMatchList]="_createdMatchList" [_currentCategoryId]="_currentCategoryId"
            [_teamAPlayersCopy]="scoreFullDetails[0]?.event_participant_details"
            [_teamBPlayersCopy]="scoreFullDetails[1]?.event_participant_details"
            [_isEditForScoreUpdate]="_isEditForScoreUpdate"></stupa-arrange-dialog>
    </div>
    <div class="score mt-5" *ngIf="_selectedTab === 'off'">
        <div class="row upperRow flex-wrapper flex-vc mb-2">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="w-100 text-overflow">
                            {{ scoreFullDetails[0]?.participant_name }}
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p class="w-100 text-overflow">
                            {{ scoreFullDetails[1]?.participant_name }}
                        </p>
                    </div>
                </div>
                <!-- flex-vc" style="justify-content:space-around;" -->
            </div>
            <div *ngFor="let d of _createdMatchList[0]?.sets; let i = index" class="col-lg-auto">
                <div class="setCount">Set-{{ i + 1 }}

                </div>
            </div>
            <div class="col-lg-auto">Action</div>
        </div>
        <div class="centerElement">
            <div class="row flex-wrapper flex-vc mb-2" *ngFor="let item of _createdMatchList; let i = index">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-4 names flex-vc">
                            <p class="text-overflow">
                                <b>{{ item.player_A }}</b>
                            </p>
                        </div>
                        <div class="col-2">
                            <b class="mx-2">vs</b>
                        </div>
                        <div class="col-4">
                            <p class="text-overflow">
                                <b>{{ item.player_B }}</b>
                            </p>
                        </div>
                    </div>
                    <!-- <div class="names flex-vc">
            <p class="text-overflow">
              <b>{{ item.player_A }}</b>
            </p>
            <p class="mx-2">VS</p>
            <p class="text-overflow">
              <b>{{ item.player_B }}</b>
            </p>
          </div> -->
                </div>

                <div class="col-lg-auto" *ngFor="let cols of item.sets">
                    <div class="input-mask-cont">
                        <p-inputMask [disabled]="item.winner !== '' && item.winner !== null" [(ngModel)]="cols.value"
                            mask="99-99" placeholder="00-00"></p-inputMask>
                    </div>
                </div>
                <div class="col-lg-auto" *ngIf="item.winner == '' || item.winner == null">
                    <!-- <button class="btn" [disabled]="item.winner!==''&&item.winner!==null" (click)="updateTeamScore(i)">Save</button> -->
                    <button class="btn btn_green-bordered flex-vc flex-vh m-0 w-auto"
                        (click)="updateTeamScore(i)">Save</button>
                </div>
            </div>
        </div>
        <div class="text-end mt-3">
            <!-- <p class="text-danger" *ngIf="!_isSuccess">{{_responseMessage}}</p> -->
            <!-- <p class="text-success">{{ _responseMessage }}</p> -->
        </div>
    </div>
</div>
<p-toast position="bottom-right" key="bc"></p-toast>