::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 20px;
  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

$mediaQueries: (
  mobile: 750px,
  tab: 1100px,
);

@mixin query($screen) {

  @each $key,
  $value in $mediaQueries {
    @if ($screen ==$key) {
      @media only screen and (max-width: $value) {
        @content;
      }
    }
  }
}

.container-xxl {
  // overflow: hidden;
  // overflow: scroll;
  margin-top: -2rem;

  .heading {
    font-size: 13px !important;
    color: var(--secondary-color) !important;
    margin: 1rem auto !important;
  }

  .topbar {
    ::ng-deep {
      .p-dropdown {
        border: none;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;

        .p-dropdown-label {
          text-align: center;
        }
      }
    }
  }

  .topBar {
    ::ng-deep {
      .p-tabview-title {
        font-size: 80%;
      }
    }

    font-size: 90% !important;

    .radioBox {
      padding: 5px 0;

      ::ng-deep {
        p-radiobutton {
          scale: 0.6;
        }

        .p-radiobutton .p-radiobutton-box.p-highlight {
          background: var(--main-bg);
          border-color: var(--main-bg);
        }
      }

      .field-radiobutton {
        label {
          margin-left: 0.3rem;
        }
      }
    }
  }

  .common-tabView {
    .p-tabview {
      font-family: "Figtree", sans-serif !important;
      font-weight: 300 !important;
      font-size: 100% !important;
    }

    .topBar {
      .steps {
        width: 420px;

        ::ng-deep {
          .p-steps {
            font-family: "Figtree", sans-serif !important;

            .p-steps-item .p-menuitem-link .p-steps-number {
              color: var(--main-color);
              border: 1px solid var(--main-color);
            }

            .p-steps-item.p-steps-current .p-menuitem-link {
              .p-steps-number {
                color: var(--primary-color) !important;
                background: var(--main-bg) !important;
              }
            }

            .p-steps-number {
              min-width: 1.5rem;
              height: 1.5rem;
              font-size: 12px;
            }

            .p-steps-title {
              font-size: 12px;
              color: var(--main-color);
              margin-top: 0;
            }

            .p-steps-item:before {
              top: 65%;
            }

            .p-steps-item:last-child::before {
              width: 50%;
              right: 50%;
            }

            .p-steps-item:first-child::before {
              width: 50%;
              left: 50%;
            }
          }
        }
      }
    }
  }

  .flexRow {
    display: flex;
    // justify-content: center;
    justify-content: start;
    min-height: 45vh;

    .innerBox {
      height: 60vh;
      overflow: hidden;
      overflow-y: auto;
    }

    .innerContent {
      padding: 0 0.75rem;
    }

    .left {
      order: 1;
    }

    .center {
      order: 2;
      // flex-basis: 100%;
      // width: 1000px;
      width: 78%;


      .end {

        // gap: 18rem;
        .heading {
          margin-left: auto;
        }

        .spaceBetween {
          gap: 1rem;

          // margin: auto;
          .calendar {

            ::ng-deep {
              p-calendar {
                .p-component {
                  top: 0 !important;
                }
              }
            }
          }
        }
      }

      .heading {
        padding: 6px;

        p {
          font-size: 18px !important;
        }
      }

      .innerBox {
        padding: 1rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: var(--box-bg);

        .teamFlex {
          display: flex;

          .team1 {
            order: 1;
          }

          .team2 {
            order: 3;
          }

          .deleteRow {
            flex-basis: 30%;
            order: 2;
          }

          .teams {
            flex-basis: 100%;
          }

          .detail-input {
            ::ng-deep {
              .p-dropdown {
                margin: 0;
                border: none;
                border-bottom: 1px solid var(--secondary-color);
                background: transparent;
                border-radius: 0;

                .p-dropdown-trigger {
                  width: 2rem;

                  span {
                    font-size: 12px;
                  }
                }

                .p-dropdown-label {
                  font-size: 85%;
                  width: 140px;
                }
              }
            }
          }
        }
      }
    }

    @include query(mobile) {
      .center {
        width: 100% !important;
      }
    }

    .right {
      order: 3;
    }

    .cornerbox {
      width: 25%;

      .innerBox {
        // height: 45vh;
        overflow: hidden;
        overflow-y: auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: var(--box-bg);
      }

      .centerElement {
        ::ng-deep {
          .p-datatable .p-datatable-tbody>tr>td {
            font-size: 65%;
            padding: 0.3rem;
            white-space: nowrap;
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
          }

          .p-datatable .p-datatable-thead>tr>th {
            font-size: 70%;
            padding: 0.3rem;
            text-align: center;
          }
        }
      }
    }
  }
}

.draggable-card-row {
  .draggable-card {
    margin-bottom: 0.3rem;
    font-size: 75%;
    padding: 0.5rem 1rem;
    height: 30px;
    position: relative;
    user-select: none;
    border: 1px solid var(--stroke);
    border-radius: 4px;

    .changeIcon {
      position: relative;

    }

    .row {
      flex-wrap: nowrap;
    }

    // another border
    // border: 1px solid #e1e1e1;

    .edit {
      background-color: #f5f5f5;
      padding: 5px 9px;
      border-radius: 50px;
      width: 28px;
    }

    .radioElement {
      scale: 0.7;

      input {
        width: 14px;
        transform: translate(-34%, 22%);
      }
    }

    td:not(:last-child) {
      transform: translate(0, 15%);
    }
  }
}

// .border-b {
//   border-bottom: 1px solid;
// }

.my_bordersss {
  border-left: 1px dotted #d3d3d3;
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;

  &:not(:last-child) {
    border-bottom: none;
  }
}

.three_borders {
  border-left: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;

  &:not(:last-child) {
    border-bottom: none;
  }
}

.slot-row {
  .slot {

    .umpName,
    .catName {
      width: 140px;
    }

    padding: 0;
    background-color: #f9f9f9;
    // another border
    // border: 1px solid #e2e2e2;
    position: relative;

    .delIcon {
      position: absolute;
      left: -2px;
      top: 10px;
      z-index: 3;
    }

    .flexCont {
      padding: 10px;

      .playerName {
        width: 120px;
        font-size: 14px;
      }

      .vs {
        width: 30px;
        text-align: center;
      }
    }

    // borders
    // .border-r {
    //   border-right: 1px dotted var(--main-color);
    // }
    // .border-b:not(:last-child) {
    //   border-bottom: 1px dotted #c8c8c8;
    // }

    .drag-field {
      // border: 1px dotted #c8c8c8;
      height: 80px;
      margin: 0.7rem;
    }

    .drag-field._filled {
      font-size: 70%;
      position: relative;

      .innerContent {
        // padding: 0.3rem 0 0.3rem 0.75rem !important;

        .enableLive {
          position: absolute;
          margin-top: 5px;
          bottom: 0px;
          left: 0;
          font-size: 9px;

          input {
            width: 9px !important;
          }
        }
      }
    }
  }
}

.gg {
  max-width: 7vw;
}

.parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: white;
  padding: 7px 20px !important;
  width: 100%;
  color: black !important;
  border-radius: 6px;
}

.button:focus {
  background-color: var(--main-color-light) !important;
  color: white !important;
}

.centerElement {
  position: relative;

  .slot-row {
    position: absolute;
    transform: translateX(25px);
    padding: 7px;
  }
}

@include query(tab) {
  .flexRow {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .center {
      width: 100%;
      margin: 1.5rem 0;
    }

    .cornerbox {
      width: 100% !important;
    }
  }

  .gg {
    max-width: none;
  }

  .umpName,
  .catName {
    width: 100% !important;
  }
}



@media only screen and (width<=460px) {
  .drag-field {
    height: 140px !important;
    min-height: 80px;
  }

  .draggable-card {
    padding: 0.5rem !important;
  }

  .three_borders {
    height: 140px;
  }

  .flexCont {
    position: relative;

    .detailFlex {
      flex-direction: column;
    }

    .catFix {
      align-items: flex-start;
    }
  }
}

.start_time {
  letter-spacing: 0.8px;
  font-weight: bold;
}

.roundAbsolute {
  position: absolute;
  right: 2px;
  bottom: 5px;
}

.tabless {
  table {
    tr>th {
      background-color: #d3d3d3;
      padding: 0px 10px;
      color: white;
    }

    tr>td {
      padding: 0px 10px;
    }

    .one {
      background-color: red;
    }
  }
}

@media print {
  .b {
    border: 1px solid;
  }
}

.b {
  border: 1px solid;
  padding: 10px;
}

.loop {
  padding: 0px 3px;

  &:nth-child(n+2) {
    margin-top: 1rem;
    border: 1px solid;

  }
}

.uppperHeading {
  background-color: #d3d3d3;
}


.MatchS-popup {
  ::ng-deep {
    p-dialog {
      .p-dialog {
        .p-dialog-content {
          overflow-x: hidden;
        }
      }
    }
  }

}

.col-9 {
  overflow-x: scroll;

  .upperSection {
    gap: 1rem;

    .date {
      position: relative;

      svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .lowerSection {
    .col-2 {
      width: 13.666667%;
      padding: 2px 10px;
      border: 1px solid #d3d3d3;

      .innerData {
        gap: .5rem;
        border-radius: 6px;
        background-color: #add8e63d;
      }
    }

  }

}

//     background: #7ddaf154;
// margin-left: 8.33333333%;
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

th:first-child,
td:first-child {
  background-color: #e6e6e6;
  font-weight: bold;
}


// today task

.upperSection {
  .heading {
    font-size: 23px !important;
    font-weight: bold;
    color: var(--main-color);
  }

  .single {
    gap: 1rem;
  }
}

.lowerSection {
  overflow-x: auto;
  overflow-y: hidden;

  .fullcollumn {
    .tablerow {
      text-align: center;
      flex-wrap: nowrap;

      .tables {
        &:first-child {
          margin-left: 8.33333333%;
        }
      }
    }

    .timerow {
      flex-direction: column;
    }

    .firstrow {
      flex-wrap: nowrap;
      margin-bottom: 1rem;
      margin-top: 13px;

      .col-2 {
        padding: 0;
      }

      .col-2 {
        padding: 0;
        margin-right: 1rem;
      }

      &:not(:first-child) {
        margin-top: 1rem;
      }

      .thirdhalf {
        position: relative;
        // width: 22%;
        width: 219px;

        &:not(:last-child) {
          &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 90px;
            top: 0;
            right: 0;
            background: #d3d3d3;
          }
        }



        p {
          text-align: center;
        }

        .card {
          // padding: 10px;
          padding: 3px 9px;
          // width: 300px;
          border-radius: 4px;
          // height: 100%;
          height: 70px;
          color: var(--main-color);

          .upperSection {

            // gap: 37px;
            .categoryName {
              width: 66px;
              // white-space: nowrap;
              // overflow: hidden;
              // text-overflow: ellipsis;
              // font-size: 10px;
              // font-weight: bold;
              letter-spacing: 1px;
            }

            .icons {
              gap: .5rem;
            }

            .groupAndRoundName {
              gap: 8px;

              .before {
                position: relative;

                &::before {
                  position: absolute;
                  content: "";
                  width: 1px;
                  height: 76%;
                  background: #CBCBCB;
                  left: -0.2rem;
                }
              }
            }
          }

          .middleSection {

            .player {
              font-size: 12px;
              width: 66px;
            }

            .vs {
              color: var(--combinating-color);
              font-size: 12px !important;
            }

            .player2 {
              text-align: end;
            }
          }

          .LowerSection {
            .fixtureFormat {
              letter-spacing: 1px;
              width: 123px;
            }

            .liveSection {
              // gap: .5rem;
              // margin-top: 0.2rem;
              color: black;

              .live {

                gap: .3rem;
              }
            }
          }
        }
      }
    }
  }
}

// margin-left: 16.66666667%;

.firstRowForTime {
  flex-wrap: nowrap;

  .dynamic_column {
    // width: 22%;
    width: 219px;

    &:first-child {
      margin-left: 68px;
      // width: 8.33333333%;
    }
  }
}

.fix_width {
  width: 68px;
}

.input {
  ::ng-deep {
    p-checkbox {
      .p-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;

        // .p-hidden-accessible {
        .p-checkbox-box {
          width: 11px;
          height: 11px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0;

          .p-checkbox-icon {
            font-size: 8px;
          }
        }

        // }

      }
    }
  }
}

.card2 {
  background-color: var(--bg-color);
  filter: contrast(0.9);
  border: 1px solid var(--stroke);
  border-radius: 4px;
  height: 70px;
  padding: 6px;

  .innerSection {
    border: 1px dashed #d3d3d3;
    height: 100%;
  }
}


.parent {
  ::ng-deep {
    p-overlayPanel {
      .p-overlaypanel-content {
        display: none;
      }
    }
  }
}

.grabbing {
  cursor: grab;
}

.grabbed {
  cursor: grabbing;
}

.card {
  cursor: grab;
  background-color: var(--bg-color);
  filter: contrast(0.9);
  border: 1px solid var(--stroke);
  // padding: 10px;
  padding: 3px 9px;
  // width: 300px;
  border-radius: 4px;

  // height: 100%;
  &:not(:first-child) {
    margin-top: 1rem;
  }

  // width: 66px;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // font-size: 10px;
  // font-weight: bold;
  // letter-spacing: 1px;
  .upperSection {
    // gap: 37px;

    .icons {
      gap: .5rem;
    }

    .groupAndRoundName {
      gap: 8px;

      .before {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 1px;
          height: 76%;
          background: #CBCBCB;
          left: -0.2rem;
        }
      }
    }
  }

  .middleSection {
    .player {
      font-size: 12px;
      width: 66px;
    }

    .vs {
      color: var(--combinating-color);
    }

    .player2 {
      text-align: end;
    }
  }

  .LowerSection {

    .liveSection {
      // gap: .5rem;
      // margin-top: 0.2rem;

      .live {
        gap: .3rem;
      }
    }
  }
}

.closeIcon {
  background: var(--new-gray-color);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  color: black;
  font-weight: bold;
  font-size: 9px;

  &:hover {
    cursor: pointer;
    background: var(--main-color);
    color: white;
  }
}

.deleteIcon {
  &:hover {
    svg {
      transform: scale(1.1);

      path {

        &:nth-child(2),
        &:nth-child(3) {
          transform: rotate(-23deg) translate(-2px, 1px);
        }
      }
    }
  }
}

.changeIcon {
  &:hover {
    svg {
      transform: scale(1.3);
    }
  }
}

::ng-deep {
  .p-overlaypanel {
    .p-overlaypanel-content {
      .card {
        &:last-child {
          margin-bottom: 1rem;
        }

        .upperSection {
          .categoryName {
            width: 50px;
          }
        }
      }
    }
  }
}


@media (300px <=width <=420px) {
  .lowerSection {
    .fullcollumn {
      .Fortime {
        .firstrow {
          flex-wrap: wrap;

          .col-1 {
            width: 100%;
          }

          .thirdhalf {
            width: 100%;

            &:not(:first-child) {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

.skeleton_Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  ::ng-deep {
    p-skeleton {

      .p-skeleton {
        border-radius: 4px;
      }
    }
  }
}


// borderRadius

@media (max-width:500px) {
  .skeleton_Container {
    grid-template-columns: 1fr;
  }
}