<div class="topSlider">
    <section class="section-top-image-slider">
        <div class="common-carousel carousel_withDots">
            <div class="topImageSlider">
                <owl-carousel-o [options]="headerImageSlider">
                    <ng-container *ngFor="let slide of _imagePublished">
                        <ng-template carouselSlide>
                            <div class="imgContainer">
                                <img [src]="slide" id="bannerImage" />
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </section>
</div>

<div class="container-xxl px-4">
    <div class="ongoingFlex header">
        <h3 *ngIf="_ongoingEvents.length > 0" class="mb-4 title">
            Ongoing Events
        </h3>
        <div *ngIf="_ongoingEvents.length > 4" class="seeAll">
            <a class="see p-links" (click)="OngoingseeALL()">{{
                "header.seeAll" | translate
                }}</a>
        </div>
    </div>
    
    <div class="wrapper3 mt-3 mb-5">
        <div *ngIf="_ongoingEvents.length > 0" class="flexContainer">
            <div class="row">
                <div *ngFor="let item of _ongoingEvents.slice(0,4)" class="col-lg-3">
                    <div (click)="updateEvent(item)" class="bgImg p-links">
                        <img class="upcomingBgImg" src="{{ item.image_url }}" />
                        <div class="innerColor" id="first">
                            <div class="date colorscore">
                                <p>
                                    {{ item.event_start_time | date : "dd/MM/YYYY" }} -
                                    {{ item.event_end_time | date : "dd/MM/YYYY" }}
                                </p>
                            </div>
                            <div class="uppercontent">
                                <p class="w-100 text-overflow">{{ item.event_name }} </p>
                                <!-- govind here -->
                            </div>
                            <div class="centercontent">
                                <p class="w-100 text-overflow">{{ item.address }}</p>
                            </div>
                            <div class="flex-vc flex-sb viewSide">
                                <button class="newBTTTTn">{{item.broadcast?'Broadcast':'Tournament'}}</button>
                                <div class="view p-links">
                                    {{ "home.view" | translate }}
                                    <img src="../../../assets/icons/white-right-arrow.png" alt="" />
                                </div>
                            </div>
                            <!-- <button class="bt mb-3">Tournament</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- UPcoming events html starts  -->
    <div class="header" *ngIf="_upComingEvent.length > 0">
        <div *ngIf="_upComingEvent.length > 0" class="upcoming">
            <h3 class="title">Upcoming Events</h3>
        </div>
        <div *ngIf="_upComingEvent.length > 4" class="seeall">
            <a class="see p-links" (click)="upcomingSeeALL()">{{
                "header.seeAll" | translate
                }}</a>
        </div>
    </div>

    <div class="wrapper3 mt-3 mb-5">
        <div *ngIf="_upComingEvent.length > 0" class="flexContainer">
            <div class="row">
                <div *ngFor="let item of _upComingEvent.slice(0, 4)" class="col-lg-3">
                    <div (click)="updateEvent(item)" class="bgImg p-links">
                        <img class="upcomingBgImg" src="{{ item.image_url }}" />
                        <div class="innerColor" id="first">
                            <div class="date colorscore">
                                <p>
                                    {{ item.event_start_time | date : "dd/MM/YYYY" }} -
                                    {{ item.event_end_time | date : "dd/MM/YYYY" }}
                                </p>
                            </div>
                            <div class="uppercontent">
                                <p class="w-100 text-overflow">{{ item.event_name }} </p>
                                <!-- govind here -->
                            </div>
                            <div class="centercontent">
                                <p class="w-100 text-overflow">{{ item.address }}</p>
                            </div>
                            <div class="flex-vc flex-sb viewSide">
                                <button class="newBTTTTn">{{item.broadcast?'Broadcast':'Tournament'}}</button>
                                <div class="view p-links">
                                    {{ "home.view" | translate }}
                                    <img src="../../../assets/icons/white-right-arrow.png" alt="" />
                                </div>
                            </div>
                            <!-- <button class="bt mb-3">Tournament</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //finished upcoming -->

    <!-- //Recent starts -->

    <div class="header">
        <div class="upcoming">
            <h3 *ngIf="_recentEvent.length > 0" class="title">Recent Events</h3>
        </div>
        <div *ngIf="_recentEvent.length > 4" class="seeall">
            <a class="see p-links" (click)="recentOpen()">{{
                "header.seeAll" | translate
                }}</a>
        </div>
    </div>
    <div class="wrapper3 mt-3 mb-5">
        <div *ngIf="_recentEvent.length > 0" class="flexContainer">
            <div class="row">
                <div *ngFor="let item of _recentEvent.slice(0,4)" class="col-lg-3">
                    <div (click)="updateEvent(item)" class="bgImg p-links">
                        <img class="upcomingBgImg" src="{{ item.image_url }}" />
                        <div class="innerColor" id="first">
                            <div class="date colorscore">
                                <p>
                                    {{ item.event_start_time | date : "dd/MM/YYYY" }} -
                                    {{ item.event_end_time | date : "dd/MM/YYYY" }}
                                </p>
                            </div>
                            <div class="uppercontent">
                                <p class="w-100 text-overflow">{{ item.event_name }} </p>
                                <!-- govind here -->
                            </div>
                            <div class="centercontent">
                                <p class="w-100 text-overflow">{{ item.address }}</p>
                            </div>
                            <div class="flex-vc flex-sb viewSide">
                                <button class="newBTTTTn">{{item.broadcast?'Broadcast':'Tournament'}}</button>
                                <div class="view p-links">
                                    {{ "home.view" | translate }}
                                    <img src="../../../assets/icons/white-right-arrow.png" alt="" />
                                </div>
                            </div>
                            <!-- <button class="bt mb-3">Tournament</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // RECENT ENDS -->

    <!-- registration starts -->
    <div class="header">
        <div *ngIf="_registerEvent.length > 0" class="upcoming">
            <h3 class="title">Registration Events</h3>
        </div>

        <div *ngIf="_registerEvent.length > 4" class="seeall">
            <a class="see p-links" (click)="registerOpen()">{{
                "header.seeAll" | translate
                }}</a>
        </div>
    </div>

    <div class="wrapper5 mt-3">
        <div *ngIf="_registerEvent.length > 0" class="row">
            <div *ngFor="let item of _registerEvent.slice(0, 4)" class="col-lg-3 wrap5Columns mt-2">
                <div class="card2 p-links" id="first" (click)="updateEvent(item)">
                    <img class="registerBgImg" src="{{ item.image_url }}" />
                    <div class="innerColor">
                        <div class="date colorscore">
                            <p>
                                {{ item.event_start_time | date : "dd/MM/YYYY" }} -
                                {{ item.event_end_time | date : "dd/MM/YYYY" }}
                            </p>
                        </div>
                        <div class="uppercontent">
                            <p class="w-100 text-overflow">{{ item.event_name }}</p>
                        </div>
                        <div class="centercontent">
                            <p class="w-100 text-overflow">{{ item.address }}</p>
                        </div>

                        <div class="k">
                            <div class="view center p-links">
                                {{ "home.view" | translate }}
                                <img src="../../../assets/icons/white-right-arrow.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

<stupa-gif-loader *ngIf="_showLoader"></stupa-gif-loader>