<div class="squads">
    <div class="card-list row">
        <div class=" col-lg-3 mt-3" *ngFor="let item of squadList[0]">
            <div class="utt-card card">
                <div class="card-heading">
                    <h5 class="text-center">
                        {{item.name}}
                    </h5>
                </div>
                <div class="card-body">
                    <div class="py-2">
                        <h6>Players</h6>
                    </div>
                    <div class="player" *ngFor="let player of item.users;let i=index">
                        <div class="flex-vc gap-2">
                            <p class="player-sno">{{i+1}}.</p>
                            <p>{{player.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>