<div class="leaderboard-container">
    <div class="leaderboard-layout flex-hc">
        <div class="leaderboard-sidebar">
            <div class="innerContent ">
                <div class="sidebar-menu-list">
                    <div [ngClass]="_selectedTab ==='player'?'sidebar-menu flex-vc flex-hc p-links _selected':'sidebar-menu flex-vc flex-hc p-links'"
                        class="" (click)="setTab('player')">
                        <p class="text-center">Players</p>
                    </div>
                    <div [ngClass]="_selectedTab ==='squad'?'sidebar-menu flex-vc flex-hc p-links _selected':'sidebar-menu flex-vc flex-hc p-links'"
                        class="" (click)="setTab('squad')">
                        <p class="text-center">Squads</p>
                    </div>
                    <div [ngClass]="_selectedTab ==='createTie'?'sidebar-menu flex-vc flex-hc p-links _selected':'sidebar-menu flex-vc flex-hc p-links'"
                        (click)="setTab('createTie')">
                        <p class="text-center">Fixture</p>
                    </div>
                    <div [ngClass]="_selectedTab ==='forehandMaster'?'sidebar-menu flex-vc flex-hc p-links _selected':'sidebar-menu flex-vc flex-hc p-links'"
                        (click)="setTab('forehandMaster')">
                        <p class="text-center">Forehand Master</p>
                    </div>
                    <div [ngClass]="_selectedTab ==='backhandMaster'?'sidebar-menu flex-vc flex-hc p-links _selected':'sidebar-menu flex-vc flex-hc p-links'"
                        (click)="setTab('backhandMaster')">
                        <p class="text-center">Backhand Master</p>
                    </div>
                    <div [ngClass]="_selectedTab ==='ultimateServe'?'sidebar-menu flex-vc flex-hc p-links _selected':'sidebar-menu flex-vc flex-hc p-links'"
                        (click)="setTab('ultimateServe')">
                        <p class="text-center">Ultimate Serve</p>
                    </div>
                    <div [ngClass]="_selectedTab ==='leaderboard'?'sidebar-menu flex-vc flex-hc p-links _selected':'sidebar-menu flex-vc flex-hc p-links'"
                        (click)="setTab('leaderboard')">
                        <p class="text-center">Standings</p>
                    </div>
                    <div [ngClass]="_selectedTab ==='maxRally'?'sidebar-menu flex-vc flex-hc p-links _selected':'sidebar-menu flex-vc flex-hc p-links'"
                        (click)="setTab('maxRally')">
                        <p class="text-center">Max Rally</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- *ngIf="innerWidth > 668" -->
        <div class="leaderboard-content">
            <div class="innerContent p-3">
                <div class="forehand-master" *ngIf="_selectedTab ==='player'">
                    <div class="innerContent">
                        <div class="genderSeperator">
                            <div class="flex-vc flex-hc">
                                <div [ngClass]="_selectedGender === 'male'?'genderContainer flex-hc flex-grow-1 male _selected':'genderContainer flex-hc flex-grow-1 male'"
                                    (click)="setGender('male')">Male</div>
                                <div [ngClass]="_selectedGender === 'female'?'genderContainer flex-hc flex-grow-1 female _selected':'genderContainer flex-hc flex-grow-1 female'"
                                    (click)="setGender('female')">
                                    Female</div>
                            </div>
                        </div>
                        <div class="squads playerSection" *ngIf="_selectedGender === 'male'">
                            <div class="card-list row">
                                <div class=" col-lg-12 mt-3">
                                    <div class="utt-card card">
                                        <div class="card-heading">
                                            <h5 class="text-center">
                                                Players
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="flex-heading flex-vc">
                                                <div class="teamName  flex-grow-1">
                                                    <p>Players</p>
                                                </div>
                                                <div class="smallBlock">
                                                    <p class="text-center">win %</p>
                                                </div>
                                                <div class="smallBlock">
                                                    <p class="text-center">Game Streaks</p>
                                                </div>
                                                <div class="smallBlock">
                                                    <p class="text-center">Serve Conv. %</p>
                                                </div>
                                                <div class="smallBlock" style="width: 150px !important;">
                                                    <p class="text-center">Golden Point Won</p>
                                                </div>
                                                <div class="smallBlock" style="width: 150px !important;">
                                                    <p class="text-center">Avg 1st Point Win %</p>
                                                </div>
                                            </div>
                                            <div class="player" *ngFor="let item of malePlayers;let i=index">
                                                <div class="flex-vc">
                                                    <div class="flexContainer bigBlock p-2 flex-vc gap-2 flex-grow-1">
                                                        <p class="player-sno">{{i+1}}.</p>
                                                        <p>{{item.name}}</p>
                                                        <span pTooltip="Age : {{item.playing_details.age}}
                                                        World Rank : {{item.playing_details.world_rank}}
                                                        Killer Serve : {{item.playing_details.killer_serve}}
                                                        Ultimate Stroke : {{item.playing_details.ultimate_stroke}}
                                                        Style of Play : {{item.playing_details.style_of_play}}
                                                        " tooltipPosition="right">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor"
                                                                class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.win_percentage}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.current_set_streak}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.serve_conversion_rate}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2"
                                                        style="width: 150px !important;">
                                                        <p>{{item.golden_points_won}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2"
                                                        style="width: 150px !important;">
                                                        <p>{{item.first_point_win_rate}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="squads playerSection" *ngIf="_selectedGender === 'female'">
                            <div class="card-list row">
                                <div class=" col-lg-12 mt-3">
                                    <div class="card">
                                        <div class="card-heading">
                                            <h5 class="text-center">
                                                Players
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="flex-heading flex-vc">
                                                <div class="teamName  flex-grow-1">
                                                    <p>Players</p>
                                                </div>
                                                <div class="smallBlock">
                                                    <p class="text-center">win %</p>
                                                </div>
                                                <div class="smallBlock">
                                                    <p class="text-center">Game Streaks</p>
                                                </div>
                                                <div class="smallBlock">
                                                    <p class="text-center">Serve Conv. %</p>
                                                </div>
                                                <div class="smallBlock" style="width: 150px !important;">
                                                    <p class="text-center">Golden Point Won</p>
                                                </div>
                                                <div class="smallBlock" style="width: 150px !important;">
                                                    <p class="text-center">Avg 1st Point Win %</p>
                                                </div>
                                            </div>
                                            <div class="player" *ngFor="let item of femalePlayers;let i=index">
                                                <div class="flex-vc">
                                                    <div class="flexContainer bigBlock p-2 flex-vc gap-2 flex-grow-1">
                                                        <p class="player-sno">{{i+1}}.</p>
                                                        <p>{{item.name}}</p>
                                                        <span pTooltip="Age : {{item.playing_details.age}}
                                                        World Rank : {{item.playing_details.world_rank}}
                                                        Killer Serve : {{item.playing_details.killer_serve}}
                                                        Ultimate Stroke : {{item.playing_details.ultimate_stroke}}
                                                        Style of Play : {{item.playing_details.style_of_play}}
                                                        " tooltipPosition="right">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor"
                                                                class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.win_percentage}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.current_set_streak}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.serve_conversion_rate}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2"
                                                        style="width: 150px !important;">
                                                        <p>{{item.golden_points_won}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2"
                                                        style="width: 150px !important;">
                                                        <p>{{item.first_point_win_rate}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-squad *ngIf="_selectedTab ==='squad'"></app-squad>
                <app-create-tie *ngIf="_selectedTab ==='createTie'"></app-create-tie>
                <div class="forehand-master" *ngIf="_selectedTab ==='forehandMaster'">
                    <div class="innerContent">
                        <div class="genderDivider">
                            <div class="flex-vc header w-100">
                                <div class="flex-sb flex-vc w-100 p-2">
                                    <div class="heading">
                                        <h6>Male</h6>
                                    </div>
                                    <div class="winRate">
                                        <h6>FH win Rate</h6>
                                    </div>
                                </div>
                                <div class="flex-sb flex-vc w-100 p-2">
                                    <div class="heading">
                                        <h6>Female</h6>
                                    </div>
                                    <div class="winRate">
                                        <h6>FH win Rate</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-vc body">
                                <div class="male genderPart p-2">
                                    <div class="flex-vc gap-4" *ngFor="let item of maleList">
                                        <p class="flex-grow-1"> {{item.name}}</p>
                                        <p> {{item.forehand_win_rate}}</p>
                                    </div>
                                </div>
                                <div class="female genderPart p-2">
                                    <div class="flex-vc gap-4" *ngFor="let item of femaleList">
                                        <p class="flex-grow-1">{{item.name}}</p>
                                        <p>{{item.forehand_win_rate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forehand-master" *ngIf="_selectedTab ==='backhandMaster'">
                    <div class="innerContent">
                        <div class="genderDivider">
                            <div class="flex-vc header w-100">
                                <div class="flex-sb flex-vc w-100 p-2">
                                    <div class="heading">
                                        <h6>Male</h6>
                                    </div>
                                    <div class="winRate">
                                        <h6>BH win Rate</h6>
                                    </div>
                                </div>
                                <div class="flex-sb flex-vc w-100 p-2">
                                    <div class="heading">
                                        <h6>Female</h6>
                                    </div>
                                    <div class="winRate">
                                        <h6>BH win Rate</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-vc body">
                                <div class="male genderPart p-2">
                                    <div class="flex-vc gap-4" *ngFor="let item of maleList">
                                        <p class="flex-grow-1"> {{item.name}}</p>
                                        <p> {{item.backhand_win_rate}}</p>
                                    </div>
                                </div>
                                <div class="female genderPart p-2">
                                    <div class="flex-vc gap-4" *ngFor="let item of femaleList">
                                        <p class="flex-grow-1">{{item.name}}</p>
                                        <p>{{item.backhand_win_rate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forehand-master" *ngIf="_selectedTab ==='ultimateServe'">
                    <div class="innerContent">
                        <div class="genderDivider">
                            <div class="flex-vc header w-100">
                                <div class="flex-sb flex-vc w-100 p-2">
                                    <div class="heading">
                                        <h6>Male</h6>
                                    </div>
                                    <div class="winRate">
                                        <h6>Serve Conv.</h6>
                                    </div>
                                </div>
                                <div class="flex-sb flex-vc w-100 p-2">
                                    <div class="heading">
                                        <h6>Female</h6>
                                    </div>
                                    <div class="winRate">
                                        <h6>Serve Conv.</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-vc body">
                                <div class="male genderPart p-2">
                                    <div class="flex-vc gap-4" *ngFor="let item of maleList">
                                        <p class="flex-grow-1"> {{item.name}}</p>
                                        <p> {{item.serve_conversion_rate}}</p>
                                    </div>
                                </div>
                                <div class="female genderPart p-2">
                                    <div class="flex-vc gap-4" *ngFor="let item of femaleList">
                                        <p class="flex-grow-1">{{item.name}}</p>
                                        <p>{{item.serve_conversion_rate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forehand-master" *ngIf="_selectedTab ==='leaderboard'">
                    <div class="innerContent">
                        <div class="squads">
                            <div class="card-list row">
                                <div class=" col-lg-9 mt-3">
                                    <div class="utt-card  card">
                                        <div class="card-heading">
                                            <h5 class="text-center">
                                                Standings
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="flex-heading flex-vc">
                                                <div class="teamName flex-vc gap-2 p-2 flex-grow-1">
                                                    <h6>Pos.</h6>
                                                    <h6>Teams</h6>
                                                </div>
                                                <div class="smallBlock">
                                                    <h6 class="text-center">Ties</h6>
                                                </div>
                                                <div class="smallBlock">
                                                    <h6 class="text-center">Ties Won</h6>
                                                </div>
                                                <div class="smallBlock">
                                                    <h6 class="text-center">Matches Won</h6>
                                                </div>
                                                <div class="smallBlock">
                                                    <h6 class="text-center">Games Won</h6>
                                                </div>
                                                <div class="smallBlock">
                                                    <h6 class="text-center">Total Points</h6>
                                                </div>
                                            </div>
                                            <div class="player" *ngFor="let item of grpBoardList;let i=index">
                                                <div class="flex-vc">
                                                    <div class="flexContainer bigBlock p-2 flex-vc gap-2 flex-grow-1">
                                                        <p class="player-sno">{{i+1}}.</p>
                                                        <p>{{item.team.name}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.ties_played}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.ties_won}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.matches_won}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.games_won}}</p>
                                                    </div>
                                                    <div class="flexContainer smallBlock p-2">
                                                        <p>{{item.points_won}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forehand-master" *ngIf="_selectedTab ==='maxRally'">
                    <div class="innerContent">
                        <div class="genderDivider">
                            <div class="flex-vc header w-100">
                                <div class="flex-sb flex-vc w-100 p-2">
                                    <div class="heading">
                                        <h6>PLayers</h6>
                                    </div>
                                    <div class="winRate">
                                        <h6>Max Rally</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-vc body">
                                <div class="female genderPart p-2">
                                    <div class="flex-vc gap-4" *ngFor="let item of rallyList">
                                        <p class="flex-grow-1">{{item.name}}</p>
                                        <p>{{item.max_rally}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- <div class="row">
                            <div class="col-lg-4 mt-3" *ngFor="let item of rallyList">
                                <div class="rally-card flex-sb w-100">
                                    <div class="boxLine"></div>
                                    <div class="w-100">
                                        <div class="flex-vc w-100">
                                            <div class="names flex-grow-1 px-2">PLayers</div>
                                            <div class="maxRally px-2">
                                                <p>Max Rally</p>
                                            </div>
                                        </div>
                                        <div class="flex-vc w-100 mt-2">
                                            <div class="names flex-grow-1 px-2">{{item.name}}</div>
                                            <div class="maxRally px-2">
                                                {{item.max_rally}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>