.container-xxl {
    .innerSection {
        .feedbackSection {
            .row {
                background-color: var(--box-bg);
                border: 1px solid var(--stroke);
                border-radius: 4px;
                .thankYouMsg {
                    .logo {
                        margin: 0 2px;
                        span {
                            &:nth-of-type(1) {
                                animation-delay: 0.0s;
                            }

                            &:nth-of-type(2) {
                                animation-delay: 0.1s;
                            }

                            &:nth-of-type(3) {
                                animation-delay: 0.2s;
                            }

                            &:nth-of-type(4) {
                                animation-delay: 0.3s;
                            }

                            &:nth-of-type(5) {
                                animation-delay: 0.4s;
                            }

                            &:nth-of-type(6) {
                                animation-delay: 0.5s;
                            }

                            &:nth-of-type(7) {
                                animation-delay: 0.6s;
                            }

                            &:nth-of-type(8) {
                                animation-delay: 0.7s;
                            }
                        }
                    }
                }
            }
        }
        .DetailSection {
            padding: 0 30px;
            .secondRow {
                .recommendNumbers {
                    ul {
                        padding-left: 0;
                        li {

                            list-style: none;
                            width: 23px;
                            // border: 1px solid var(--text-color);
                            text-align: center;
                            border-radius: 50%;
                            transition: .3s ease;
                            &:hover {
                                border: 1px solid var(--text-color);
                            }
                        }
                    }
                }
            }

            .box-body {
                .bt {
                    .btn_green {
                        width: 20%;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}

.imj {
    /* height: 24px; */
    scale: 2;
}

.emojiSection {
    .imj {
        cursor: pointer;
        transition: .2s ease;

        &:hover {
            scale: 3;
            filter: drop-shadow(2px 4px 6px var(--text-color));
        }
    }
}

@keyframes wave-text {
    0% {
        transform: translateY(0em);
    }

    60% {
        transform: translateY(-0.6em);
    }

    100% {
        transform: translateY(0em);
    }
}

.logo.is-animetion span {
    display: inline-block;
    animation: wave-text 1s ease-in-out infinite;
}
.activeEmoji {
    scale: 3;
    filter: drop-shadow(2px 4px 6px var(--text-color));
}

.active_number {
    scale: 1.4;
    border: 1px solid var(--text-color);
}