<div class="container">
  <p-table id="print-section" class="common-table tbl" #request [value]="_matchDetailsList" [rows]="10"
    [showCurrentPageReport]="true" [paginator]="false" [globalFilterFields]="['name', 'email', 'country']">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="width: 20%">Date</th>
        <th pSortableColumn="email" style="width: 10%">Table</th>
        <th pSortableColumn="country" style="width: 20%">Time</th>
        <th pSortableColumn="club" style="width: 10%">Round</th>
        <th pSortableColumn="points" style="width: 20%">Group</th>
        <th pSortableColumn="payments" style="width: 20%">Players</th>
        <th pSortableColumn="payments" style="width: 20%">Umpire</th>
        <th class="text-center" pSortableColumn="action" style="width: 20%">
          Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr>
        <td>{{ users.name }}</td>
        <td>{{ users.email }}</td>
        <td>{{ users.state }}</td>
        <td>{{ users.club }}</td>
        <td>{{ users.points == null ? 0 : users.points }}</td>
        <td>{{ "Cash" }}</td>
        <td>

          <div class="dropbtn">
            <div class="dropdownUnpublish">
              <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                class="p-button-plain p-button-text p-button-rounded"></button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center py-4" colspan="8">No Player Found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>